{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<f:format.raw>
<f:if condition="{s:data.isArray(subject:'{s:data.valueForKey(array:document.fields, key:field)}')}">
	<ul style="margin-bottom:0px; list-style-type: none; margin-left:-1px;">
		<f:alias map="{
			swTypeV:'{g:languageVind(array:document.fields.d044LsS)}',
			swTypeO:'{g:languageOind(array:document.fields.d044LsS)}',
			swTypeI:'{g:languageIind(array:document.fields.d044LsS)}',
			resVtrue:'TRUE',
			resOtrue:'TRUE',
			resItrue:'TRUE'
		}">
			<f:if condition="{swTypeV}=={resVtrue}">
				<f:then>
					<f:for each="{s:data.valueForKey(array:document.fields, key:field)}" as="valueV" iteration="iteratorV">
						<f:alias map="{
							fieldContent:'{s:data.valueForKey(array:document.fields.d044Lsa, key:iteratorV.index)}',
							swwType:'{s:data.valueForKey(array:document.fields.d044LsS, key:iteratorV.index)}',
							vTrue:'v'
						}">
							<f:if condition="{swwType}=={vTrue}">
								<f:then>
									<f:alias map="{
										transl:'{f:translate(key:\'LLL:{settings.languageRootPath}locallang.xml:{fieldContent}\')}'
									}">
										<f:if condition="{transl}">
											<f:then>
												<li style="padding:0px 0px 0px 0px;">
													{transl}
												</li>
											</f:then>
											<f:else>
												<li style="padding:0px 0px 0px 0px;">
													{fieldContent}
												</li>
											</f:else>
										</f:if>
									</f:alias>
								</f:then>
							</f:if>
						</f:alias>
					</f:for>
				</f:then>
			</f:if>
			<f:if condition="{swTypeI}=={resItrue}">
				<f:then>
					<f:for each="{s:data.valueForKey(array:document.fields, key:field)}" as="valueI" iteration="iteratorI">
						<f:alias map="{
							fieldContent:'{s:data.valueForKey(array:document.fields.d044Lsa, key:iteratorI.index)}',
							swwType:'{s:data.valueForKey(array:document.fields.d044LsS, key:iteratorI.index)}',
							iTrue:'i'
						}">
							<f:if condition="{swwType}=={iTrue}">
								<f:then>
									<f:alias map="{
										transl:'{f:translate(key:\'LLL:{settings.languageRootPath}locallang.xml:{fieldContent}\')}'
									}">
										<f:if condition="{transl}">
											<f:then>
												<li style="padding:0px 0px 0px 0px;">
													{transl}<i>&nbsp;(Intermediärsprache)</i>
												</li>
											</f:then>
											<f:else>
												<li style="padding:0px 0px 0px 0px;">
													{fieldContent}<i>&nbsp;(Intermediärsprache)</i>
												</li>
											</f:else>
										</f:if>
									</f:alias>
								</f:then>
							</f:if>
						</f:alias>
					</f:for>
				</f:then>
			</f:if>
			<f:if condition="{swTypeO}=={resOtrue}">
				<f:then>
					<f:for each="{s:data.valueForKey(array:document.fields, key:field)}" as="valueO" iteration="iteratorO">
						<f:alias map="{
							fieldContent:'{s:data.valueForKey(array:document.fields.d044Lsa, key:iteratorO.index)}',
							swwType:'{s:data.valueForKey(array:document.fields.d044LsS, key:iteratorO.index)}',
							oTrue:'o'
						}">
							<f:if condition="{swwType}=={oTrue}">
								<f:then>
									<f:alias map="{
										transl:'{f:translate(key:\'LLL:{settings.languageRootPath}locallang.xml:{fieldContent}\')}'
									}">
										<f:if condition="{transl}">
											<f:then>
												<li style="padding:0px 0px 0px 0px;">
													{transl}<i>&nbsp;(Originalsprache)</i>
												</li>
											</f:then>
											<f:else>
												<li style="padding:0px 0px 0px 0px;">
													{fieldContent}<i>&nbsp;(Originalsprache)</i>
												</li>
											</f:else>
										</f:if>
									</f:alias>
								</f:then>
							</f:if>
						</f:alias>
					</f:for>
				</f:then>
			</f:if>
		</f:alias>
	</ul>
</f:if>
</f:format.raw>
