{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/find.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_gjz/Resources/Public/JavaScript/chosen.jquery.min.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_gjz/Resources/Public/JavaScript/jstree/src/jstree.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/excanvas.min.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/jquery.flot.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/jquery.flot.selection.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/jquery.flot.categories.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/jquery.flot.canvas.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_gjz/Resources/Public/JavaScript/jquery.flot.valuelabels.js"/>
<s:page.linkCSS file="EXT:tmpl_gjz/Resources/Public/JavaScript/jstree/src/themes/default/style.css"/>
<s:page.linkCSS file="EXT:tmpl_gjz/Resources/Public/CSS/find.css"/>
<s:page.linkCSS file="EXT:tmpl_gjz/Resources/Public/CSS/fontello.css"/>
<s:page.linkCSS file="EXT:tmpl_gjz/Resources/Public/CSS/chosen.min.css"/>
  <div id="tx_find_SST-caption">
    <form class="formZssFields">
      <capts>
        Baumstruktur der historischen Fächersystematik
      </capts>
    </form>
  </div>
  <div id="tx_find-fieldsLeftZss">
    <section class="Systematik-Baumstruktur">
      <div id="classificationTree"></div>
      <t3jquery:addJQueryAndScript>
        <![CDATA[
        $(function () {
          $('#classificationTree').jstree(
          {
            'core' : {
              'data' : {
                'url' : 'fileadmin/user_upload/res/systematik_nodes.html',
                'data' : function (node) {
                  return { 'id' : node.id };
                }
              },
              'open_parents' : true,
              'load_open' : true,
              'expand_selected_onload' : true
            }
          });
        });
        $('#classificationTree').on("changed.jstree", function (e, data) {
          console.log(data.selected);
        });
        $('#classificationTree').on('loaded.jstree', function() {
          
          $.jstree.reference('#classificationTree').select_node(']]>{s:data.valueForKey(array:document.fields.d045Asa, key:0)}<![CDATA[');
        });
        ]]>
      </t3jquery:addJQueryAndScript>
    </section>
  </div>
</f:section>
