{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/find.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_gjz/Resources/Public/JavaScript/chosen.jquery.min.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_gjz/Resources/Public/JavaScript/jstree/src/jstree.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/excanvas.min.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/jquery.flot.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/jquery.flot.selection.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/jquery.flot.categories.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/jquery.flot.canvas.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_gjz/Resources/Public/JavaScript/jquery.flot.valuelabels.js"/>
<s:page.linkCSS file="EXT:tmpl_gjz/Resources/Public/JavaScript/jstree/src/themes/default/style.css"/>
<s:page.linkCSS file="EXT:tmpl_gjz/Resources/Public/CSS/find.css"/>
<s:page.linkCSS file="EXT:tmpl_gjz/Resources/Public/CSS/fontello.css"/>
<s:page.linkCSS file="EXT:tmpl_gjz/Resources/Public/CSS/chosen.min.css"/>
  <div id="tx_find_SST-caption">
    <form class="formZssFields">
      <capts>
        Baumstruktur
      </capts>
    </form>
  </div>
  <div id="tx_find-fieldsLeftZss">
    <section class="Systematik-Baumstruktur">
      <div id="classificationTree"></div>
      <t3jquery:addJQueryAndScript>
        <![CDATA[
        $(function () {
          $('#classificationTree')
          .jstree(
          {
            'core' : {
              'data' : {
                'url' : 'fileadmin/user_upload/res/systematik_nodes_queryLinks.html',
                'data' : function (node) {
                  return { 'id' : node.id };
                }
              },
              'open_parents' : true,
              'load_open' : true,
              'expand_selected_onload' : true
            }
          });
          .bind("select_node.jstree", function (e, data)
          {
            var href = data.rslt.obj.children("a").attr("href");
            // this will load content into a div:
            $("#").load(href);
            // this will follow the link:
            document.location.href = href;
          });
        });
        $('#classificationTree').on("changed.jstree", function (e, data) {
          console.log(data.selected);
        });
        $('#classificationTree').on('loaded.jstree', function() {
          
          $.jstree.reference('#classificationTree').select_node(']]>{s:data.valueForKey(array:document.fields.d045Asa, key:0)}<![CDATA[');
        });
        ]]>
      </t3jquery:addJQueryAndScript>
    </section>
  </div>
  
  
  <div id="tx_find-caption">
    <form class="formZssFields">
      <capts>
        Statistische Auswertung auf GJZ18-Datenbank
      </capts>
    </form>
  </div>
  <div id="tx_find-fieldsLeftZss">
    <section class="Systematik-Statistik">
      <f:alias map="{
          faecherStatistikVisualisierungData:'{g:SystemstellenErschienenErschlossen(beginn:1688, ende:1815)}',
          faecherStatistikVisualisierungDataMult:'{g:SystemstellenFaecher(beginn:1688, ende:1815)}'
        }">
        <div id="systemstellen-verteilung-visualisierung">
          <div class="systemstellen-visualisierung-container">
            <span class="plotTitle">Fächerverteilung</span>
            
            <div id="radio" class="chartType">
              <input type="radio" id="radio1" name="radio" checked="checked" ><label for="radio1">Zeitraum</label>
              <input type="radio" id="radio2" name="radio" ><label for="radio2">Einzeljahrgang</label>
              <input type="radio" id="radio3" name="radio" ><label for="radio3">Zwei Jahrgänge</label>
            </div>
            
            <span id="slider_selection1">
              <p>
                <label for="range"></label>
                <input type="text" id="range" readonly style="margin-left: 2px; border:0; color:#f6931f; font-weight:bold;">
              </p>
              <div id="slider_range"></div>
            </span>
            <div class="systemstellen-visualisierung-placeholder" id="placeholder1"></div>
            
            <span id="slider_selection2" style="display: none;">
              <p>
                <label for="single"></label>
                <input type="text" id="single" readonly style="margin-left: 122px; border:0; color:#f6931f; font-weight:bold;">
              </p>
              <div id="slider_year1"></div>
            </span>
            <div class="systemstellen-visualisierung-placeholder" id="placeholder2"></div>
            
            <span id="slider_selection3" style="display: none;">
              <p>
                <label for="single21"></label>
                <input type="text" id="single21" readonly style="width: 40px; margin-left: 215px; border:0; color:#409628; font-weight:bold;">
                vs.
                <label for="single22"></label>
                <input type="text" id="single22" readonly style="width: 40px; margin-left: 2px; border:0; color:#c0504d; font-weight:bold;">
              </p>
              <div id="slider_year21" style="margin-bottom:7px;"></div>
              <div id="slider_year22"></div>
            </span>
            <div class="systemstellen-visualisierung-placeholder" id="placeholder3"></div>
            
            <t3jquery:addJQueryAndScript>
              /** BEGIN: Toggle Functionality */
              $( "#radio1" ).click(function() {
                if(document.getElementById('slider_selection2').style.display !== 'none') {
                  $( "#placeholder2" ).toggle();
                  $( "#slider_selection2" ).toggle();
                }
                else if(document.getElementById('slider_selection3').style.display !== 'none') {
                  $( "#placeholder3" ).toggle();
                  $( "#slider_selection3" ).toggle();
                }
                $( "#placeholder1" ).toggle();
                $( "#slider_selection1" ).toggle();
              });
              $( "#radio2" ).click(function() {
                if(document.getElementById('slider_selection1').style.display !== 'none') {
                  $( "#placeholder1" ).toggle();
                  $( "#slider_selection1" ).toggle();
                }
                else if(document.getElementById('slider_selection3').style.display !== 'none') {
                  $( "#placeholder3" ).toggle();
                  $( "#slider_selection3" ).toggle();
                }
                $( "#placeholder2" ).toggle();
                $( "#slider_selection2" ).toggle();
              });
              $( "#radio3" ).click(function() {
                if(document.getElementById('slider_selection1').style.display !== 'none') {
                  $( "#placeholder1" ).toggle();
                  $( "#slider_selection1" ).toggle();
                }
                else if(document.getElementById('slider_selection2').style.display !== 'none') {
                  $( "#placeholder2" ).toggle();
                  $( "#slider_selection2" ).toggle();
                }
                $( "#placeholder3" ).toggle();
                $( "#slider_selection3" ).toggle();
              });
              /** END: Toggle Functionality */
            </t3jquery:addJQueryAndScript>
            
          </div>
          
          <t3jquery:addJQueryAndScript>

            <![CDATA[ var data = [ ]]><g:strreplace search="&quot;" replace="'">{faecherStatistikVisualisierungData}</g:strreplace><![CDATA[ ] ]]>;
            <![CDATA[ var dataClassificationMult = [ ]]>{faecherStatistikVisualisierungDataMult}<![CDATA[ ] ]]>;



            /** BUTTONS to switch between range plot and single year plot */
            $(function() {
              $( "#radio" ).buttonset();
            });



            /** BEGIN: slider_range */
            $(document).ready(function() {
              yearsArray = new Array(data.length);
              for (i=0; i < data.length; i++) {
                yearsArray[i] = data[i].data[0][0];
              }
              var minYAr = parseInt(yearsArray[0]);
              var maxYAr = parseInt(yearsArray[yearsArray.length-1]);
              $( "#slider_range" ).slider({
                range: true,
                min: minYAr,
                max: maxYAr,
                values: [ minYAr, maxYAr ],
                slide: function( event, ui ) {
                  $( "#range" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                  cpValMin = parseInt(ui.values[0])-parseInt(yearsArray[0]);
                  cpValMax = parseInt(ui.values[1])-parseInt(yearsArray[0]);
                  classesPlot(cpValMin, cpValMax);
                }
              });

              /** push values to slider_range div */
              $( "#range" ).val( $( "#slider_range" ).slider( "values", 0 ) + " - " + $( "#slider_range" ).slider( "values", 1 ) );

              /** calculate maximum for yAxis scale */
              var maxArrRange = new Array(17);
              var dataClassificationRangeMax = [ ["Wiss.", 0] , ["Philol.", 0] , ["Theol.", 0] , ["Jur.", 0] , ["Med.", 0] , ["Phil.", 0] , ["Päd.", 0] , ["Pol.", 0] , ["Mil.", 0] , ["Nat.", 0] , ["Tech.", 0] , ["Math.", 0] , ["Geo.", 0] , ["Gesch.", 0] , ["Kü.", 0] , ["Lit.", 0] , ["Verm.", 0] ];
              for (clR=0; clR<17; clR++) {
                for (ysR=0; ysR < yearsArray.length; ysR++) {
                  dataClassificationRangeMax[clR][1] = parseInt(dataClassificationRangeMax[clR][1]) + parseInt(dataClassificationMult[ysR][clR][1]);
                }
                maxArrRange[clR] = dataClassificationRangeMax[clR][1];
              }
              var maxValRange = Math.max.apply(null, maxArrRange);

              /** push values to classification div for plot */
              function classesPlot(vmin, vmax) {
                var dataClassificationSingle = [ ["Wiss.", 0] , ["Philol.", 0] , ["Theol.", 0] , ["Jur.", 0] , ["Med.", 0] , ["Phil.", 0] , ["Päd.", 0] , ["Pol.", 0] , ["Mil.", 0] , ["Nat.", 0] , ["Tech.", 0] , ["Math.", 0] , ["Geo.", 0] , ["Gesch.", 0] , ["Kü.", 0] , ["Lit.", 0] , ["Verm.", 0] ];
                var sumR = 0;
                for (cl=0; cl<17; cl++) {
                  for (ys=vmin; ys < vmax+1; ys++) {
                    dataClassificationSingle[cl][1] = parseInt(dataClassificationSingle[cl][1]) + parseInt(dataClassificationMult[ys][cl][1]);
                  }
                  sumR = parseInt(sumR) + parseInt(dataClassificationSingle[cl][1]);
                }

                $.plot("#placeholder1", [dataClassificationSingle], {
                  series: {
                    color: "#4579B3",
                    bars: {
                      show: true,
                      barWidth: 0.8,
                      align: "center",
                      lineWidth: .75
                    },
                    valueLabels: {
                      show: true,
                      showAsHtml: true,
                      valign: 'top',
                      align: 'center',
                      xoffset: -17,
                      yoffset: -12,
                      useDecimalComma: true,
                      labelFormatter: function (v) {
                        if (sumR !== 0) { var part = (v/sumR)*100; }
                        else { var part = 0; }
                        return (+part).toFixed(2) + '%';
                      }
                    }
                  },
                  xaxis: {
                    mode: "categories",
                    tickLength: 0
                  },
                  yaxis: {
                    min: 0/*,
                    max: maxValRange*1.1*/
                  }
                });
              }
              window.onload = classesPlot(data[0].data[0][0]-data[0].data[0][0], data[data.length-1].data[0][0]-data[0].data[0][0]);
            });
            /** END: slider_range */



            /** BEGIN: slider_year1 */
            $(document).ready(function() {
              yearsArray = new Array(data.length);
              for (i=0; i < data.length; i++) {
                yearsArray[i] = data[i].data[0][0];
              }
              var minYAs = parseInt(yearsArray[0]);
              var maxYAs = parseInt(yearsArray[yearsArray.length-1]);
              $( "#slider_year1" ).slider({
                value:minYAs,
                min: minYAs,
                max: maxYAs,
                step: 1,
                slide: function( event, ui ) {
                  $( "#single" ).val( ui.value );
                  classesPlotSingleYear(ui.value-minYAs);
                }
              });

              /** calculate maximum for yAxis scale */
              var maxArrSingle = new Array(17);
              var maxValSingle = new Array(data.length);
              var dataClassificationSingleMax = [ ["Wiss.", 0] , ["Philol.", 0] , ["Theol.", 0] , ["Jur.", 0] , ["Med.", 0] , ["Phil.", 0] , ["Päd.", 0] , ["Pol.", 0] , ["Mil.", 0] , ["Nat.", 0] , ["Tech.", 0] , ["Math.", 0] , ["Geo.", 0] , ["Gesch.", 0] , ["Kü.", 0] , ["Lit.", 0] , ["Verm.", 0] ];
              for (ysS=0; ysS < data.length; ysS++) {
                for (clS=0; clS<17; clS++) {
                  maxArrSingle[clS] = parseInt(dataClassificationMult[ysS][clS][1]);
                }
                maxValSingle[ysS] = Math.max.apply(null, maxArrSingle);
              }
              var maxValSingleOverall = Math.max.apply(null, maxValSingle);

              /** push values to slider_year1 div */
              $( "#single" ).val( $( "#slider_year1" ).slider( "value" ) );

              /** push values to classification div for plot */
              function classesPlotSingleYear(valueSY) {
                var dataClassificationSingle = dataClassificationMult[valueSY];
                var sumS = 0;
                for (cl=0; cl<17; cl++) {
                  sumS = parseInt(sumS) + parseInt(dataClassificationSingle[cl][1]);
                }
                $.plot("#placeholder2", [dataClassificationSingle], {
                  series: {
                    color: "#4579B3",
                    bars: {
                      show: true,
                      barWidth: 0.8,
                      align: "center",
                      lineWidth: .75
                    },
                    valueLabels: {
                      show: true,
                      showAsHtml: true,
                      valign: 'top',
                      align: 'center',
                      xoffset: -17,
                      yoffset: -12,
                      useDecimalComma: true,
                      labelFormatter: function (v) {
                        if (sumS !== 0) { var part = (v/sumS)*100; }
                        else { var part = 0; }
                        return (+part).toFixed(2) + '%';
                      }
                    }
                  },
                  xaxis: {
                    mode: "categories",
                    tickLength: 0
                  },
                  yaxis: {
                    min: 0/*,
                    max: maxValSingleOverall*1.1*/
                  }
                });
              }
              window.onload = classesPlotSingleYear(data[0].data[0][0]-data[0].data[0][0]);
              window.onload = document.getElementById('placeholder2').style.display = 'none';
            });
            /** END: slider_year1 */



            /** BEGIN: slider_year2 */
            $(document).ready(function() {
              yearsArray = new Array(data.length);
              for (i=0; i < data.length; i++) {
                yearsArray[i] = data[i].data[0][0];
              }
              var minYAs = parseInt(yearsArray[0]);
              var maxYAs = parseInt(yearsArray[yearsArray.length-1]);
              $( "#slider_year21" ).slider({
                value:minYAs,
                min: minYAs,
                max: maxYAs,
                step: 1,
                slide: function( event, ui ) {
                  $( "#single21" ).val( ui.value );
                  flag1 = "1";
                  classesPlotTwoSingleYears(ui.value-minYAs, flag1);
                }
              });
              $( "#slider_year22" ).slider({
                value:minYAs,
                min: minYAs,
                max: maxYAs,
                step: 1,
                slide: function( event, ui ) {
                  $( "#single22" ).val( ui.value );
                  flag2 = "2";
                  classesPlotTwoSingleYears(ui.value-minYAs, flag2);
                }
              });

              /** calculate maximum for yAxis scale */
              var maxArrSingle2 = new Array(17);
              var maxValSingle2 = new Array(data.length);
              var dataClassificationSingleMax = [ ["Wiss.", 0] , ["Philol.", 0] , ["Theol.", 0] , ["Jur.", 0] , ["Med.", 0] , ["Phil.", 0] , ["Päd.", 0] , ["Pol.", 0] , ["Mil.", 0] , ["Nat.", 0] , ["Tech.", 0] , ["Math.", 0] , ["Geo.", 0] , ["Gesch.", 0] , ["Kü.", 0] , ["Lit.", 0] , ["Verm.", 0] ];
              for (ysS=0; ysS < data.length; ysS++) {
                for (clS=0; clS<17; clS++) {
                  maxArrSingle2[clS] = parseInt(dataClassificationMult[ysS][clS][1]);
                }
                maxValSingle2[ysS] = Math.max.apply(null, maxArrSingle2);
              }
              var maxValSingleOverall2 = Math.max.apply(null, maxValSingle2);

              /** push values to slider_year1 and slider_year2 divs */
              $( "#single21" ).val( $( "#slider_year21" ).slider( "value" ) );
              $( "#single22" ).val( $( "#slider_year22" ).slider( "value" ) );

              /** push values to classification div for plot */
              function classesPlotTwoSingleYears(valueSY2, flag) {
                if(flag == "1") {
                  var valueSY21 = valueSY2;
                  var valueSY22 = parseInt(document.getElementById('single22').value)-yearsArray[0];
                  var dataClassificationTwoSingles1 = dataClassificationMult[valueSY21];
                  var dataClassificationTwoSingles2 = dataClassificationMult[valueSY22];
                }
                if(flag == "2") {
                  var valueSY21 = parseInt(document.getElementById('single21').value)-yearsArray[0];
                  var valueSY22 = valueSY2;
                  var dataClassificationTwoSingles1 = dataClassificationMult[valueSY21];
                  var dataClassificationTwoSingles2 = dataClassificationMult[valueSY22];
                }
                
                var sumS21 = 0;
                var sumS22 = 0;
                for (cl=0; cl<17; cl++) {
                  sumS21 = parseInt(sumS21) + parseInt(dataClassificationTwoSingles1[cl][1]);
                }
                for (cl=0; cl<17; cl++) {
                  sumS22 = parseInt(sumS22) + parseInt(dataClassificationTwoSingles2[cl][1]);
                }
                
                $.plot("#placeholder3", 
                  [
                    {
                      data: dataClassificationTwoSingles1,
                      color: '#409628',
                      label: parseInt(valueSY21)+parseInt(yearsArray[0]),
                      bars: { show: true, align:'right', barWidth:0.3 },
                      valueLabels: {
                        show: true,
                        showAsHtml: true,
                        valign: 'top',
                        align: 'center',
                        xoffset: -23,
                        yoffset: -22,
                        useDecimalComma: true,
                        labelFormatter: function (v) {
                          if (sumS21 !== 0) { var part21 = (v/sumS21)*100; }
                          else { var part21 = 0; }
                          return (+part21).toFixed(2) + '%';
                        }
                      }
                    },
                    {
                      data: dataClassificationTwoSingles2,
                      color: '#C0504D',
                      label: parseInt(valueSY22)+parseInt(yearsArray[0]),
                      bars: { show: true, align:'left', barWidth:0.3 },
                      valueLabels: {
                        show: true,
                        showAsHtml: true,
                        valign: 'top',
                        align: 'center',
                        xoffset: -8,
                        yoffset: -22,
                        useDecimalComma: true,
                        labelFormatter: function (v) {
                          if (sumS22 !== 0) { var part22 = (v/sumS22)*100; }
                          else { var part22 = 0; }
                          return (+part22).toFixed(2) + '%';
                        }
                      }
                    }
                  ], {
                  series: {
                    multipleBars: true,
                    bars: {
                      show: true,
                      barWidth: 0.8,
                      align: "center",
                      lineWidth: .75
                    }
                  },
                  legend: {
                    show: false,
                    margin: [515, -68],
                    noColumns: 2,
                    position: "ne",
                    backgroundColor: 0
                  },
                  xaxis: {
                    mode: "categories",
                    tickLength: 0
                  },
                  yaxis: {
                    min: 0/*,
                    max: maxValSingleOverall2*1.1*/
                  }
                });
              }
              window.onload = classesPlotTwoSingleYears(0 , "1");
              window.onload = document.getElementById('placeholder3').style.display = 'none';
            });
            /** END: slider_year2 */



          </t3jquery:addJQueryAndScript>
        </div>
      </f:alias>
    </section>
  </div>
</f:section>
