{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<f:format.raw>
	<f:if condition="{s:data.valueForKey(array:document.fields, key:field)}">
		<section>
			<f:alias map="{
			ppnSelf:'{s:data.valueForKey(array:document.fields.d003_s0, key:0)}',
			ppnParent:'{s:data.valueForKey(array:document.fields.d039Bs9, key:1)}',
			queryField:'d003_s0',
			trueCheck:'TRUE',
			falseCheck:'FALSE'
		}">
				<f:alias map="{
				partsArrParent:'{g:sammelwerk(array:document.fields.d003_s0, key:0)}',
				partsArrChild:'{g:sammelwerk(array:document.fields.d039Bs9, key:1)}'
			}">
					<f:if condition="{s:logic.or(conditions:'{0:partsArrParent, 1:partsArrChild}')}">
						<br />&nbsp;<hr style="border-color: lightgray" /><br />
						<span style="font-size: 100%; line-height: 2em; font-weight: bold; margin: 0; text-transform: uppercase; color: #222; font-family: 'Times New Roman',Times,serif; padding: 0; text-align: left;">
						Artikelteile
						<f:alias map="{
							captionArtikelteile:'Artikelteile'
						}">
							<!-- Tooltip -->
							<span id="tooltip_caption_{captionArtikelteile}" class="tooltip icon-popup" data-tooltip-content="#tooltip_content_caption_{captionArtikelteile}" alt="Kurzinformation zur Liste der {captionArtikelteile} anzeigen"></span>
							<div class="tooltip_templates">
								<span id="tooltip_content_caption_{captionArtikelteile}" class="tooltip_content" lang="de">
									<span id="tooltip_caption_{captionArtikelteile}" class="tooltip-close icon-cancel" alt="Kurzinfo schließen"></span>
									<f:render partial="Display/Info/TextsCaptions" arguments="{caption: captionArtikelteile}"/>
								</span>
							</div>
						</f:alias>
					</span><br />
						<f:if condition="{partsArrParent}">
							<f:then>
								<ul class="liste-teilartikel">
									<span style="background: none repeat scroll 0 0 transparent; color: #4579b3; text-decoration: none;"><b><li class="list-element-Dachartikel-active">Dachartikel</li></b></span>
									<f:for each="{partsArrParent}" as="valuePartParent" iteration="iteratorParent">
										<f:link.action
												action="detail"
												controller="Search"
												arguments="{
											id:'{valuePartParent}'
										}"
												class="detail-page-internal-noShadow"
												section="tx_find"
										>
											<li class="list-element-Teilartikel-inactive">Teil {iteratorParent.cycle}/{iteratorParent.total}</li>
										</f:link.action>
									</f:for>
								</ul>
							</f:then>
							<f:else>
								<f:if condition="{partsArrChild}">
									<ul class="liste-teilartikel">
										<f:link.action
												action="detail"
												name="#tx_find"
												controller="Search"
												arguments="{
										id:'{ppnParent}'
									}"
												class="detail-page-internal-noShadow"
												section="tx_find"
										>
											<li class="list-element-Dachartikel-inactive">Dachartikel</li>
										</f:link.action>
										<f:for each="{partsArrChild}" as="valuePartChild" iteration="iteratorChild">
											<f:alias map="{
											valueCompareCheck:'{g:sammelwerkValueCompare(value1:valuePartChild, value2:ppnSelf)}'
										}">
												<f:if condition="{valueCompareCheck}=={trueCheck}">
													<f:then>
														<span style="background: none repeat scroll 0 0 transparent; color: #4579b3; text-decoration: none;"><b><li class="list-element-Teilartikel-active">Teil {iteratorChild.cycle}/{iteratorChild.total}</li></b></span>
													</f:then>
													<f:else>
														<f:link.action
																action="detail"
																controller="Search"
																arguments="{
															id:'{valuePartChild}'
														}"
																class="detail-page-internal-noShadow"
																section="tx_find"
														>
															<li class="list-element-Teilartikel-inactive">Teil {iteratorChild.cycle}/{iteratorChild.total}</li>
														</f:link.action>
													</f:else>
												</f:if>
											</f:alias>
										</f:for>
									</ul>
								</f:if>
							</f:else>
						</f:if>
					</f:if>
				</f:alias>
			</f:alias>
		</section>
	</f:if>
</f:format.raw>
