{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<f:format.raw>
  <div id="tx_find-fields-ZSS-BuchBesprAngezAngek" class="tx_find-fieldsLeft">
  <f:if condition="{s:logic.or(conditions:'{0:document.d021Gsa, 1:document.d022A01, 2:document.d027A04, 3:document.d027A, 4:document.d027A01, 5:document.d027A02, 6:document.d027A03, 7:document.d039Pst}')}">
    <section class="BesprochenesWerk-Titel">
      <form>
        <label>
          Titel :
        </label>
        <output>
          <g:strreplace search="@" replace="">
            <f:if condition="{document.d021Gsa}">
              <f:then>
                <span class="titelabstand"><f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d021Gsa'}"/><br /></span>
              </f:then>
              <f:else>
                <f:if condition="{document.d039Pst}">
                  <span class="titelabstand"><f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d039Pst'}"/><br /></span>
                </f:if>
              </f:else>
            </f:if>
<f:comment>
            <f:if condition="{document.d025_}">
              <span class="titelabstand"><span class="titellabel">[Schreibvarianten, Verbundangabe]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d025_'}"/><br /></span>
            </f:if>
</f:comment>
            <f:if condition="{document.d027A}">
              <span class="titelabstand"><span class="titellabel">[Titel, Verbundangabe]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d027A'}"/><br /></span>
            </f:if>
            <f:if condition="{document.d027A01}">
              <span class="titelabstand"><span class="titellabel">[Nebentitel, Verbundangabe]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d027A01'}"/><br /></span>
            </f:if>
            <f:if condition="{document.d027A02}">
              <span class="titelabstand"><span class="titellabel">[Paralleltitel, Verbundangabe]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d027A02'}"/><br /></span>
            </f:if>
            <f:if condition="{document.d027A03}">
              <span class="titelabstand"><span class="titellabel">[übergeordneter Titel, Verbundangabe]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d027A03'}"/><br /></span>
            </f:if>
            <f:if condition="{document.d027A04}">
              <span class="titelabstand"><span class="titellabel">[Titelübersetzung aus Rez.]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d027A04'}"/><br /></span>
            </f:if>
            <f:if condition="{document.d022A01}">
              <span class="titelabstand"><span class="titellabel">[Originaltitel]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d022A01'}"/><br /></span>
            </f:if>
          </g:strreplace>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{s:logic.or(conditions:'{0:document.pd_PersonRezWerk, 1:document.pd_PersonRezWerkWidmungsempfaenger}')}">
    <section class="BesprochenesWerk-Personen">
      <form>
        <label>
          <f:if condition="{f:count(subject:document.pd_PersonRezWerk)} > 1">
            <f:then>
              Beteiligte Personen :
            </f:then>
            <f:else>
              <f:if condition="{f:count(subject:document.pd_PersonRezWerkWidmungsempfaenger)} > 1">
                <f:then>
                  Beteiligte Personen :
                </f:then>
                <f:else>
                  <f:if condition="{s:logic.and(conditions:'{0:document.pd_PersonRezWerk, 1:document.pd_PersonRezWerkWidmungsempfaenger}')}">
                    <f:then>
                      Beteiligte Personen :
                    </f:then>
                    <f:else>
                      Beteiligte Person :
                    </f:else>
                  </f:if>
                </f:else>
              </f:if>
            </f:else>
          </f:if>
        </label>
        <output>
          <ul style="margin-bottom:0; list-style-type: none; margin-left:-1px;">
            <f:if condition="{document.pd_PersonRezWerk}">
              <f:for each="{g:returnArray(array:document.pd_PersonRezWerk)}" as="singlePersonRezWerk_value" iteration="singlePersonRezWerk_iterator">
                <li style="padding:0px 0px 0px 0px;">
                  <g:strreplace search="(-gen-f-)" replace="">
                    {singlePersonRezWerk_value} <i>({g:PersonFunktionTranslate(array:document.pd_PersonRezWerk_Funktion, key:singlePersonRezWerk_iterator.index)})</i>
                  </g:strreplace>
                </li>
              </f:for>
            </f:if>
            <f:if condition="{document.pd_PersonRezWerkWidmungsempfaenger}">
              <f:for each="{g:returnArray(array:document.pd_PersonRezWerkWidmungsempfaenger)}" as="singlePersonRezWerkWidmungsempfaenger_value" iteration="singlePersonRezWerkWidmungsempfaenger_iterator">
                <li style="padding:0px 0px 0px 0px;">
                  <g:strreplace search="(-gen-f-)" replace="">
                    {singlePersonRezWerkWidmungsempfaenger_value} <i>({g:PersonFunktionTranslate(array:document.pd_PersonRezWerkWidmungsempfaenger_Funktion, key:singlePersonRezWerkWidmungsempfaenger_iterator.index)})</i>
                  </g:strreplace>
                </li>
              </f:for>
            </f:if>
          </ul>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{s:logic.or(conditions:'{0:document.pd029Gsa, 1:document.pd029Gs7, 2:document.pd029Gs8, 3:document.pd029Ksa, 4:document.pd029Ks7, 5:document.pd029Ks8}')}">
    <section class="BesprochenesWerk-Körperschaften">
      <f:if condition="{document.pd029Gsa}">
        <form>
          <f:render partial="Display/Field/Koerperschaften" arguments="{results:results, document:document, field1:'pd029Gsa', field2:'pd029Gs7', field3:'pd029Gs8', field4:'pd029GsB'}"/>
        </form>
      </f:if>
      <f:if condition="{document.pd029Ksa}">
        <form>
          <f:render partial="Display/Field/Koerperschaften" arguments="{results:results, document:document, field1:'pd029Ksa', field2:'pd029Ks7', field3:'pd029Ks8', field4:'pd029KsB'}"/>
        </form>
      </f:if>
    </section>
  </f:if>
  <f:if condition="{document.d021Gsd}">
    <f:then>
      <section class="BesprochenesWerk-Bibliografisches1-1">
        <form>
          <label>
            Bibliographische Angaben :
          </label>
          <output>
            <f:render partial="Display/Field/BibliografiePrefix" arguments="{results:results, document:document, field:'d021Gsd'}"/>
            <f:if condition="{s:logic.or(conditions:'{0:document.d033Asp, 1:document.d033Asn}')}">
              <f:render partial="Display/Field/BibliografiePrefixVerbund" arguments="{results:results, document:document, field:'d033A', field2:'d033Asp', field3:'d033Asn'}"/>
            </f:if>
            <f:if condition="{document.d011Bsa}">
              <f:then>
                <br /><span class="titellabel">[Verbundangabe]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d011Bsa'}"/>
              </f:then>
              <f:else>
                <f:if condition="{document.d033Fsh}">
                  <br /><span class="titellabel">[Verbundangabe]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d033Fsh'}"/>
                </f:if>
              </f:else>
            </f:if>
          </output>
        </form>
      </section>
    </f:then>
    <f:else>
      <f:if condition="{document.d039Psd}">
        <f:then>
          <section class="BesprochenesWerk-Bibliografisches1-1">
            <form>
              <label>
                Bibliographische Angaben :
              </label>
              <output>
                {g:valueForKey(array:document.d039Psd, key:0)}{f:if(condition:"{document.d039Pse}", then:": {g:valueForKey(array:document.d039Pse, key:0)}")}{f:if(condition:"{document.d039Psf}", then:", {g:valueForKey(array:document.d039Psf, key:0)}")}{f:if(condition:"{document.d039Psh}", then:" ({g:valueForKey(array:document.d039Psh, key:0)})")}
                <f:if condition="{s:logic.or(conditions:'{0:document.d033Asp, 1:document.d033Asn}')}">
                  <f:render partial="Display/Field/BibliografiePrefixVerbund" arguments="{results:results, document:document, field:'d033A', field2:'d033Asp', field3:'d033Asn'}"/>
                </f:if>
                <f:if condition="{document.d011Bsa}">
                  <f:then>
                    <br /><span class="titellabel">[Verbundangabe]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d011Bsa'}"/>
                  </f:then>
                  <f:else>
                    <f:if condition="{document.d033Fsh}">
                      <br /><span class="titellabel">[Verbundangabe]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d033Fsh'}"/>
                    </f:if>
                  </f:else>
                </f:if>
              </output>
            </form>
          </section>
        </f:then>
        <f:else>
          <f:if condition="{s:logic.or(conditions:'{0:document.d033Asp, 1:document.d033Asn, 2:document.d011Bsa, 3:document.d033Fsh}')}">
            <f:then>
              <section class="BesprochenesWerk-Bibliografisches1-2">
                <form>
                  <label>
                    Bibliographische Angaben :
                  </label>
                  <output>
                    <f:if condition="{s:logic.or(conditions:'{0:document.d033Asp, 1:document.d033Asn}')}">
                      <f:then>
                        <f:render partial="Display/Field/BibliografiePrefixVerbundSolo" arguments="{results:results, document:document, field:'d033A', field2:'d033Asp', field3:'d033Asn'}"/>
                        <f:if condition="{document.d011Bsa}">
                          <f:then>
                            <br /><span class="titellabel">[Verbundangabe]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d011Bsa'}"/>
                          </f:then>
                          <f:else>
                            <f:if condition="{document.d033Fsh}">
                              <br /><span class="titellabel">[Verbundangabe]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d033Fsh'}"/>
                            </f:if>
                          </f:else>
                        </f:if>
                      </f:then>
                      <f:else>
                        <f:if condition="{document.d011Bsa}">
                          <f:then>
                            <span class="titellabel">[Verbundangabe]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d011Bsa'}"/>
                          </f:then>
                          <f:else>
                            <f:if condition="{document.d033Fsh}">
                              <span class="titellabel">[Verbundangabe]</span>&nbsp;<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d033Fsh'}"/>
                            </f:if>
                          </f:else>
                        </f:if>
                      </f:else>
                    </f:if>
                  </output>
                </form>
              </section>
            </f:then>
          </f:if>
        </f:else>
      </f:if>
    </f:else>
  </f:if>
  <f:if condition="{document.d021Gsd}">
    <section class="BesprochenesWerk-Bibliografisches2">
      <g:strreplace search="(" replace="">
        <g:strreplace search=")" replace="">
          <f:render partial="Display/Field/BibliografieSuffix" arguments="{results:results, document:document, field:'d021Gsd'}"/>
        </g:strreplace>
      </g:strreplace>
    </section>
  </f:if>
  <f:if condition="{document.d009P01sy}">
    <f:then>
      <section class="4081_P01sy">
        <f:render partial="Display/Field/LinksRezWerk" arguments="{results:results, document:document, field:'d009P01sa', field2:'d009P01sy'}"/>
      </section>
    </f:then>
    <f:else>
      <f:if condition="{document.d009P01s0}">
        <section class="4081_P01s0">
          <f:render partial="Display/Field/LinksRezWerk" arguments="{results:results, document:document, field:'d009P01sa', field2:'d009P01s0'}"/>
        </section>
      </f:if>
    </f:else>
  </f:if>
  <f:if condition="{document.d006Zs0}">
    <section class="BesprochenesWerk-ZDBNr">
      <form>
        <label>
          ZDB-Nr. :
        </label>
        <output>
          <g:strreplace search="ZDB-ID " replace="">
            <g:strreplace search="ZDB ID " replace="">
              <g:strreplace search="ZDB: " replace="">
                <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d006Zs0'}"/>
                <f:alias map="{
                    zdbNr:'{s:data.valueForKey(array:document.fields.d006Zs0, key:0)}'
                  }">
                  &nbsp;
                  <f:if condition="{zdbNr}">
                      <f:link.external
                          uri="http://ld.zdb-services.de/resource/{zdbNr}"
                          target="_blank"
                          title="Öffnet externen Link in neuem Fenster:
http://ld.zdb-services.de/resource/{zdbNr}"
                        >
                          <img src="fileadmin/user_upload/Bilder/accessibilityicons/external_link_new_window.gif" />http://ld.zdb-services.de/resource/{zdbNr}
                      </f:link.external>
                  </f:if>
                </f:alias>
              </g:strreplace>
            </g:strreplace>
          </g:strreplace>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{document.d007Ss0}">
    <section class="BesprochenesWerk-VD17Nr">
      <form>
        <label>
          VD17-Nr. :
        </label>
        <output>
          <g:strreplace search="VD17" replace="">
            <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d007Ss0'}"/>
            <f:alias map="{
                vd17Nr:'{g:valueForKey(array:document.fields.d007Ss0, key:0)}'
              }">
              <f:if condition="{vd17Nr}">
                &nbsp;
                <f:link.external
                    uri="https://gso.gbv.de/DB=1.28/CMD?MATCFILTER=N&MATCSET=N&ACT0=&IKT0=&TRM0=&ACT3=*&IKT3=8183&ACT=SRCHA&IKT=8002&SRT=YOP&ADI_BIB=&TRM={vd17Nr}&REC=*&TRM3="
                    target="_blank"
                    title="Öffnet externen Link in neuem Fenster:
https://gso.gbv.de/DB=1.28/CMD?MATCFILTER=N&MATCSET=N&ACT0=&IKT0=&TRM0=&ACT3=*&IKT3=8183&ACT=SRCHA&IKT=8002&SRT=YOP&ADI_BIB=&TRM={vd17Nr}&REC=*&TRM3="
                  >
                    <img src="fileadmin/user_upload/Bilder/accessibilityicons/external_link_new_window.gif" />GBV-Suche: {vd17Nr}
                </f:link.external>
              </f:if>
            </f:alias>
          </g:strreplace>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{document.d006Ms0}">
    <section class="BesprochenesWerk-VD18Nr">
      <form>
        <label>
          VD18-Nr. :
        </label>
        <output>
          <g:strreplace search="VD18" replace="">
            <g:strreplace search="-001" replace="">
            <g:strreplace search="-002" replace="">
            <g:strreplace search="-003" replace="">
            <g:strreplace search="-004" replace="">
            <g:strreplace search="-005" replace="">
            <g:strreplace search="-006" replace="">
            <g:strreplace search="-007" replace="">
            <g:strreplace search="-008" replace="">
            <g:strreplace search="-009" replace="">
            <g:strreplace search="-010" replace="">
              <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d006Ms0'}"/>
              <f:alias map="{
                  vd18Nr:'{g:ZssVd18Nr(array:document.fields.d006M)}'
                }">
                <f:if condition="{vd18Nr}">
                  &nbsp;
                  <f:link.external
                      uri="http://gso.gbv.de/DB=1.65/CMD?ACT=SRCHA&IKT=8002&SRT=YOP&TRM={vd18Nr}&ADI_MAT=B&MATCFILTER=Y&MATCSET=Y&ADI_MAT=T&REC=*)"
                      target="_blank"
                      title="Öffnet externen Link in neuem Fenster:
http://gso.gbv.de/DB=1.65/CMD?ACT=SRCHA&IKT=8002&SRT=YOP&TRM={vd18Nr}&ADI_MAT=B&MATCFILTER=Y&MATCSET=Y&ADI_MAT=T&REC=*))"
                    >
                      <img src="fileadmin/user_upload/Bilder/accessibilityicons/external_link_new_window.gif" />GBV-Suche: {vd18Nr}
                  </f:link.external>
                </f:if>
              </f:alias>
              <f:if condition="{document.d006Xs0}">
                &nbsp;&nbsp;<i>(alternativ:&nbsp;<f:for each="{g:VDalternatives(array:document.fields.d006Xs0)}" as="valueVD18alt" iteration="iteratorVD18alt"><g:strreplace search=" , " replace=", ">{valueVD18alt}</g:strreplace>{f:if(condition:"{iteratorVD18alt.isLast}==0", then:", ")}</f:for>)</i>
              </f:if>
            </g:strreplace>
            </g:strreplace>
            </g:strreplace>
            </g:strreplace>
            </g:strreplace>
            </g:strreplace>
            </g:strreplace>
            </g:strreplace>
            </g:strreplace>
            </g:strreplace>
          </g:strreplace>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{document.d020Fsa}">
    <section class="BesprochenesWerk-Anmerkungen">
      <form>
        <label>
          Anmerkungen :
        </label>
        <output>
          <f:render partial="Display/Field/Comments" arguments="{results:results, document:document, field:'d020Fsa'}"/>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{s:logic.or(conditions:'{0:document.pd_SpracheRezWerkV, 1:document.pd_SpracheRezWerkI, 2:document.pd_SpracheRezWerkO}')}">
    <f:then>
      <section class="BesprochenesWerk-Sprache">
        <form>
          <label>
            Sprache :
          </label>
          <output>
            <ul style="margin-bottom:0px; list-style-type: none; margin-left:-1px;">
              <f:if condition="{document.pd_SpracheRezWerkV}">
                <f:then>
                  <li>
                    <f:for each="{g:returnArray(array:document.pd_SpracheRezWerkV)}" as="SpracheRezWerkV_value" iteration="SpracheRezWerkV_iterator">
                      {f:translate(key:'LLL:{settings.languageRootPath}locallang.xml:{SpracheRezWerkV_value}', default:'{SpracheRezWerkV_value}')}{f:if(condition:"{SpracheRezWerkV_iterator.isLast}==0", then:", ")}
                    </f:for>
                  </li>
                </f:then>
              </f:if>
              <f:if condition="{document.pd_SpracheRezWerkI}">
                <f:then>
                  <li>
                    <f:for each="{g:returnArray(array:document.pd_SpracheRezWerkI)}" as="SpracheRezWerkI_value" iteration="SpracheRezWerkI_iterator">
                      {f:translate(key:'LLL:{settings.languageRootPath}locallang.xml:{SpracheRezWerkI_value}', default:'{SpracheRezWerkI_value}')}<i>&nbsp;(Intermediärsprache)</i>{f:if(condition:"{SpracheRezWerkI_iterator.isLast}==0", then:", ")}
                    </f:for>
                  </li>
                </f:then>
              </f:if>
              <f:if condition="{document.pd_SpracheRezWerkO}">
                <f:then>
                  <li>
                    <f:for each="{g:returnArray(array:document.pd_SpracheRezWerkO)}" as="SpracheRezWerkO_value" iteration="SpracheRezWerkO_iterator">
                      {f:translate(key:'LLL:{settings.languageRootPath}locallang.xml:{SpracheRezWerkO_value}', default:'{SpracheRezWerkO_value}')}<i>&nbsp;(Originalsprache)</i>{f:if(condition:"{SpracheRezWerkO_iterator.isLast}==0", then:", ")}
                    </f:for>
                  </li>
                </f:then>
              </f:if>
            </ul>
          </output>
        </form>
      </section>
    </f:then>
  </f:if>
  <f:if condition="{document.d044Ksa}">
    <section class="BesprochenesWerk-Werktyp">
      <form>
        <label>
          <f:if condition="{document.d044K01}">
            <f:then>
              Werktypen :
            </f:then>
            <f:else>
              Werktyp :
            </f:else>
          </f:if>
        </label>
        <output>
          <f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d044Ksa'}"/>
          <f:if condition="{document.d044K01sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d044K01sa'}"/>
          </f:if>
          <f:if condition="{document.d044K02sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d044K02sa'}"/>
          </f:if>
          <f:if condition="{document.d044K03sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d044K03sa'}"/>
          </f:if>
          <f:if condition="{document.d044K04sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d044K04sa'}"/>
          </f:if>
          <f:if condition="{document.d044K05sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d044K05sa'}"/>
          </f:if>
          <f:if condition="{document.d044K06sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d044K06sa'}"/>
          </f:if>
          <f:if condition="{document.d044K07sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d044K07sa'}"/>
          </f:if>
          <f:if condition="{document.d044K08sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d044K08sa'}"/>
          </f:if>
          <f:if condition="{document.d044K09sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d044K09sa'}"/>
          </f:if>
        </output>
      </form>
    </section>
  </f:if>
</div>
</f:format.raw>
