{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<f:format.raw>
<div id="tx_find-caption-recordInfo">
	<form>
		<capts>
			&nbsp;
		</capts>
	</form>
</div>
<div id="tx_find-fieldsLeft">
<f:comment>
  <f:if condition="{document.d007Zs0}"></f:if>
</f:comment>
  <f:if condition="{document.d009_sb}">
    <section class="Datensatzinfo-Projekt">
      <form>
        <br />
        <label style="color:#999999">
          Projekt :
        </label>
        <output style="color:#999999">
          <f:render partial="Display/Field/SrcProject" arguments="{results:results, document:document, field:'d009_sb'}"/>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{document.d006Ys0}">
    <section class="Datensatzinfo-SAM-ID">
      <form>
        <br />
        <label style="color:#999999">
          SAM-ID :
        </label>
        <output style="color:#999999">
          <g:strreplace search="ADW: " replace="">
            <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d006Ys0'}"/>
          </g:strreplace>
        </output>
      </form>
    </section>
  </f:if>
  <f:alias map="{
    dateFirst:'{g:Datum(array:document.d001A)}',
    dateLast:'{g:Datum(array:document.d001B)}'
  }">
    <f:if condition="{document.d001As0}">
      <section class="Datensatzinfo-Erstelldatum">
        <form>
          <br />
          <label style="color:#999999">
            Erstellt am :
          </label>
          <output style="color:#999999">
            {dateFirst}
          </output>
        </form>
      </section>
    </f:if>
    <f:if condition="{document.d001Bs0}">
      <section class="Datensatzinfo-Änderungsdatum">
        <form>
          <label style="color:#999999">
            Letzte Änderung :
          </label>
          <output style="color:#999999">
            {dateLast}
          </output>
        </form>
      </section>
    </f:if>
  </f:alias>
  <br />
  <br />
</div>
</f:format.raw>
