{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<f:format.raw>
<div id="tx_find-caption">
	<form>
		<capts>
			Inhaltserschließung
			<!-- Tooltip -->
			<f:alias map="{
				captionInhaltserschliessung:'Inhaltserschliessung'
			}">
				<span id="tooltip_caption_{captionInhaltserschliessung}" class="tooltip icon-popup" data-tooltip-content="#tooltip_content_caption_{captionInhaltserschliessung}" alt="Kurzinformation zum Block {captionInhaltserschliessung} anzeigen"></span>
				<div class="tooltip_templates">
					<span id="tooltip_content_caption_{captionInhaltserschliessung}" class="tooltip_content" lang="de">
						<span id="tooltip_caption_{captionInhaltserschliessung}" class="tooltip-close icon-cancel" alt="Kurzinfo schließen"></span>
						<f:render partial="Display/Info/TextsCaptions" arguments="{caption: captionInhaltserschliessung}"/>
					</span>
				</div>
			</f:alias>
		</capts>
	</form>
</div>
<div id="tx_find-fieldsLeft">
	<f:if condition="{document.d045Q01s9}">
		<section class="Inhaltserschließung-Systemstelle">
			<form>
				<f:render partial="Display/Field/Systemstelle" arguments="{results:results, document:document, field:'d045Q01'}"/>
			</form>
		</section>
	</f:if>
	<f:if condition="{document.d044L}">
		<section class="Inhaltserschließung-Schlagwort">
			<f:render partial="Display/Field/Sww" arguments="{results:results, document:document, field:'d044LsS'}"/>
		</section>
	</f:if>
	<f:if condition="{document.d047Isa}">
		<section class="Inhaltserschließung-Bewertung" style="padding-top:13px;">
			<form>
				<label>
					Bewertung :
				</label>
				<output>
					<f:cObject typoscriptObjectPath="lib.replaceTextBewertung">
						<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d047Isa'}"/>
					</f:cObject>
				</output>
			</form>
		</section>
	</f:if>
	<f:if condition="{document.d039D}">
		<f:then>
			<section class="Inhaltserschließung-HorizontaleVerknuepfungBezug" style="padding-top:20px;">
				<f:render partial="Display/Field/HorizontalerLinkBezug" arguments="{results:results, document:document, field:'d039D'}"/>
			</section>
		</f:then>
	</f:if>
</div>
</f:format.raw>

<script>
	$(function() {
		var URLinTexts = document.getElementsByClassName("currentURL");
		for(var i = 0; i < URLinTexts.length; i++)
		{
			var hostname = window.location.hostname;
			if ( hostname.includes("localhost") ) {
				URLinTexts.item(i).innerHTML = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port;
			} else {
				URLinTexts.item(i).innerHTML = window.location.protocol + "//" + window.location.hostname;
			}
		}
	});
</script>
