{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<div id="tx_find-fieldsLeft">
  <section class="ID">
    <form>
      <label>
        ID (PPN) :
      </label>
      <output>
        <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d003_s0'}"/>
      </output>
    </form>
  </section>
  <f:if condition="{document.d041Asa}">
    <section class="Artikel-Nachrichtentyp">
      <form>
        <label>
          <f:if condition="{document.d041A01}">
            <f:then>
              Nachrichtentypen :
            </f:then>
            <f:else>
              Nachrichtentyp :
            </f:else>
          </f:if>
        </label>
        <output>
          <f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d041Asa'}"/>
          <f:if condition="{document.d041A01sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d041A01sa'}"/>
          </f:if>
          <f:if condition="{document.d041A02sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d041A02sa'}"/>
          </f:if>
          <f:if condition="{document.d041A03sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d041A03sa'}"/>
          </f:if>
          <f:if condition="{document.d041A04sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d041A04sa'}"/>
          </f:if>
          <f:if condition="{document.d041A05sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d041A05sa'}"/>
          </f:if>
          <f:if condition="{document.d041A06sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d041A06sa'}"/>
          </f:if>
          <f:if condition="{document.d041A07sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d041A07sa'}"/>
          </f:if>
          <f:if condition="{document.d041A08sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d041A08sa'}"/>
          </f:if>
          <f:if condition="{document.d041A09sa}">
            &nbsp;;&nbsp;<f:render partial="Display/Field/TypWerkNachricht" arguments="{results:results, document:document, field:'d041A09sa'}"/>
          </f:if>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{document.d010_}">
    <section class="Artikel-Sprache">
      <form>
        <label>
          Sprache :
        </label>
        <output>
          <f:render partial="Display/Field/SpracheArt" arguments="{results:results, document:document, field1:'d010_sa', field2:'d010_sb', field3:'d010_sc'}"/>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{s:logic.or(conditions:'{
    0:document.d028A,
    1:document.d028B01,
    2:document.d028C
  }')}">
    <section class="Artikel-Personen">
      <form>
        <f:if condition="{s:logic.and(conditions:'{0:document.d028A, 1:document.d028B01}')}">
          <f:then>
            <label>
              Beteiligte Personen :
            </label>
            <output>
              <ul style="margin-bottom:0; list-style-type: none; margin-left:-1px;">
                <f:if condition="{document.d028A}">
                  <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028AsP', field2:'d028Asa', field3:'d028Asd', field4:'d028AsB', field5:'d028As7'}"/></li>
                </f:if>
                <f:if condition="{document.d028B01}">
                  <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028B01sP', field2:'d028B01sa', field3:'d028B01sd', field4:'d028B01sB', field5:'d028B01s7'}"/></li>
                </f:if>
                <f:if condition="{document.d028B02}">
                  <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028B02sP', field2:'d028B02sa', field3:'d028B02sd', field4:'d028B02sB', field5:'d028B02s7'}"/></li>
                </f:if>
                <f:if condition="{document.d028C}">
                  <f:alias map="{
                    counter3010:'{f:count(subject:document.fields.d028C)}'
                  }">
                    <f:if condition="{counter3010} > 10">
                      <f:then>
                        <ul style="margin-bottom:0; list-style-type: none; margin-left:-1px;">
                          <f:render partial="Display/Field/PersonenArtikel3010" arguments="{results:results, document:document, field0:'d028C'}"/>
                        </ul>
                      </f:then>
                      <f:else>
                        <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028CsP', field2:'d028Csa', field3:'d028Csd', field4:'d028CsB', field5:'d028Cs7'}"/></li>
                      </f:else>
                    </f:if>
                  </f:alias>
                </f:if>
                <f:if condition="{document.d028C01}">
                  <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C01sP', field2:'d028C01sa', field3:'d028C01sd', field4:'d028C01sB', field5:'d028C01s7'}"/></li>
                </f:if>
                <f:if condition="{document.d028C02}">
                  <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C02sP', field2:'d028C02sa', field3:'d028C02sd', field4:'d028C02sB', field5:'d028C02s7'}"/></li>
                </f:if>
                <f:if condition="{document.d028C03}">
                  <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C03sP', field2:'d028C03sa', field3:'d028C03sd', field4:'d028C03sB', field5:'d028C03s7'}"/></li>
                </f:if>
                <f:if condition="{document.d028C04}">
                  <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C04sP', field2:'d028C04sa', field3:'d028C04sd', field4:'d028C04sB', field5:'d028C04s7'}"/></li>
                </f:if>
                <f:if condition="{document.d028C05}">
                  <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C05sP', field2:'d028C05sa', field3:'d028C05sd', field4:'d028C05sB', field5:'d028C05s7'}"/></li>
                </f:if>
                <f:if condition="{document.d028C06}">
                  <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C06sP', field2:'d028C06sa', field3:'d028C06sd', field4:'d028C06sB', field5:'d028C06s7'}"/></li>
                </f:if>
                <f:if condition="{document.d028C07}">
                  <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C07sP', field2:'d028C07sa', field3:'d028C07sd', field4:'d028C07sB', field5:'d028C07s7'}"/></li>
                </f:if>
                <f:if condition="{document.d028C08}">
                  <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C08sP', field2:'d028C08sa', field3:'d028C08sd', field4:'d028C08sB', field5:'d028C08s7'}"/></li>
                </f:if>
                <f:if condition="{document.d028C09}">
                  <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C09sP', field2:'d028C09sa', field3:'d028C09sd', field4:'d028C09sB', field5:'d028C09s7'}"/></li>
                </f:if>
              </ul>
            </output>
          </f:then>
          <f:else>
            <f:if condition="{s:logic.and(conditions:'{0:document.d028C, 1:document.d028C01}')}">
              <f:then>
                <label>
                  Beteiligte Personen :
                </label>
                <output>
                  <ul style="margin-bottom:0; list-style-type: none; margin-left:-1px;">
                    <f:if condition="{document.d028A}">
                      <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028AsP', field2:'d028Asa', field3:'d028Asd', field4:'d028AsB', field5:'d028As7'}"/></li>
                    </f:if>
                    <f:if condition="{document.d028B01}">
                      <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028B01sP', field2:'d028B01sa', field3:'d028B01sd', field4:'d028B01sB', field5:'d028B01s7'}"/></li>
                    </f:if>
                    <f:if condition="{document.d028B02}">
                      <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028B02sP', field2:'d028B02sa', field3:'d028B02sd', field4:'d028B02sB', field5:'d028B02s7'}"/></li>
                    </f:if>
                    <f:if condition="{document.d028C}">
                      <f:alias map="{
                        counter3010:'{f:count(subject:document.fields.d028C)}'
                      }">
                        <f:if condition="{counter3010} > 10">
                          <f:then>
                            <ul style="margin-bottom:0; list-style-type: none; margin-left:-1px;">
                              <f:render partial="Display/Field/PersonenArtikel3010" arguments="{results:results, document:document, field0:'d028C'}"/>
                            </ul>
                          </f:then>
                          <f:else>
                            <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028CsP', field2:'d028Csa', field3:'d028Csd', field4:'d028CsB', field5:'d028Cs7'}"/></li>
                          </f:else>
                        </f:if>
                      </f:alias>
                    </f:if>
                    <f:if condition="{document.d028C01}">
                      <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C01sP', field2:'d028C01sa', field3:'d028C01sd', field4:'d028C01sB', field5:'d028C01s7'}"/></li>
                    </f:if>
                    <f:if condition="{document.d028C02}">
                      <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C02sP', field2:'d028C02sa', field3:'d028C02sd', field4:'d028C02sB', field5:'d028C02s7'}"/></li>
                    </f:if>
                    <f:if condition="{document.d028C03}">
                      <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C03sP', field2:'d028C03sa', field3:'d028C03sd', field4:'d028C03sB', field5:'d028C03s7'}"/></li>
                    </f:if>
                    <f:if condition="{document.d028C04}">
                      <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C04sP', field2:'d028C04sa', field3:'d028C04sd', field4:'d028C04sB', field5:'d028C04s7'}"/></li>
                    </f:if>
                    <f:if condition="{document.d028C05}">
                      <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C05sP', field2:'d028C05sa', field3:'d028C05sd', field4:'d028C05sB', field5:'d028C05s7'}"/></li>
                    </f:if>
                    <f:if condition="{document.d028C06}">
                      <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C06sP', field2:'d028C06sa', field3:'d028C06sd', field4:'d028C06sB', field5:'d028C06s7'}"/></li>
                    </f:if>
                    <f:if condition="{document.d028C07}">
                      <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C07sP', field2:'d028C07sa', field3:'d028C07sd', field4:'d028C07sB', field5:'d028C07s7'}"/></li>
                    </f:if>
                    <f:if condition="{document.d028C08}">
                      <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C08sP', field2:'d028C08sa', field3:'d028C08sd', field4:'d028C08sB', field5:'d028C08s7'}"/></li>
                    </f:if>
                    <f:if condition="{document.d028C09}">
                      <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C09sP', field2:'d028C09sa', field3:'d028C09sd', field4:'d028C09sB', field5:'d028C09s7'}"/></li>
                    </f:if>
                  </ul>
                </output>
              </f:then>
              <f:else>
                <f:if condition="{s:logic.and(conditions:'{0:document.d028A, 1:document.d028C}')}">
                  <f:then>
                    <label>
                      Beteiligte Personen :
                    </label>
                    <output>
                      <ul style="margin-bottom:0; list-style-type: none; margin-left:-1px;">
                        <f:if condition="{document.d028A}">
                          <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028AsP', field2:'d028Asa', field3:'d028Asd', field4:'d028AsB', field5:'d028As7'}"/></li>
                        </f:if>
                        <f:if condition="{document.d028B01}">
                          <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028B01sP', field2:'d028B01sa', field3:'d028B01sd', field4:'d028B01sB', field5:'d028B01s7'}"/></li>
                        </f:if>
                        <f:if condition="{document.d028B02}">
                          <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028B02sP', field2:'d028B02sa', field3:'d028B02sd', field4:'d028B02sB', field5:'d028B02s7'}"/></li>
                        </f:if>
                        <f:if condition="{document.d028C}">
                          <f:alias map="{
                            counter3010:'{f:count(subject:document.fields.d028C)}'
                          }">
                            <f:if condition="{counter3010} > 10">
                              <f:then>
                                <ul style="margin-bottom:0; list-style-type: none; margin-left:-1px;">
                                  <f:render partial="Display/Field/PersonenArtikel3010" arguments="{results:results, document:document, field0:'d028C'}"/>
                                </ul>
                              </f:then>
                              <f:else>
<f:alias map="{
	field0Content:'{s:data.valueForKey(array:document.d028C, key:0)}',
	field1Content:'{s:data.valueForKey(array:document.d028Csa, key:0)}',
	field2Content:'{s:data.valueForKey(array:document.d028Csd, key:0)}',
	field3Content:'{s:data.valueForKey(array:document.d028Csc, key:0)}',
	field4Content:'{s:data.valueForKey(array:document.d028Csl, key:0)}',
	field5Content:'{s:data.valueForKey(array:document.d028CsB, key:0)}',
	field6Content:'{s:data.valueForKey(array:document.d028CsP, key:0)}',
	field7Content:'{s:data.valueForKey(array:document.d028Csf, key:0)}',
	field8Content:'{s:data.valueForKey(array:document.d028Cs7, key:0)}'
}">
<f:debug>
{field0Content}, 
{field1Content}, 
{field2Content}, 
{field3Content}, 
{field4Content}, 
{field5Content}, 
{field6Content}, 
{field7Content}, 
{field8Content}
</f:debug>
</f:alias>
                                <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028CsP', field2:'d028Csa', field3:'d028Csd', field4:'d028CsB', field5:'d028Cs7'}"/></li>
                              </f:else>
                            </f:if>
                          </f:alias>
                        </f:if>
                        <f:if condition="{document.d028C01}">
                          <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C01sP', field2:'d028C01sa', field3:'d028C01sd', field4:'d028C01sB', field5:'d028C01s7'}"/></li>
                        </f:if>
                        <f:if condition="{document.d028C02}">
                          <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C02sP', field2:'d028C02sa', field3:'d028C02sd', field4:'d028C02sB', field5:'d028C02s7'}"/></li>
                        </f:if>
                        <f:if condition="{document.d028C03}">
                          <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C03sP', field2:'d028C03sa', field3:'d028C03sd', field4:'d028C03sB', field5:'d028C03s7'}"/></li>
                        </f:if>
                        <f:if condition="{document.d028C04}">
                          <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C04sP', field2:'d028C04sa', field3:'d028C04sd', field4:'d028C04sB', field5:'d028C04s7'}"/></li>
                        </f:if>
                        <f:if condition="{document.d028C05}">
                          <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C05sP', field2:'d028C05sa', field3:'d028C05sd', field4:'d028C05sB', field5:'d028C05s7'}"/></li>
                        </f:if>
                        <f:if condition="{document.d028C06}">
                          <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C06sP', field2:'d028C06sa', field3:'d028C06sd', field4:'d028C06sB', field5:'d028C06s7'}"/></li>
                        </f:if>
                        <f:if condition="{document.d028C07}">
                          <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C07sP', field2:'d028C07sa', field3:'d028C07sd', field4:'d028C07sB', field5:'d028C07s7'}"/></li>
                        </f:if>
                        <f:if condition="{document.d028C08}">
                          <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C08sP', field2:'d028C08sa', field3:'d028C08sd', field4:'d028C08sB', field5:'d028C08s7'}"/></li>
                        </f:if>
                        <f:if condition="{document.d028C09}">
                          <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C09sP', field2:'d028C09sa', field3:'d028C09sd', field4:'d028C09sB', field5:'d028C09s7'}"/></li>
                        </f:if>
                      </ul>
                    </output>
                  </f:then>
                  <f:else>
                    <label>
                      Beteiligte Person :
                    </label>
                    <output>
                      <f:if condition="{document.d028A}">
                        <f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028AsP', field2:'d028Asa', field3:'d028Asd', field4:'d028AsB', field5:'d028As7'}"/>
                      </f:if>
                      <f:if condition="{document.d028B01}">
                        <f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028B01sP', field2:'d028B01sa', field3:'d028B01sd', field4:'d028B01sB', field5:'d028B01s7'}"/>
                      </f:if>
                      <f:if condition="{document.d028B02}">
                        <f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028B02sP', field2:'d028B02sa', field3:'d028B02sd', field4:'d028B02sB', field5:'d028B02s7'}"/>
                      </f:if>
                      <f:if condition="{document.d028C}">
                        <f:alias map="{
                          counter3010:'{f:count(subject:document.fields.d028C)}'
                        }">
                          <f:if condition="{counter3010} > 10">
                            <f:then>
                              <ul style="margin-bottom:0; list-style-type: none; margin-left:-1px;">
                                <f:render partial="Display/Field/PersonenArtikel3010" arguments="{results:results, document:document, field0:'d028C'}"/>
                              </ul>
                            </f:then>
                            <f:else>
                              <li><f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028CsP', field2:'d028Csa', field3:'d028Csd', field4:'d028CsB', field5:'d028Cs7'}"/></li>
                            </f:else>
                          </f:if>
                        </f:alias>
                      </f:if>
                      <f:if condition="{document.d028C01}">
                        <f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C01sP', field2:'d028C01sa', field3:'d028C01sd', field4:'d028C01sB', field5:'d028C01s7'}"/>
                      </f:if>
                      <f:if condition="{document.d028C02}">
                        <f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C02sP', field2:'d028C02sa', field3:'d028C02sd', field4:'d028C02sB', field5:'d028C02s7'}"/>
                      </f:if>
                      <f:if condition="{document.d028C03}">
                        <f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C03sP', field2:'d028C03sa', field3:'d028C03sd', field4:'d028C03sB', field5:'d028C03s7'}"/>
                      </f:if>
                      <f:if condition="{document.d028C04}">
                        <f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C04sP', field2:'d028C04sa', field3:'d028C04sd', field4:'d028C04sB', field5:'d028C04s7'}"/>
                      </f:if>
                      <f:if condition="{document.d028C05}">
                        <f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C05sP', field2:'d028C05sa', field3:'d028C05sd', field4:'d028C05sB', field5:'d028C05s7'}"/>
                      </f:if>
                      <f:if condition="{document.d028C06}">
                        <f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C06sP', field2:'d028C06sa', field3:'d028C06sd', field4:'d028C06sB', field5:'d028C06s7'}"/>
                      </f:if>
                      <f:if condition="{document.d028C07}">
                        <f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C07sP', field2:'d028C07sa', field3:'d028C07sd', field4:'d028C07sB', field5:'d028C07s7'}"/>
                      </f:if>
                      <f:if condition="{document.d028C08}">
                        <f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C08sP', field2:'d028C08sa', field3:'d028C08sd', field4:'d028C08sB', field5:'d028C08s7'}"/>
                      </f:if>
                      <f:if condition="{document.d028C09}">
                        <f:render partial="Display/Field/PersonenArtikel" arguments="{results:results, document:document, field1:'d028C09sP', field2:'d028C09sa', field3:'d028C09sd', field4:'d028C09sB', field5:'d028C09s7'}"/>
                      </f:if>
                    </output>
                  </f:else>
                </f:if>
              </f:else>
            </f:if>
          </f:else>
        </f:if>
      </form>
    </section>
  </f:if>
  <f:if condition="{document.d029Fsa}">
    <section class="Artikel-Körperschaften">
      <form>
        <f:render partial="Display/Field/Koerperschaften" arguments="{results:results, document:document, field1:'d029Fsa', field2:'d029FsB'}"/>
      </form>
    </section>
  </f:if>
  <f:if condition="{document.d021Asa}">
    <section class="Artikel-Titel">
      <form>
        <label>
          Titel :
        </label>
        <output>
          <g:strreplace search="@" replace="">
            <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d021Asa'}"/>
                    <f:if condition="{document.d021Asd}">
                      <f:then>
                  :<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d021Asd'}"/>
                </f:then>
               </f:if>
              <f:if condition="{document.d021Ash}">
                <f:then>
                  /<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d021Ash'}"/>
                </f:then>
              </f:if>
              <f:if condition="{document.d021Asf}">
                <f:then>
                  =<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d021Asf'}"/>
                </f:then>
              </f:if>
          </g:strreplace>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{document.d037A}">
    <section class="Artikel-AnmerkungenInhaltlich">
      <form>
        <label>
          Anmerkungen, inhaltlich :
        </label>
        <output>
          <f:render partial="Display/Field/Comments" arguments="{results:results, document:document, field:'d037Asa'}"/>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{document.d046Lsa}">
    <section class="Artikel-AnmerkungenFormal">
      <form>
        <label>
          Anmerkungen, formal :
        </label>
        <output>
          <f:render partial="Display/Field/Comments" arguments="{results:results, document:document, field:'d046Lsa'}"/>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{s:logic.or(conditions:'{0:document.fields.d027D, 1:document.fields.d039B}')}">
    <section class="Artikel-Zeitschrift">
      <form>
        <label>
          Zeitschrift :
        </label>
        <output>
          <f:alias map="{
            linkContent:'{s:data.valueForKey(array:document.fields.d039Bs9, key:0)}',
            queryField:'d003_s0',
            idPrefix:'oai:gbv.de:proj-gjz:ppn:'
          }">
            <f:if condition="{document.d027Dsa}">
              <f:then>
                <f:alias map="{
                    prefix1:'startseite/',
                    prefix2:'id',
                    prefix3:'/oai:gbv.de:proj-gjz:ppn:',
                    ppn:'{s:data.valueForKey(array:document.fields.d039Bs9, key:0)}',
                    suffix:'/#tx_find'
                  }">
                  <f:alias map="{
                      target:'{prefix1}{prefix2}{prefix3}{ppn}{suffix}'
                    }">
                    <a href="{target}">
                      <g:strreplace search="@" replace="">
                        <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d027Dsa'}"/>
                      </g:strreplace>
                    </a>
                  </f:alias>
                </f:alias>
<f:comment>
                <f:link.action
                  action="detail"
                  controller="Search"
                  arguments="{
                    q:'{default:\'{queryField}:\"{linkContent}\"\'}',
                    id:'{idPrefix}{linkContent}'
                  }"
                  class="external"
                >
                  <g:strreplace search="@" replace="">
                    <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d027Dsa'}"/>
                  </g:strreplace>
                </f:link.action>
                <g:strreplace search="@" replace="">
                  <f:translate key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.Zeitschrift.{linkContent}"/>
                </g:strreplace>
</f:comment>
              </f:then>
              <f:else>
                <f:if condition="{s:data.valueForKey(array:document.fields.d039Bs9, key:'0')}">
                  <f:alias map="{
                      prefix1:'startseite/',
                      prefix2:'id',
                      prefix3:'/oai:gbv.de:proj-gjz:ppn:',
                      ppn:'{s:data.valueForKey(array:document.fields.d039Bs9, key:0)}',
                      suffix:'/#tx_find'
                    }">
                    <f:alias map="{
                        target:'{prefix1}{prefix2}{prefix3}{ppn}{suffix}'
                      }">
                      <a href="{target}">
                        <g:strreplace search="@" replace="">
                          <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d039Bsa'}"/>
                        </g:strreplace>
                      </a>
                    </f:alias>
                  </f:alias>
<f:comment>
                  <f:link.action
                    action="detail"
                    controller="Search"
                    arguments="{
                      q:'{default:\'{queryField}:\"{linkContent}\"\'}',
                      id:'{idPrefix}{linkContent}'
                    }"
                    class="external"
                  >
                    <g:strreplace search="@" replace="">
                      <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d039Bsa'}"/>
                    </g:strreplace>
                  </f:link.action>
                  <g:strreplace search="@" replace="">
                    <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d039Bsa'}"/>
                  </g:strreplace>
</f:comment>
                </f:if>
              </f:else>
            </f:if>
          </f:alias>
        </output>
      </form>
<f:comment>                    
      <f:if condition="{document.d027Dsp}">
        <form>
          <label>
            Ort, Drucker, Verleger :
          </label>
          <output>
            <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d027Dsp'}"/>
            <f:if condition="{document.d027Dsn}">
              :<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d027Dsn'}"/>
            </f:if>
          </output>
        </form>
      </f:if>
</f:comment>
    </section>
  </f:if>
  <f:if condition="{s:data.valueForKey(array:document.fields.d039Bs9, key:'1')}">
    <section class="Artikel-Dachartikel">
      <form>
        <label>
          Übergeordneter Artikel :
        </label>
        <output>
          <g:strreplace search="@" replace="">
            <f:render partial="Display/Field/Dachartikel" arguments="{results:results, document:document, field:'d039Bsa'}"/>
          </g:strreplace>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{document.d039D}">
    <f:then>
      <section class="Artikel-HorizontaleVerknüpfung">
        <f:render partial="Display/Field/HorizontalerLink" arguments="{results:results, document:document, field:'d039D'}"/>
      </section>
    </f:then>
  </f:if>
  <f:if condition="{document.d031A}">
    <f:then>
      <section class="Artikel-Umfang4070">
        <f:if condition="{document.d031Asj}">
          <form>
            <label>
              Jahrgang :
            </label>
            <output>
              <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d031Asj'}"/>
            </output>
          </form>
        </f:if>
        <f:if condition="{document.d031Asc}">
          <form>
            <label>
              Ausgabe :
            </label>
            <output>
              <f:alias map="{
                  tag:'{s:data.valueForKey(array:document.fields.d031Asb, key:0)}',
                  monat:'{s:data.valueForKey(array:document.fields.d031Asc, key:0)}'
                }">
                <f:if condition="{document.d031Asb}">
                  <f:then>
                    {tag}.&nbsp;<f:translate key="LLL:{settings.languageRootPath}locallang.xml:months.{monat}" default="{monat}"/>
                  </f:then>
                  <f:else>
                    <f:translate key="LLL:{settings.languageRootPath}locallang.xml:months.{monat}" default="{monat}"/>
                  </f:else>
                </f:if>
              </f:alias>
            </output>
          </form>
        </f:if>
        <f:if condition="{s:logic.or(conditions:'{0:document.d031Asd, 1:document.d031Ase}')}">
          <form>
            <label>
              <f:if condition="{document.d031Asd}">
                Band
              </f:if>
              <f:if condition="{s:logic.and(conditions:'{0:document.d031Asd, 1:document.d031Ase}')}">
                ;
              </f:if>
              <f:if condition="{document.d031Ase}">
                Lieferung
              </f:if>:
            </label>
            <output>
              <f:if condition="{document.d031Asd}">
                <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d031Asd'}"/>
              </f:if>
              <f:if condition="{s:logic.and(conditions:'{0:document.d031Asd, 1:document.d031Ase}')}">
                ;
              </f:if>
              <f:if condition="{document.d031Ase}">
                <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d031Ase'}"/>
              </f:if>
            </output>
          </form>
        </f:if>
        <f:if condition="{document.d031Ash}">
          <form>
            <label>
              Umfang :
            </label>
            <output>
              S. <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d031Ash'}"/>
            </output>
          </form>
        </f:if>
      </section>
    </f:then>
  </f:if>
  <f:if condition="{document.d009P01sy}">
    <f:then>
      <section class="4081_P01sy">
        <f:render partial="Display/Field/LinksArtikel" arguments="{results:results, document:document, field:'d009P01sa', field2:'d009P01sy'}"/>
      </section>
    </f:then>
    <f:else>
      <f:if condition="{document.d009P01s0}">
        <section class="4081_P01s0">
          <f:render partial="Display/Field/LinksArtikel" arguments="{results:results, document:document, field:'d009P01sa', field2:'d009P01s0'}"/>
        </section>
      </f:if>
    </f:else>
  </f:if>
</div>
