{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<f:format.raw>
<div id="tx_find-caption">
	<form>
		<capts>
			<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d041Asa'}"/>
		</capts>
	</form>
</div>
<div id="tx_find-fieldsLeft">
	<section class="Normdatensatz-Gattung_NV-ID">
		<form>
			<label>
				ID (PPN) :
			</label>
			<output>
				<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d003_s0'}"/>
			</output>
		</form>
	</section>
	<section class="Normdatensatz-Gattung_NV-Gattungsbegriff">
		<form>
			<label>
				Datensatztyp :
			</label>
			<output>
				Normdatensatz (Gattung; IdZ u. IdRZ). Wird nicht mehr verwendet in GJZ 18!
			</output>
		</form>
	</section>
	<section class="Normdatensatz-Gattung_NV-Typ">
		<f:alias map="{
			fieldTypContent:'{g:GattungSpez(array:document.fields.d047Asa, key:0)}',
			FachTrue:'Fachspezifikation',
			FakultTrue:'Fakult',
			WerkformTrue:'Werkformspezifikation'
		}">
			<f:if condition="{fieldTypContent}=={FachTrue}">
				<f:then>
					<form>
						<label>
							Funktion :
						</label>
						<output>
							<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d047Asa'}"/>
						</output>
					</form>
				</f:then>
				<f:else>
					<f:if condition="{fieldTypContent}=={FakultTrue}">
						<f:then>
							<form>
								<label>
									Funktion :
								</label>
								<output>
									Fakultätsspezifikation; Abkürzung der Fakultät <b>
									<g:strreplace search="Fakultätsspezifikation: " replace="">
										<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d047Asa'}"/>
									</g:strreplace>
									</b>
								</output>
							</form>
						</f:then>
						<f:else>
							<f:if condition="{fieldTypContent}=={WerkformTrue}">
								<f:then>
									<form>
										<label>
											Funktion :
										</label>
										<output>
											Werkformspezifikation
										</output>
									</form>
								</f:then>
								<f:else>
									<form>
										<label>
											Funktion :
										</label>
										<output>
											Hauptgattungsbegriff <i>(ggf. durch Fach-, Fakultäts- oder Werkformspezifikationen ergänzt)</i>
										</output>
									</form>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
			<f:if condition="{document.ex_047Asa}">
				<f:then>
					<section class="Normdatensatz-Gattung_NV-Definition">
						<form>
							<label>
								Definition :
							</label>
							<output>
								<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'ex_047Asa'}"/>
							</output>
						</form>
					</section>
				</f:then>
			</f:if>
		</f:alias>
	</section>
	<f:if condition="{document.pd041Rs4}">
		<f:then>
			<f:if condition="{g:GattungHasRelatives(array:document.fields.pd041Rs4, string:'obal')}">
				<section class="Normdatensatz-Gattung_NV-Oberbegriffe">
					<f:render partial="Display/Field/GattungOB" arguments="{results:results, document:document}"/>
				</section>
			</f:if>
			<f:if condition="{g:GattungHasRelatives(array:document.fields.pd041Rs4, string:'vbal')}">
				<section class="Normdatensatz-Gattung_NV-Verwandte_Begriffe">
					<f:render partial="Display/Field/GattungVB" arguments="{results:results, document:document}"/>
				</section>
			</f:if>
		</f:then>
	</f:if>
	<f:if condition="{document.pd041_sa}">
		<f:then>
			<section class="Normdatensatz-Gattung-BF">
				<f:render partial="Display/Field/GattungBF" arguments="{results:results, document:document, field:'pd041_sa'}"/>
			</section>
		</f:then>
	</f:if>
	<f:if condition="{document.pd041Osa}">
		<section class="Normdatensatz-Gattung_NV-BS">
			<f:render partial="Display/Field/GattungBS" arguments="{results:results, document:document, field:'pd041Osa'}"/>
		</section>
	</f:if>
</div>
</f:format.raw>
