{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/jstree/src/jstree.js"/>
<t3jquery:addJQueryAndScript cssfile="EXT:find/Resources/Public/JavaScript/jstree/src/themes/default/style.css"/>

<div id="tx_find-caption">
  <form>
    <capts>
      Systemstelle: <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d045Asa'}"/>
    </capts>
  </form>
</div>
<div id="tx_find-fieldsLeft">
  <section class="Normdatensatz-Systemstelle-ID">
    <form>
      <label>
        ID (PPN) :
      </label>
      <output>
        <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d003_s0'}"/>
      </output>
    </form>
  </section>
  <section class="Normdatensatz-Systemstelle-Normdatensatztyp">
    <form>
      <label>
        Datensatztyp :
      </label>
      <output>
        Normdatensatz (Systemstelle)
      </output>
    </form>
  </section>
  <f:if condition="{document.d045Asa}">
    <section class="Normdatensatz-Systemstelle-Kürzel">
      <form>
        <label>
          Kürzel :
        </label>
        <output>
          <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d045Asa'}"/>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{document.d044Esa}">
    <section class="Normdatensatz-Systemstelle-Pfad">
      <form>
        <label>
          Pfad :
        </label>
        <output>
          <g:strreplace search=" ; " replace="&nbsp;&nbsp;/&nbsp;&nbsp;">
            <g:strreplace search=" / " replace="&nbsp;&nbsp;/&nbsp;&nbsp;">
              <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d044Esa'}"/>
            </g:strreplace>
          </g:strreplace>
        </output>
      </form>
    </section>
  </f:if>
</div>
<div id="tx_find-caption">
  <form class="formZssFields">
    <capts>
      Baumstruktur der Fächersystematik nach Ersch
    </capts>
  </form>
</div>
<div id="tx_find-fieldsLeftZss">
  <section class="Systematik-Baumstruktur">
    <f:alias map="{
        activeID:'{s:data.valueForKey(array:document.fields, key:d003_s0)}'
      }">
      <div id="jstree_demo_div">
        <ul>
          <li>Root node 1</li>
          <li>Root node 2</li>
        </ul>
      </div>
      <t3jquery:addJQueryAndScript>
        $(function () {
          <![CDATA[ var activeIDjs = [ ]]>{activeID}<![CDATA[ ] ]]>;
          $('#jstree_demo_div').jstree();
        });
      </t3jquery:addJQueryAndScript>
    </f:alias>
  </section>
</div>