{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}
<t3jquery:addJQueryAndScript jsfile="EXT:tmpl_gjz/Resources/Public/JavaScript/jstree/src/jstree.js"/>
<s:page.linkCSS file="EXT:tmpl_gjz/Resources/Public/JavaScript/jstree/src/themes/default/style.css"/>

<div id="tx_find-caption">
  <form>
    <capts>
      Systemstelle: <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d045Asa'}"/>
    </capts>
  </form>
</div>
<div id="tx_find-fieldsLeft">
  <section class="Normdatensatz-Systemstelle-ID">
    <form>
      <label>
        ID (PPN) :
      </label>
      <output>
        <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d003_s0'}"/>
      </output>
    </form>
  </section>
  <section class="Normdatensatz-Systemstelle-Normdatensatztyp">
    <form>
      <label>
        Datensatztyp :
      </label>
      <output>
        Normdatensatz (Systemstelle)
      </output>
    </form>
  </section>
  <f:if condition="{document.d045Asa}">
    <section class="Normdatensatz-Systemstelle-Kürzel">
      <form>
        <label>
          Kürzel :
        </label>
        <output>
          <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d045Asa'}"/>
        </output>
      </form>
    </section>
  </f:if>
  <f:if condition="{document.d044Esa}">
    <section class="Normdatensatz-Systemstelle-Pfad">
      <form>
        <label>
          Pfad :
        </label>
        <output>
          <g:strreplace search=" ; " replace="&nbsp;&nbsp;/&nbsp;&nbsp;">
            <g:strreplace search=" / " replace="&nbsp;&nbsp;/&nbsp;&nbsp;">
              <f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d044Esa'}"/>
            </g:strreplace>
          </g:strreplace>
        </output>
      </form>
    </section>
  </f:if>
</div>
<div id="tx_find-caption">
  <form class="formZssFields">
    <capts>
      Baumstruktur der Fächersystematik nach Ersch
    </capts>
  </form>
</div>
<div id="tx_find-fieldsLeftZss">
  <section class="Systematik-Baumstruktur">
    <f:alias map="{
        activeID:'{s:data.valueForKey(array:document.fields, key:d003_s0)}'
      }">
      <div id="classificationTree">
        <ul>
          <li id="n1">Root node 1
            <ul>
              <li id="n1.1">Child node 1.1</li>
              <li id="n1.2">Child node 1.2</li>
              <li id="n1.3">Child node 1.3</li>
            </ul>
          </li>
          <li id="n2">Root node 2
            <ul>
              <li id="n2.1">Child node 2.1</li>
              <li id="n2.2">Child node 2.2</li>
            </ul>
          </li>
        </ul>
      </div>
      <t3jquery:addJQueryAndScript>
        $(function () {
          <![CDATA[ var activeIDjs = [ ]]>{activeID}<![CDATA[ ] ]]>;
          $('#classificationTree').jstree(
          {
            'core' : {
              'open_parents' : true,
              'load_open' : true,
              'expand_selected_onload' : true
            }
          });
        });
        $('#classificationTree').on("changed.jstree", function (e, data) {
          console.log(data.selected);
        });
        $('#classificationTree').on('loaded.jstree', function() {
          $.jstree.reference('#classificationTree').select_node('n1.2');
        });
      </t3jquery:addJQueryAndScript>
    </f:alias>
  </section>
</div>