{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/excanvas.min.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/jquery.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/jquery.flot.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/jquery.flot.selection.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/jquery.flot.categories.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/flot/jquery.flot.canvas.js"/>
<t3jquery:addJQueryAndScript jsfile="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"/>

<div id="tx_find-caption">
  <form class="formZssFields">
    <capts>
      Statistische Auswertung auf GJZ18-Datenbank
    </capts>
  </form>
</div>
<div id="tx_find-fieldsLeftZss">
  
  <section class="Zeitschrift-Statistik-Erschienen-Erschlossen">
    <f:alias map="{
        ErschienenErschlossen:'{g:ZssStatistikErschienenErschlossen(string:document.d003_s0, beginn:document.i011_sa, ende:document.i011_sb)}'
      }">
      <f:if condition="{ErschienenErschlossen}">
        <f:then>
          <div id="erschienen-erschlossen-visualisierung">
            <div class="erschienen-erschlossen-visualisierung-container" id="erschienen-erschlossen-visualisierung-container">
              <span class="plotTitle">Bearbeitungsstand</span>
              <div id="placeholder1" class="erschienen-erschlossen-visualisierung-placeholder"></div>
            </div>
            <script type="text/javascript">
              <![CDATA[
                
                $(function () {
                  var data = [ ]]>{ErschienenErschlossen}<![CDATA[ ];
                  $.plot($("#placeholder1"), data, {
                    series: {
                      bars: {
                        show: true,
                        barWidth: 1,
                        align: "center",
                        lineWidth: .75
                      }
                    },
                    legend: {
                      show: true,
                      margin: [-5, -55],
                      noColumns: 2,
                      position: "se",
                      backgroundColor: 0
                    },
                    grid: {
                      hoverable: true,
                      clickable: true,
                      borderWidth: 0
                    },
                    xaxis: {
                      mode: "categories",
                      tickLength: 0,
                      ticks: function () {
                        var size = data.length-1;
                        if (size >= 10) {
                          var ticksArray = new Array(2);
                          ticksArray[0] = [ 0, data[0].data[0][0] ];
                          ticksArray[1] = [ size, data[size].data[0][0] ];
                          return ticksArray;
                        }
                        else {
                          var ticksArray = new Array(data.length);
                          for (var i=0; i<data.length; ++i) {
                            ticksArray[i] = [ i, data[i].data[0][0] ];
                          }
                          return ticksArray;
                        }
                      }
                    },
                    yaxis: {
                      min: 0,
                      max: 1,
                      ticks: 0
                    }
                  } );
                });
                
                var previousPoint = null;
                $("#placeholder1").bind("plothover", function (event, pos, item) {
                  if (item) {
                    if (previousPoint != item.datapoint) {
                      previousPoint = item.datapoint;
                      $("#tooltip").remove();
                      if (item.series.data[item.dataIndex][1] == 11111) {
                        item.series.data[item.dataIndex][1] = 0;
                      }
                      showTooltip(item.pageX, item.screenY, item.series.data[item.dataIndex][0] + ': ' + item.series.data[item.dataIndex][1] + ' Einträge');
                    }
                  } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                  }
                });
                
                function showTooltip(x, y, contents) {
                  $('<div id="tooltip">' + contents + '</div>').css( {
                    position: 'absolute',
                    display: 'none',
                    left: '45%',
                    border: '1px solid #fdd',
                    padding: '2px',
                    'background-color': '#fee',
                    opacity: 0.80
                  }).appendTo("#erschienen-erschlossen-visualisierung-container").fadeIn(0);
                }
                
              ]]>
            </script>
          </div>
        </f:then>
      </f:if>
    </f:alias>
  </section>
  
  <section class="Zeitschrift-Statistik-Systemstellen">
    <f:alias map="{
        systemstellen:'{g:ZssStatistikSystemstellen(string:document.d003_s0)}'
      }">
      <f:if condition="{systemstellen}">
        <f:then>
          <f:alias map="{
              faecherStatistikVisualisierungData:'{g:ZssStatistikSystemstellenFaecher(string:document.d003_s0, decision:2)}',
              faecherStatistikVisualisierungDataMult:'{g:ZssStatistikSystemstellenFaecher(string:document.d003_s0, decision:3, beginn:document.i011_sa, ende:document.i011_sb)}'
            }">
            <div id="systemstellen-verteilung-visualisierung">
              <div class="systemstellen-visualisierung-container" style="height: 500px; padding-bottom: 120px;">
                <span class="plotTitle">Fächerverteilung</span>
                <div id="radio">
                  <input type="radio" id="radio1" name="radio" checked="checked" onclick="toggle_visibility('slider_selection1', 'slider_selection2');"><label for="radio1">Zeitraum</label>
                  <input type="radio" id="radio2" name="radio" onclick="toggle_visibility('slider_selection1', 'slider_selection2');"><label for="radio2">einzelnes Jahr</label>
                </div>
                
                <span id="slider_selection1">
                  <p>
                    <label for="range"></label>
                    <input type="text" id="range" readonly style="border:0; color:#f6931f; font-weight:bold;">
                  </p>
                  <div id="slider_range"></div>
                </span>
                <div class="systemstellen-visualisierung-placeholder" id="placeholder2"></div>
                
                <span id="slider_selection2" style="display: none;">
                  <p>
                    <label for="single"></label>
                    <input type="text" id="single" readonly style="border:0; color:#f6931f; font-weight:bold;">
                  </p>
                  <div id="slider_year1"></div>
                </span>
                <div class="systemstellen-visualisierung-placeholder" id="placeholder3" style="opacity: 0; position: absolute; top: 0px; width: 818px; height: 358px; z-index: -1;"></div>
              
                <script type="text/javascript">
                  <![CDATA[
                    var data = [ ]]><g:strreplace search="&quot;" replace="'">{faecherStatistikVisualisierungData}</g:strreplace><![CDATA[ ];
                    var dataClassificationMult = ]]>{faecherStatistikVisualisierungDataMult}<![CDATA[ ;
                    
                    
                    
                    /** toggle function for button set */
                    $(document).ready(function toggle_visibility(id1, id2) {
                       var e1 = document.getElementById(id1);
                       var e1radio = document.getElementById('radio1');
                       var e1plot = document.getElementById('placeholder2');
                       var e2 = document.getElementById(id2);
                       var e2radio = document.getElementById('radio2');
                       var e2plot = document.getElementById('placeholder3');
                       if(e1.style.display !== 'none') {
                          e1.style.display = 'none';
                          e1plot.style.display = 'none';
                          e1radio.disabled = false;
                          e2.style.display = 'block';
                          e2plot.style.display = 'block';
                          e2plot.style.opacity = '1';
                          e2plot.style.position = 'relative';
                          e2plot.style.top = '0px';
                          e2plot.style.width = '100%';
                          e2plot.style.height = '100%';
                          e2plot.style.zIndex = '1';
                          e2radio.disabled = true;
                       }
                       else {
                          e1.style.display = 'block';
                          e1plot.style.display = 'block';
                          e1radio.disabled = true;
                          e2.style.display = 'none';
                          e2plot.style.display = 'none';
                          e2radio.disabled = false;
                       }
                    });
                    
                    
                    
                    /** buttons to switch between range plot and single year plot */
                    $(function() {
                      $( "#radio" ).buttonset();
                    });
                    
                    
                    
                    /** BEGIN: slider */
                    $(document).ready(function() {
                      var sizeData = data.length;
                      yearsArray = new Array(sizeData);
                      for (i=0; i<sizeData; i++) {
                        yearsArray[i] = data[i][0];
                      }
                      alert(yearsArray[2]);
                      $( "#slider_range" ).slider({
                        range: true,
                        min: yearsArray[0],
                        max: yearsArray[sizeData],
                        values: [ yearsArray[0], yearsArray[sizeData-1] ],
                        slide: function( event, ui ) {
                          $( "#range" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                          cpValMin = parseInt(ui.values[0])-parseInt(yearsArray[0]);
                          cpValMax = parseInt(ui.values[1])-parseInt(yearsArray[0]);
                          classesPlot(cpValMin, cpValMax);
                        }
                      });
                      
                      
                      
                      /** push values to slider_range div */
                      $( "#range" ).val( $( "#slider_range" ).slider( "values", 0 ) + " - " + $( "#slider_range" ).slider( "values", 1 ) );
                      
                      
                      
                      /** calculate maximum for yAxis scale */
                      var maxArrRange = new Array(17);
                      var dataClassificationRangeMax = [ ["Wiss.", 0] , ["Philol.", 0] , ["Theol.", 0] , ["Jur.", 0] , ["Med.", 0] , ["Phil.", 0] , ["Päd.", 0] , ["Pol.", 0] , ["Mil.", 0] , ["Nat.", 0] , ["Tech.", 0] , ["Math.", 0] , ["Geo.", 0] , ["Gesch.", 0] , ["Kü.", 0] , ["Lit.", 0] , ["Verm.", 0] ];
                      for (clR=0; clR<17; clR++) {
                        for (ysR=0; ysR<data.length; ysR++) {
                          dataClassificationRangeMax[clR][1] = parseInt(dataClassificationRangeMax[clR][1]) + parseInt(dataClassificationMult[ysR][clR][1]);
                        }
                        maxArrRange[clR] = dataClassificationRangeMax[clR][1];
                      }
                      var maxValRange = Math.max.apply(null, maxArrRange);
                      
                      
                      
                      /** push values to classification div for plot */
                      function classesPlot(vmin, vmax) {
                        var dataClassificationSingle = [ ["Wiss.", 0] , ["Philol.", 0] , ["Theol.", 0] , ["Jur.", 0] , ["Med.", 0] , ["Phil.", 0] , ["Päd.", 0] , ["Pol.", 0] , ["Mil.", 0] , ["Nat.", 0] , ["Tech.", 0] , ["Math.", 0] , ["Geo.", 0] , ["Gesch.", 0] , ["Kü.", 0] , ["Lit.", 0] , ["Verm.", 0] ];
                        for (cl=0; cl<17; cl++) {
                          for (ys=vmin; ys<vmax+1; ys++) {
                            dataClassificationSingle[cl][1] = parseInt(dataClassificationSingle[cl][1]) + parseInt(dataClassificationMult[ys][cl][1]);
                          }
                        }
                        
                        $.plot("#placeholder2", [dataClassificationSingle], {
                          series: {
                            bars: {
                              show: true,
                              barWidth: 0.8,
                              align: "center"
                            }
                          },
                          xaxis: {
                            mode: "categories",
                            tickLength: 0
                          },
                          yaxis: {
                            min: 0,
                            max: maxValRange*1.1
                          }
                        });
                      }
                      window.onload = classesPlot(data[0][0]-data[0][0], data[data.length-1][0]-data[0][0]);
                    });
                    /** END: slider */
                    
                    
                    
                  ]]>
                </script>
              </div>
            </div>
          </f:alias>
          <form class="formZssFields">
            <label>
              häufigste Systemstellen :
            </label>
            <output>
              <ul style="margin-bottom:0px;">
                <f:alias map="{
                    systemstellenPfad:'{g:ZssStatistikSystemstellenPfad(array:systemstellen)}',
                    systemstellenAnzahl:'{g:ZssStatistikSystemstellenAnzahl(array:systemstellen)}'
                  }">
                  <f:for each="{systemstellenPfad}" as="valueSystemstellenPfad" iteration="iteratorSystemstellen">
                    <li style="padding:0px 0px 7px 0px;">
                      <f:translate key="LLL:{settings.languageRootPath}locallang-facets-classificationpath.xml:facet.Systemstellen.{valueSystemstellenPfad}" default="{valueSystemstellenPfad}"/>
                      <ul style="margin-bottom:0px; padding:0px 0px 7px 4px;" type="circle">
                        <li>Notation: <f:translate key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.Systemstellen.{valueSystemstellenPfad}" default="{valueSystemstellenPfad}"/></li>
                        <li>Häufigkeit: {s:data.valueForKey(array:systemstellenAnzahl, key:iteratorSystemstellen.index)}</li>
                      </ul>
                    </li>
                  </f:for>
                </f:alias>
              </ul>
            </output>
          </form>
        </f:then>
      </f:if>
    </f:alias>
  </section>
  
</div>
