{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<div id="tx_find-caption">
  <form class="formZssFields">
    <capts>
      Statistische Auswertung auf GJZ18-Datenbank
    </capts>
  </form>
</div>
<div id="tx_find-fieldsLeftZss">
  
  <section class="Zeitschrift-Statistik-Systemstellen">
    <f:alias map="{
        systemstellen:'{g:ZssStatistikSystemstellen(string:document.d003_s0)}'
      }">
      <f:if condition="{systemstellen}">
        <f:then>
          <form class="formZssFields">
            <label>
              häufigste Systemstellen :
            </label>
            <output>&nbsp;
            </output>
          </form>
        </f:then>
      </f:if>
    </f:alias>
  </section>
  
</div>
