{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}
<f:layout name="Default"/>

<f:format.raw>
<f:section name="main">
  <f:comment>
    <s:page.title><g:strreplace search="@" replace="">{document.fields.d021Asa.0}</g:strreplace></s:page.title>
  </f:comment>
  <f:render partial="Page/Standard" arguments="{_all}"/>
  <f:render partial="Components/DetailResultPager" arguments="{_all}"/>

  <div id="tx_find-main">

    <article class="detail">
      <f:comment>
        <f:render partial="Display/Field/General" arguments="{_all}"/>
      </f:comment>

      <div class="main">
        <f:alias map="{
          MakContent:'{g:makValueForKey(array:document.fields.d002_s0, key:0)}',
          ZsTrue:'zs'
        }">
          <f:if condition="{MakContent}=={ZsTrue}">
            <f:then>
              <f:render partial="Display/DetailGroup/Zeitschrift" arguments="{results:results, document:document}"/>
              <f:render partial="Display/DetailGroup/ZeitschriftStatistik" arguments="{results:results, document:document}"/>
              <f:render partial="Display/DetailGroup/ZeitschriftProfil" arguments="{results:results, document:document}"/>
            </f:then>
          </f:if>
        </f:alias>
      </div>
    </article>
  </div>
</f:section>
</f:format.raw>
