{namespace s=Subugoe\Find\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:format.raw>
<f:switch expression="{caption}">
  <f:case value="Artikel_Nachricht">Hier finden Sie bibliographische Informationen zum Zeitschriftenartikel, die Verknüpfung mit dem Zeitschriftenprofil, ggf. Verknüpfungen mit anderen Artikeln und die Verlinkung zum Digitalisat bei Erschließungen durch GJZ 18.</f:case>
  <f:case value="Rezensiertes_Werk">Hier finden Sie bibliographische Informationen zum rezensierten Werk, bei Erschließungen durch GJZ 18 mit der Verlinkung zu einem Katalogeintrag und ggf. zum Digitalisat, teilweise ergänzt durch Verbundangaben der Bibliothekskataloge.</f:case>
  <f:case value="Angekuendigtes_Werk">Hier finden Sie bibliographische Informationen zum angekündigten Werk, bei Erschließungen durch GJZ 18 mit der Verlinkung zu einem Katalogeintrag und ggf. zum Digitalisat, teilweise ergänzt durch Verbundangaben der Bibliothekskataloge.</f:case>
  <f:case value="Angezeigtes_Werk">Hier finden Sie bibliographische Informationen zum angezeigten Werk, bei Erschließungen durch GJZ 18 mit der Verlinkung zu einem Katalogeintrag und ggf. zum Digitalisat, teilweise ergänzt durch Verbundangaben der Bibliothekskataloge.</f:case>
  <f:case value="Besprochenes_Werk">Hier finden Sie bibliographische Informationen zum besprochenen Werk, bei Erschließungen durch GJZ 18 mit der Verlinkung zu einem Katalogeintrag und ggf. zum Digitalisat, teilweise ergänzt durch Verbundangaben der Bibliothekskataloge.</f:case>
  <f:case value="Inhaltserschliessung">Die inhaltliche Erschließung der Zeitschriftenartikel erfolgt über eine Verschlagwortung nach Personen, Orten und Sachthemen. Im Falle von Buchbesprechungen wird die Bewertung des Werks festgehalten. Darüber hinaus werden ggf. Bezüge zu anderen Artikeln hergestellt. Einträgen der Projekte IdRZ 18 und GJZ 18 wurden Systemstellen der historischen Fächersystematik nach Ersch zugeordnet. <a href="/faechersystematik/" target="_blank"><span class="currentURL"></span>/faechersystematik/</a></f:case>
  <f:case value="Artikelteile">Im Falle eines in sich gegliederten Zeitschriftenartikels, der z.B. mehrere Werke nacheinander bespricht, können Sie sich hier darüber orientieren, aus wie vielen Teilen er besteht und welcher Teil Ihnen aktuell angezeigt wird.</f:case>
</f:switch>
</f:format.raw>
