{namespace s=Subugoe\Find\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:format.raw>
<f:alias map="{
  projectShort:'{fieldContentProject.0}'
}">
<f:switch expression="{projectShort}">
  <f:case value="idz">Das Projekt <b>IdZ 18</b> (1975–1986) bietet die inhaltliche Erschließung der Zeitschriften über eine Verschlagwortung nach Personen, Orten und Sachthemen. Die Einträge weisen keine Einordnung in die historische Fächersystematik und keine Verlinkung auf Digitalisate und Bibliothekskataloge auf. Informationen zu den einzelnen Projekten finden Sie hier: <br/><a href="http://www.gelehrte-journale.de/ueber-uns/projekte-und-datenbanken/" target="_blank">http://www.gelehrte-journale.de/ueber-uns/projekte-und-datenbanken/</a></f:case>
  <f:case value="idrz">Das Projekt <b>IdRZ 18</b> (1987–2007) bietet die inhaltliche Erschließung der Zeitschriften über eine Verschlagwortung nach Personen, Orten und Sachthemen und eine Einordnung in die historische Fächersystematik. Die Einträge weisen keine Verlinkung auf Digitalisate und Bibliothekskataloge auf. Informationen zu den einzelnen Projekten finden Sie hier: <br/><a href="http://www.gelehrte-journale.de/ueber-uns/projekte-und-datenbanken/" target="_blank">http://www.gelehrte-journale.de/ueber-uns/projekte-und-datenbanken/</a></f:case>
  <f:case value="gjz">Das Projekt <b>GJZ 18</b> (2011–2025) bietet die inhaltliche Erschließung der Zeitschriften über eine Verschlagwortung nach Personen, Orten und Sachthemen, eine Einordnung in die historische Fächersystematik und die Verlinkung auf Digitalisate und Bibliothekskataloge. Informationen zu den einzelnen Projekten finden Sie hier: <br/><a href="http://www.gelehrte-journale.de/ueber-uns/projekte-und-datenbanken/" target="_blank">http://www.gelehrte-journale.de/ueber-uns/projekte-und-datenbanken/</a></f:case>
</f:switch>
</f:alias>
</f:format.raw>
