{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<div id="tx_find-caption">
	<form>
		<capts>
			<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d041Asa'}"/>
		</capts>
	</form>
</div>
<div id="tx_find-fieldsLeft">
	<section class="Normdatensatz-Gattung-ID">
		<form>
			<label>
				ID (PPN) :
			</label>
			<output>
				<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d003_s0'}"/>
			</output>
		</form>
	</section>
	<section class="Normdatensatz-Gattung-Gattungsbegriff">
		<form>
			<label>
				Datensatztyp :
			</label>
			<output>
				Normdatensatz (Gattung)
			</output>
		</form>
	</section>
	<f:alias map="{
		fieldTypContent:'{g:GattungSpez(array:document.fields.d047Asa, key:0)}',
		FachTrue:'Fachspezifikation',
		FakultTrue:'Fakult',
		WerkformTrue:'Werkformspezifikation'
	}">
		<section class="Normdatensatz-Gattung-Typ">
			<form>
				<f:if condition="{fieldTypContent}=={FachTrue}">
					<f:then>
						<label>
							Funktion :
						</label>
						<output>
							<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d047Asa'}"/>
						</output>
					</f:then>
					<f:else>
						<f:if condition="{fieldTypContent}=={FakultTrue}">
							<f:then>
								<label>
									Funktion :
								</label>
								<output>
									Fakultätsspezifikation; Abkürzung der Fakultät <b>
									<g:strreplace search="Fakultätsspezifikation: " replace="">
										<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d047Asa'}"/>
									</g:strreplace>
									</b>
								</output>
							</f:then>
							<f:else>
								<f:if condition="{fieldTypContent}=={WerkformTrue}">
									<f:then>
										<label>
											Funktion :
										</label>
										<output>
											Werkformspezifikation
										</output>
									</f:then>
									<f:else>
										<label>
											Funktion :
										</label>
										<output>
											Hauptgattungsbegriff <i>(ggf. durch Fach-, Fakultäts- oder Werkformspezifikationen ergänzt)</i>
										</output>
									</f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</form>
		</section>
		<section class="Normdatensatz-Gattung-Definition">
			<form>
				<f:if condition="{document.d047Asa}">
					<f:then>
						<f:if condition="{fieldTypContent}!={FachTrue}">
							<f:then>
								<f:if condition="{fieldTypContent}!={FakultTrue}">
									<f:then>
										<f:if condition="{fieldTypContent}!={WerkformTrue}">
											<f:then>
												<label>
													Definition :
												</label>
												<output>
													<f:render partial="Display/Field/General" arguments="{results:results, document:document, field:'d047Asa'}"/>
												</output>
											</f:then>
										</f:if>
									</f:then>
								</f:if>
							</f:then>
						</f:if>
					</f:then>
				</f:if>
			</form>
		</section>
	</f:alias>
	<f:if condition="{document.d041Rs4}">
		<section class="Normdatensatz-Gattung-Oberbegriffe">
			<form>
				<f:render partial="Display/Field/GattungOB" arguments="{results:results, document:document, field:'d041Rs4'}"/>
			</form>
		</section>
		<section class="Normdatensatz-Gattung-Verwandte_Begriffe">
			<form>
				<f:render partial="Display/Field/GattungVB" arguments="{results:results, document:document, field:'d041Rs4'}"/>
			</form>
		</section>
	</f:if>
	<f:if condition="{document.d041_sa}">
		<section class="Normdatensatz-Gattung-BF">
			<form>
				<f:render partial="Display/Field/GattungBF" arguments="{results:results, document:document, field:'d041_sa'}"/>
			</form>
		</section>
	</f:if>
</div>
