
.icon-user:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-user-add:before { content: '\e802'; } /* '' */
.icon-info:before { content: '\e803'; } /* '' */
.icon-info-circled-1:before { content: '\e804'; } /* '' */
.icon-layout:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-check:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-cancel-circled:before { content: '\e809'; } /* '' */
.icon-cancel-squared:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-plus-circled:before { content: '\e80c'; } /* '' */
.icon-plus-squared:before { content: '\e80d'; } /* '' */
.icon-minus:before { content: '\e80e'; } /* '' */
.icon-minus-circled:before { content: '\e80f'; } /* '' */
.icon-minus-squared:before { content: '\e810'; } /* '' */
.icon-help:before { content: '\e811'; } /* '' */
.icon-help-circled:before { content: '\e812'; } /* '' */
.icon-th-large:before { content: '\e813'; } /* '' */
.icon-th:before { content: '\e814'; } /* '' */
.icon-th-list:before { content: '\e815'; } /* '' */
.icon-ok:before { content: '\e816'; } /* '' */
.icon-ok-circled:before { content: '\e817'; } /* '' */
.icon-ok-circled2:before { content: '\e818'; } /* '' */
.icon-cancel-1:before { content: '\e819'; } /* '' */
.icon-cancel-circled-1:before { content: '\e81a'; } /* '' */
.icon-cancel-circled2:before { content: '\e81b'; } /* '' */
.icon-plus-1:before { content: '\e81c'; } /* '' */
.icon-plus-circled-1:before { content: '\e81d'; } /* '' */
.icon-minus-1:before { content: '\e81e'; } /* '' */
.icon-minus-circled-1:before { content: '\e81f'; } /* '' */
.icon-help-circled-1:before { content: '\e820'; } /* '' */
.icon-info-circled-2:before { content: '\e821'; } /* '' */
.icon-home:before { content: '\e822'; } /* '' */
.icon-link:before { content: '\e823'; } /* '' */
.icon-attach:before { content: '\e824'; } /* '' */
.icon-lock:before { content: '\e825'; } /* '' */
.icon-lock-open:before { content: '\e826'; } /* '' */
.icon-download:before { content: '\e827'; } /* '' */
.icon-bookmark:before { content: '\e828'; } /* '' */
.icon-comment:before { content: '\e829'; } /* '' */
.icon-chat:before { content: '\e82a'; } /* '' */
.icon-attention:before { content: '\e82b'; } /* '' */
.icon-attention-circled:before { content: '\e82c'; } /* '' */
.icon-phone:before { content: '\e82d'; } /* '' */
.icon-mail:before { content: '\e82e'; } /* '' */
.icon-search:before { content: '\e82f'; } /* '' */
.icon-export:before { content: '\e830'; } /* '' */
.icon-print:before { content: '\e831'; } /* '' */
.icon-zoom-in:before { content: '\e832'; } /* '' */
.icon-zoom-out:before { content: '\e833'; } /* '' */
.icon-down-dir:before { content: '\e834'; } /* '' */
.icon-up-dir:before { content: '\e835'; } /* '' */
.icon-left-dir:before { content: '\e836'; } /* '' */
.icon-right-dir:before { content: '\e837'; } /* '' */
.icon-down-open:before { content: '\e838'; } /* '' */
.icon-left-open:before { content: '\e839'; } /* '' */
.icon-right-open:before { content: '\e83a'; } /* '' */
.icon-up-open:before { content: '\e83b'; } /* '' */
.icon-book:before { content: '\e83c'; } /* '' */
.icon-floppy:before { content: '\e83d'; } /* '' */
.icon-chart-bar:before { content: '\e83e'; } /* '' */
.icon-tags:before { content: '\e83f'; } /* '' */
.icon-tag:before { content: '\e840'; } /* '' */
.icon-camera:before { content: '\e841'; } /* '' */
.icon-search-1:before { content: '\e842'; } /* '' */
.icon-login:before { content: '\e843'; } /* '' */
.icon-logout:before { content: '\e844'; } /* '' */
.icon-login-1:before { content: '\e845'; } /* '' */
.icon-logout-1:before { content: '\e846'; } /* '' */
.icon-dot:before { content: '\e847'; } /* '' */
.icon-dot-2:before { content: '\e848'; } /* '' */
.icon-dot-3:before { content: '\e849'; } /* '' */
.icon-resize-full:before { content: '\e84a'; } /* '' */
.icon-resize-small:before { content: '\e84b'; } /* '' */
.icon-popup:before { content: '\e84c'; } /* '' */
.icon-level-up:before { content: '\e84d'; } /* '' */
.icon-info-circled:before { content: '\f085'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared-1:before { content: '\f0fe'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help-1:before { content: '\f128'; } /* '' */
.icon-info-1:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-minus-squared-1:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */