{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<!-- Tooltip Script -->
<script>
$(function(){
	$('.tooltip').tooltipster({
		arrow: true,
		contentAsHTML: true,
		contentCloning: false,
		interactive: true,
		multiple: true,
		theme: 'tooltipster-shadow',
		trigger: 'click',
		viewportAware: true,
		functionReady: function(){ 
			$('.tooltip-close').click(function(){
				$('.tooltip').tooltipster('hide');
			});
		}
	});
});
</script>

<f:layout name="Default"/>


<f:section name="main">
  <f:comment>
    <s:page.title><g:strreplace search="@" replace="">{document.fields.d021Asa.0}</g:strreplace></s:page.title>
  </f:comment>
  <f:render partial="Page/Standard" arguments="{_all}"/>
  <f:render partial="Components/DetailResultPager" arguments="{_all}"/>

  <f:format.raw>
  <div id="tx_find-main">

    <article class="detail">
      <f:comment>
        <f:render partial="Display/Field/General" arguments="{_all}"/>
      </f:comment>

      <div class="main">
        <f:alias map="{
          fieldMakContent:'{s:data.valueForKey(array:document.fields.d002_s0, key:0)}',
          MakContent:'{g:makValueForKey(array:document.fields.d002_s0, key:0)}',
          AsurTrue:'Asur',
          AsuTrue:'Asu',
          AbvzTrue:'Abvz',
          AdvzTrue:'Advz',
          Tsx7True:'Tsx7',
          Tsx7eTrue:'Tsx7e',
          ArtTrue:'art',
          ZsTrue:'zs',
          TkyTrue:'Tky',
          buchRez:'rez',
          buchAnz:'anz',
          buchAnk:'ank',
          buchRezAnzAnk:'{g:BuchRezAnzAnk(array0:document.fields.d041As9, array1:document.fields.d041A01s9, array2:document.fields.d041A02s9, array3:document.fields.d041A03s9, array4:document.fields.d041A04s9, array5:document.fields.d041A05s9, array6:document.fields.d041A06s9, array7:document.fields.d041A07s9, array8:document.fields.d041A08s9, array9:document.fields.d041A09s9)}',
          buchRezAnzAnkDetail:'{g:BuchRezAnzAnkDetail(array0:document.fields.d041As9, array1:document.fields.d041A01s9, array2:document.fields.d041A02s9, array3:document.fields.d041A03s9, array4:document.fields.d041A04s9, array5:document.fields.d041A05s9, array6:document.fields.d041A06s9, array7:document.fields.d041A07s9, array8:document.fields.d041A08s9, array9:document.fields.d041A09s9)}',
          buchRezAnzAnkLinkTrue:'{g:BuchRezAnzAnkLinkCheck(array:document.fields.d009P01s0)}',
          captionArtikelNachricht:'Artikel_Nachricht',
          captionRezensiertesWerk:'Rezensiertes_Werk',
          captionAngekuendigtesWerk:'Angekuendigtes_Werk',
          captionAngezeigtesWerk:'Angezeigtes_Werk',
          captionBesprochenesWerk:'Besprochenes_Werk',
          captionInhaltserschliessung:'Inhaltserschliessung'
        }">
          <f:if condition="{MakContent}=={ArtTrue}">
            <f:then>
              <div id="tx_find-caption">
                <form>
                  <capts>
                    Artikel / Gelehrte Nachricht
                    <!-- Tooltip -->
                    <span id="tooltip_caption_{captionArtikelNachricht}" class="tooltip icon-popup" data-tooltip-content="#tooltip_content_caption_{captionArtikelNachricht}" alt="Kurzinformation zum Block {captionArtikelNachricht} anzeigen"></span>
                    <div class="tooltip_templates">
                      <span id="tooltip_content_caption_{captionArtikelNachricht}" class="tooltip_content" lang="de">
                        <span id="tooltip_caption_{captionArtikelNachricht}" class="tooltip-close icon-cancel" alt="Kurzinfo schließen"></span>
                        <f:render partial="Display/Info/TextsCaptions" arguments="{caption: captionArtikelNachricht}"/>
                      </span>
                    </div>
                  </capts>
                </form>
              </div>
              <f:render partial="Display/DetailGroup/ImageThumbnail" arguments="{results:results, document:document}"/>
              <f:render partial="Display/DetailGroup/Artikel" arguments="{results:results, document:document}"/>
              
              <f:if condition="{buchRezAnzAnk}">
                
                <f:then>
                  <f:if condition="{s:logic.or(conditions:'{0:document.d021Gsa, 1:document.d039Pst}')}">
                    <f:then>
                      <f:if condition="{document.d021Gsa}">
                        <f:then>
                          <g:strreplace search="@" replace="">
                            <s:page.title><g:strreplace search="@" replace="">{document.fields.d021Gsa.0}</g:strreplace></s:page.title>
                          </g:strreplace>
                        </f:then>
                        <f:else>
                          <f:if condition="{document.d039Pst}">
                            <g:strreplace search="@" replace="">
                              <s:page.title><g:strreplace search="@" replace="">{document.fields.d039Pst.0}</g:strreplace></s:page.title>
                            </g:strreplace>
                          </f:if>
                        </f:else>
                      </f:if>
                    </f:then>
                    <f:else>
                      <f:if condition="{document.d021Asa}">
                        <f:then>
                          <g:strreplace search="@" replace="">
                            <s:page.title><g:strreplace search="@" replace="">{document.fields.d021Asa.0}</g:strreplace></s:page.title>
                          </g:strreplace>
                        </f:then>
                        <f:else>
                          <g:strreplace search="@" replace="">
                            <s:page.title><g:strreplace search="@" replace="">{s:data.valueForKey(array:document.fields.d041Asa, key:0)}</g:strreplace></s:page.title>
                          </g:strreplace>
                        </f:else>
                      </f:if>
                    </f:else>
                  </f:if>
                  <f:if condition="{s:logic.or(conditions:'{0:document.d044Ksa, 1:document.d028G, 2:document.d029Ksa, 3:document.d021Gsa, 4:document.d021Gsd, 5:document.d039Pst, 6:document.d006Ms0, 7:document.d020Fsa, 8:buchRezAnzAnkLinkTrue}')}">
                    <div id="tx_find-caption">
                      <f:if condition="{buchRezAnzAnkDetail} == {buchRez}">
                        <f:then>
                          <form>
                            <capts>
                              Rezensiertes Werk
                              <!-- Tooltip -->
                              <span id="tooltip_caption_{captionRezensiertesWerk}" class="tooltip icon-popup" data-tooltip-content="#tooltip_content_caption_{captionRezensiertesWerk}" alt="Kurzinformation zum Block {captionRezensiertesWerk} anzeigen"></span>
                              <div class="tooltip_templates">
                                <span id="tooltip_content_caption_{captionRezensiertesWerk}" class="tooltip_content" lang="de">
                                  <span id="tooltip_caption_{captionRezensiertesWerk}" class="tooltip-close icon-cancel" alt="Kurzinfo schließen"></span>
                                  <f:render partial="Display/Info/TextsCaptions" arguments="{caption: captionRezensiertesWerk}"/>
                                </span>
                              </div>
                            </capts>
                          </form>
                        </f:then>
                        <f:else>
                          <f:if condition="{buchRezAnzAnkDetail} == {buchAnz}">
                            <f:then>
                              <form>
                                <capts>
                                  Angezeigtes Werk
                                  <!-- Tooltip -->
                                  <span id="tooltip_caption_{captionAngezeigtesWerk}" class="tooltip icon-popup" data-tooltip-content="#tooltip_content_caption_{captionAngezeigtesWerk}" alt="Kurzinformation zum Block {captionAngezeigtesWerk} anzeigen"></span>
                                  <div class="tooltip_templates">
                                    <span id="tooltip_content_caption_{captionAngezeigtesWerk}" class="tooltip_content" lang="de">
                                      <span id="tooltip_caption_{captionAngezeigtesWerk}" class="tooltip-close icon-cancel" alt="Kurzinfo schließen"></span>
                                      <f:render partial="Display/Info/TextsCaptions" arguments="{caption: captionAngezeigtesWerk}"/>
                                    </span>
                                  </div>
                                </capts>
                              </form>
                            </f:then>
                            <f:else>
                              <f:if condition="{buchRezAnzAnkDetail} == {buchAnk}">
                                <f:then>
                                  <form>
                                    <capts>
                                      Angekündigtes Werk
                                      <!-- Tooltip -->
                                      <span id="tooltip_caption_{captionAngekuendigtesWerk}" class="tooltip icon-popup" data-tooltip-content="#tooltip_content_caption_{captionAngekuendigtesWerk}" alt="Kurzinformation zum Block {captionAngekuendigtesWerk} anzeigen"></span>
                                      <div class="tooltip_templates">
                                        <span id="tooltip_content_caption_{captionAngekuendigtesWerk}" class="tooltip_content" lang="de">
                                          <span id="tooltip_caption_{captionAngekuendigtesWerk}" class="tooltip-close icon-cancel" alt="Kurzinfo schließen"></span>
                                          <f:render partial="Display/Info/TextsCaptions" arguments="{caption: captionAngekuendigtesWerk}"/>
                                        </span>
                                      </div>
                                    </capts>
                                  </form>
                                </f:then>
                                <f:else>
                                  <form>
                                    <capts>
                                      Rezensiertes / Angezeigtes / Angekündigtes Werk
                                      <!-- Tooltip -->
                                      <span id="tooltip_caption_{captionBesprochenesWerk}" class="tooltip icon-popup" data-tooltip-content="#tooltip_content_caption_{captionBesprochenesWerk}" alt="Kurzinformation zum Block {captionBesprochenesWerk} anzeigen"></span>
                                      <div class="tooltip_templates">
                                        <span id="tooltip_content_caption_{captionBesprochenesWerk}" class="tooltip_content" lang="de">
                                          <span id="tooltip_caption_{captionBesprochenesWerk}" class="tooltip-close icon-cancel" alt="Kurzinfo schließen"></span>
                                          <f:render partial="Display/Info/TextsCaptions" arguments="{caption: captionBesprochenesWerk}"/>
                                        </span>
                                      </div>
                                    </capts>
                                  </form>
                                </f:else>
                              </f:if>
                            </f:else>
                          </f:if>
                        </f:else>
                      </f:if>
                    </div>
                    <f:render partial="Display/DetailGroup/BuchBesprAngezAngek" arguments="{results:results, document:document}"/>
                  </f:if>
                </f:then>
                <f:else>
                  <f:if condition="{fieldMakContent} == {AsurTrue}">
                    <f:then>
                      <f:if condition="{s:logic.or(conditions:'{0:document.d021A, 1:document.d021G, 2:document.d039P}')}">
                        <f:then>
                          <f:if condition="{document.d021Gsa}">
                            <f:then>
                              <g:strreplace search="@" replace="">
                                <s:page.title><g:strreplace search="@" replace="">{document.fields.d021Gsa.0}</g:strreplace></s:page.title>
                              </g:strreplace>
                            </f:then>
                            <f:else>
                              <f:if condition="{document.d039Pst}">
                                <g:strreplace search="@" replace="">
                                  <s:page.title><g:strreplace search="@" replace="">{document.fields.d039Pst.0}</g:strreplace></s:page.title>
                                </g:strreplace>
                              </f:if>
                            </f:else>
                          </f:if>
                        </f:then>
                      </f:if>
                      <div id="tx_find-caption">
                        <form>
                          <capts>
                            Besprochenes Werk
                            <!-- Tooltip -->
                            <span id="tooltip_caption_{captionBesprochenesWerk}" class="tooltip icon-popup" data-tooltip-content="#tooltip_content_caption_{captionBesprochenesWerk}" alt="Kurzinformation zum Block {captionBesprochenesWerk} anzeigen"></span>
                            <div class="tooltip_templates">
                              <span id="tooltip_content_caption_{captionBesprochenesWerk}" class="tooltip_content" lang="de">
                                <span id="tooltip_caption_{captionBesprochenesWerk}" class="tooltip-close icon-cancel" alt="Kurzinfo schließen"></span>
                                <f:render partial="Display/Info/TextsCaptions" arguments="{caption: captionBesprochenesWerk}"/>
                              </span>
                            </div>
                          </capts>
                        </form>
                      </div>
                      <f:render partial="Display/DetailGroup/BuchBesprAngezAngek" arguments="{results:results, document:document}"/>
                    </f:then>
                    <f:else>
                      <f:if condition="{fieldMakContent} == {AsuTrue}">
                        <g:strreplace search="@" replace="">
                          <s:page.title><g:strreplace search="@" replace="">{document.fields.d021Asa.0}</g:strreplace></s:page.title>
                        </g:strreplace>
                      </f:if>
                    </f:else>
                  </f:if>
                </f:else>
              </f:if>
              <f:if condition="{s:logic.or(conditions:'{0:document.d045Q01s9, 1:document.d044L, 2:document.d028Z, 3:document.d047Isa}')}">
                <f:render partial="Display/DetailGroup/Inhaltserschl" arguments="{results:results, document:document}"/>
              </f:if>
              <f:render partial="Display/DetailGroup/Datensatzinfo" arguments="{results:results, document:document}"/>
            </f:then>
            <f:else>
              <f:if condition="{MakContent}=={ZsTrue}">
                <f:then>
                  <f:render partial="Display/DetailGroup/Zeitschrift" arguments="{results:results, document:document}"/>
                  <f:render partial="Display/DetailGroup/ZeitschriftStatistik" arguments="{results:results, document:document}"/>
                  <f:render partial="Display/DetailGroup/ZeitschriftProfil" arguments="{results:results, document:document}"/>
                </f:then>
                <f:else>
                  <f:if condition="{MakContent}=={Tsx7True}">
                    <f:then>
                      <f:render partial="Display/DetailGroup/GattungAktuell" arguments="{results:results, document:document}"/>
                    </f:then>
                    <f:else>
                      <f:if condition="{MakContent}=={Tsx7eTrue}">
                        <f:then>
                          <f:render partial="Display/DetailGroup/GattungVeraltet" arguments="{results:results, document:document}"/>
                        </f:then>
                        <f:else>
                          <f:if condition="{MakContent}=={TkyTrue}">
                            <f:then>
                              <f:render partial="Display/DetailGroup/Systemstelle" arguments="{results:results, document:document}"/>
                            </f:then>
                          </f:if>
                        </f:else>
                      </f:if>
                    </f:else>
                  </f:if>
                </f:else>
              </f:if>
            </f:else>
          </f:if>
        </f:alias>
      </div>
    </article>
  </div>
  </f:format.raw>

</f:section>
