{namespace s=Subugoe\Find\ViewHelpers}
<f:layout name="Default"/>

<f:format.raw>
<f:section name="main">
	<s:page.title>
		<f:render partial="Components/QueryString" arguments="{query:arguments.q, facets:activeFacets}"/>
	</s:page.title>
	<f:render partial="Page/Standard" arguments="{_all}"/>

	<div class="results resultcount-{results.numfound}">
		<div class="navigation top"/>
			<f:render partial="Components/ResultCount" arguments="{_all}"/>
			<f:render partial="Pager/ListPager" arguments="{_all}"/>
		</div>

		<f:render partial="Facets/Facets" arguments="{_all}"/>

		<ol id="c{config.uid}-resultList" class="resultList" start="{config.counterStart}">
			<f:for each="{results.documents}" as="document">
				<f:render partial="Display/Result" arguments="{_all}"/>
			</f:for>
		</ol>

		<div class="navigation bottom"/>
			<f:render partial="Pager/ListPager" arguments="{_all}"/>
		</div>
	</div>
</f:section>
</f:format.raw>

<!-- Tooltip Script -->
<script>
$(function(){
	$('.tooltip').tooltipster({
		arrow: true,
		contentAsHTML: true,
		contentCloning: false,
		interactive: true,
		multiple: true,
		theme: 'tooltipster-shadow',
		trigger: 'click',
		viewportAware: true,
		functionReady: function(){ 
		$('.tooltip-close').click(function(){
			$('.tooltip').tooltipster('hide');
		});
		}
	});
});
</script>
