{namespace s=Subugoe\Find\ViewHelpers}
<f:comment>
	The range field creates two text inputs for the arguments q.{fieldInfo.id}.0 and q.{fieldInfo.id}.1.
	Example query configuration:
		from:[* TO %2$s] AND to:[%1$s TO *]
</f:comment>


<span class="fieldLabel">
	<!--
	<label for="c{config.uid}-field-{fieldInfo.id}-from">
		<f:translate key="LLL:{settings.languageRootPath}locallang-form.xml:input.{fieldInfo.id}-from" default="{fieldInfo.id}"/>
	</label>
	-->
	<label for="c{config.uid}-field-{fieldInfo.id}-to">
		<f:if condition="{fieldInfo.infoID}">
			<f:then>
				<f:translate key="LLL:{settings.languageRootPath}locallang-form.xml:input.{fieldInfo.id}-to" default="{fieldInfo.id}"/>

				<!-- Tooltip -->
				<style>
					.tooltip_templates { display: none; }
					.tooltip_content { text-align: left; -ms-hyphens: auto; -webkit-hyphens: auto; hyphens: auto; }
				</style>

				<span id="tooltip_{fieldInfo.infoID}" class="tooltip icon-popup" data-tooltip-content="#tooltip_content_{fieldInfo.infoID}" alt="Kurzinfo zu Suchfeld {fieldInfo.id} öffnen"></span>

				<div class="tooltip_templates">
					<span id="tooltip_content_{fieldInfo.infoID}" class="tooltip_content" lang="de">
						<span id="tooltip_close_{fieldInfo.infoID}" class="tooltip-close icon-cancel" alt="Kurzinfo schließen"></span>
						<f:render partial="Form/Info/TextsFields" arguments="{_all}"/>
					</span>
				</div>

			</f:then>
			<f:else>
				<f:translate key="LLL:{settings.languageRootPath}locallang-form.xml:input.{fieldInfo.id}-to" default="{fieldInfo.id}"/> :
			</f:else>
		</f:if>
	</label>
</span>
<span class="inputContainer">
	<f:form.textfield
		id="c{config.uid}-field-{fieldInfo.id}-from"
		name="q[{fieldInfo.id}][0]"
		value="{s:data.valueForKey(array:queryParameter, key:'0')}"
		placeholder="{f:translate(key:'LLL:{settings.languageRootPath}locallang-form.xml:input.{fieldInfo.id}-from.placeholder')}"
	/> - <f:form.textfield
		id="c{config.uid}-field-{fieldInfo.id}-to"
		class="noleftmargin"
		name="q[{fieldInfo.id}][1]"
		value="{s:data.valueForKey(array:queryParameter, key:'1')}"
		placeholder="{f:translate(key:'LLL:{settings.languageRootPath}locallang-form.xml:input.{fieldInfo.id}-to.placeholder')}"
	/>
</span>

