{namespace s=Subugoe\Find\ViewHelpers}
<f:comment>
	Creates a <select> using the array provided in the field configuration’s
	options array.
</f:comment>
<label class="fieldLabel" for="c{config.uid}-field-{fieldInfo.id}">
	<f:if condition="{fieldInfo.infoID}">
		<f:then>
			<f:translate key="LLL:{settings.languageRootPath}locallang-form.xml:input.{fieldInfo.id}" default="{fieldInfo.id}"/>


        <!-- Tooltip -->
        <style>
          .tooltip_templates { display: none; }
          .tooltip_content { text-align: left; -ms-hyphens: auto; -webkit-hyphens: auto; hyphens: auto; }
        </style>

        <span id="tooltip_{fieldInfo.infoID}" class="tooltip icon-popup" data-tooltip-content="#tooltip_content_{fieldInfo.infoID}" alt="Kurzinfo zu Suchfeld {fieldInfo.id} öffnen"></span>

        <div class="tooltip_templates">
          <span id="tooltip_content_{fieldInfo.infoID}" class="tooltip_content" lang="de">
            <span id="tooltip_close_{fieldInfo.infoID}" class="tooltip-close icon-cancel" alt="Kurzinfo schließen"></span>
            <f:render partial="Form/Info/TextsFields" arguments="{_all}"/>
          </span>
        </div>

        <script>
          $(function(){
            $('.tooltip').tooltipster({
              arrow: true,
              contentAsHTML: true,
              contentCloning: false,
              interactive: true,
              multiple: false,
              theme: 'tooltipster-shadow',
              trigger: 'click',
              viewportAware: true,
              functionReady: function(){ 
                $('.tooltip-close').click(function(){
                  $('.tooltip').tooltipster('hide');
                });
              }
            });
          });
        </script>


		</f:then>
		<f:else>
			<f:translate key="LLL:{settings.languageRootPath}locallang-form.xml:input.{fieldInfo.id}" default="{fieldInfo.id}"/> :
		</f:else>
	</f:if>
</label>
<f:form.select
	id="c{config.uid}-field-{fieldInfo.id}"
	class="inputContainer inputSelectList"
	name="q[{fieldInfo.id}]"
	options="{fieldInfo.options}"
	value="{queryParameter}"
/>
