@font-face {
  font-family: 'fontello';
  src: url('fontello/font/fontello.eot?36443450');
  src: url('fontello/font/fontello.eot?36443450#iefix') format('embedded-opentype'),
       url('fontello/font/fontello.woff2?36443450') format('woff2'),
       url('fontello/font/fontello.woff?36443450') format('woff'),
       url('fontello/font/fontello.ttf?36443450') format('truetype'),
       url('fontello/font/fontello.svg?36443450#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('fontello/font/fontello.svg?36443450#fontello') format('svg');
  }
}

 
 [class^="icon-"], [class*=" icon-"] {
  /* font-family: "fontello"; */
  /* font-style: normal; */
  /* font-weight: normal; */
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  /* width: 1em; */
  margin-right: .2em;
  /* text-align: center; */
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  /* line-height: 1em; */
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user { content: '\e800'; } /* '' */
.icon-users { content: '\e801'; } /* '' */
.icon-user-add { content: '\e802'; } /* '' */
.icon-info { content: '\e803'; } /* '' */
.tooltip.icon-info { content: '\e803'; color:#4579b3; text-decoration: none; display:inline; float:right; margin:0px -6px 0px 0px; padding:0px 0px 0px 3px; cursor: pointer; } /* '' */
.tooltip.icon-info:hover, .tooltip.icon-cancel:focus, .tooltip.icon-cancel:active { content: '\e803'; color:#182E7A; text-decoration: none; display:inline; float:right; margin:0px -6px 0px 0px; cursor: pointer; } /* '' */
.icon-info-circled-1 { content: '\e804'; } /* '' */
.tooltip.icon-info-circled-1 { content: '\e804'; color:#4579b3; text-decoration: none; display:inline; float:right; margin:0px -6px 0px 0px; padding:0px 0px 0px 3px; cursor: pointer; } /* '' */
.tooltip.icon-info-circled-1:hover, .tooltip.icon-cancel:focus, .tooltip.icon-cancel:active { content: '\e804'; color:#182E7A; text-decoration: none; display:inline; float:right; margin:0px -6px 0px 0px; cursor: pointer; } /* '' */
.icon-layout { content: '\e805'; } /* '' */
.icon-menu { content: '\e806'; } /* '' */
.icon-check { content: '\e807'; } /* '' */
.icon-cancel { content: '\e808'; } /* '' */
.tooltip-close.icon-cancel { content: '\e808'; color:#4579b3; text-decoration: none; display:inline; float:right; margin:0px -6px 0px 3px; cursor: pointer; } /* '' */
.tooltip-close.icon-cancel:hover, .tooltip-close.icon-cancel:focus, .tooltip-close.icon-cancel:active { content: '\e808'; color:#182E7A; text-decoration: none; display:inline; float:right; margin:0px -6px 0px 3px; cursor: pointer; } /* '' */
.icon-cancel-circled { content: '\e809'; } /* '' */
.icon-cancel-squared { content: '\e80a'; } /* '' */
.icon-plus { content: '\e80b'; } /* '' */
.icon-plus-circled { content: '\e80c'; } /* '' */
.icon-plus-squared { content: '\e80d'; } /* '' */
.icon-minus { content: '\e80e'; } /* '' */
.icon-minus-circled { content: '\e80f'; } /* '' */
.icon-minus-squared { content: '\e810'; } /* '' */
.icon-help { content: '\e811'; } /* '' */
.icon-help-circled { content: '\e812'; } /* '' */
.icon-th-large { content: '\e813'; } /* '' */
.icon-th { content: '\e814'; } /* '' */
.icon-th-list { content: '\e815'; } /* '' */
.icon-ok { content: '\e816'; } /* '' */
.icon-ok-circled { content: '\e817'; } /* '' */
.icon-ok-circled2 { content: '\e818'; } /* '' */
.icon-cancel-1 { content: '\e819'; } /* '' */
.icon-cancel-circled-1 { content: '\e81a'; } /* '' */
.icon-cancel-circled2 { content: '\e81b'; } /* '' */
.icon-plus-1 { content: '\e81c'; } /* '' */
.icon-plus-circled-1 { content: '\e81d'; } /* '' */
.icon-minus-1 { content: '\e81e'; } /* '' */
.icon-minus-circled-1 { content: '\e81f'; } /* '' */
.icon-help-circled-1 { content: '\e820'; } /* '' */
.icon-info-circled-2 { content: '\e821'; } /* '' */
.icon-home { content: '\e822'; } /* '' */
.icon-link { content: '\e823'; } /* '' */
.icon-attach { content: '\e824'; } /* '' */
.icon-lock { content: '\e825'; } /* '' */
.icon-lock-open { content: '\e826'; } /* '' */
.icon-download { content: '\e827'; } /* '' */
.icon-bookmark { content: '\e828'; } /* '' */
.icon-comment { content: '\e829'; } /* '' */
.icon-chat { content: '\e82a'; } /* '' */
.icon-attention { content: '\e82b'; } /* '' */
.icon-attention-circled { content: '\e82c'; } /* '' */
.icon-phone { content: '\e82d'; } /* '' */
.icon-mail { content: '\e82e'; } /* '' */
.icon-search { content: '\e82f'; } /* '' */
.icon-export { content: '\e830'; } /* '' */
.icon-print { content: '\e831'; } /* '' */
.icon-zoom-in { content: '\e832'; } /* '' */
.icon-zoom-out { content: '\e833'; } /* '' */
.icon-down-dir { content: '\e834'; } /* '' */
.icon-up-dir { content: '\e835'; } /* '' */
.icon-left-dir { content: '\e836'; } /* '' */
.icon-right-dir { content: '\e837'; } /* '' */
.icon-down-open { content: '\e838'; } /* '' */
.icon-left-open { content: '\e839'; } /* '' */
.icon-right-open { content: '\e83a'; } /* '' */
.icon-up-open { content: '\e83b'; } /* '' */
.icon-book { content: '\e83c'; } /* '' */
.icon-floppy { content: '\e83d'; } /* '' */
.icon-chart-bar { content: '\e83e'; } /* '' */
.icon-tags { content: '\e83f'; } /* '' */
.icon-tag { content: '\e840'; } /* '' */
.icon-camera { content: '\e841'; } /* '' */
.icon-search-1 { content: '\e842'; } /* '' */
.icon-login { content: '\e843'; } /* '' */
.icon-logout { content: '\e844'; } /* '' */
.icon-login-1 { content: '\e845'; } /* '' */
.icon-logout-1 { content: '\e846'; } /* '' */
.icon-dot { content: '\e847'; } /* '' */
.icon-dot-2 { content: '\e848'; } /* '' */
.icon-dot-3 { content: '\e849'; } /* '' */
.icon-resize-full { content: '\e84a'; } /* '' */
.zoomContent-popup-link.icon-resize-full { content: '\e84a'; color:#4579b3; text-decoration: none; display:inline; margin:0px 0px 0px 0px; cursor: pointer; } /* '' */
.zoomContent-popup-link.icon-resize-full:hover, .zoomContent-popup-link.icon-resize-full:focus, .zoomContent-popup-link.icon-resize-full:active { content: '\e84a'; color:#182E7A; display:inline; margin:0px 0px 0px 0px; cursor: pointer; } /* '' */
.icon-resize-small { content: '\e84b'; } /* '' */
.icon-popup { content: '\e84c'; } /* '' */
.tooltip.icon-popup { content: '\e84c'; color:#4579b3; text-decoration: none; display:inline; margin:0px 0px 0px 3px; cursor: pointer; } /* '' */
.tooltip.icon-popup:hover, .tooltip.icon-popup:focus, .tooltip.icon-popup:active { content: '\e84c'; color:#182E7A; display:inline; margin:0px 0px 0px 3px; cursor: pointer; } /* '' */
.icon-level-up { content: '\e84d'; } /* '' */
.icon-info-circled { content: '\f085'; } /* '' */
.icon-info-circled-alt { content: '\f086'; } /* '' */
.icon-link-ext { content: '\f08e'; } /* '' */
.icon-bookmark-empty { content: '\f097'; } /* '' */
.icon-phone-squared { content: '\f098'; } /* '' */
.icon-list-bullet { content: '\f0ca'; } /* '' */
.icon-list-numbered { content: '\f0cb'; } /* '' */
.icon-mail-alt { content: '\f0e0'; } /* '' */
.icon-comment-empty { content: '\f0e5'; } /* '' */
.icon-chat-empty { content: '\f0e6'; } /* '' */
.icon-download-cloud { content: '\f0ed'; } /* '' */
.icon-doc-text { content: '\f0f6'; } /* '' */
.icon-plus-squared-1 { content: '\f0fe'; } /* '' */
.icon-angle-left { content: '\f104'; } /* '' */
.icon-angle-right { content: '\f105'; } /* '' */
.icon-angle-up { content: '\f106'; } /* '' */
.icon-angle-down { content: '\f107'; } /* '' */
.icon-quote-left { content: '\f10d'; } /* '' */
.icon-quote-right { content: '\f10e'; } /* '' */
.tooltip.icon-quote-right { content: '\f10e'; color:#4579b3; text-decoration: none; display:inline; margin:0px 0px 0px 3px; cursor: pointer; } /* '' */
.tooltip.icon-quote-right:hover, .tooltip.icon-quote-right:focus, .tooltip.icon-quote-right:active { content: '\f10e'; color:#182E7A; display:inline; margin:0px 0px 0px 3px; cursor: pointer; } /* '' */
.tooltip-right.icon-quote-right:before { content: '\f10e'; color:#4579b3; text-decoration: none; display:inline; margin:0px 0px 0px 3px; padding:0px 4px 0px 0px; cursor: pointer; } /* '' */
.tooltip-right.icon-quote-right:hover:before, .tooltip-right.icon-quote-right:focus:before, .tooltip-right.icon-quote-right:active:before { content: '\f10e'; color:#182E7A; display:inline; margin:0px 0px 0px 3px; padding:0px 4px 0px 0px; cursor: pointer; } /* '' */
.icon-unlink { content: '\f127'; } /* '' */
.icon-help-1 { content: '\f128'; } /* '' */
.icon-info-1 { content: '\f129'; } /* '' */
.icon-attention-alt { content: '\f12a'; } /* '' */
.icon-minus-squared-1 { content: '\f146'; } /* '' */
.icon-minus-squared-alt { content: '\f147'; } /* '' */
.icon-ok-squared { content: '\f14a'; } /* '' */
.icon-export-alt { content: '\f14d'; } /* '' */
.icon-plus-squared-alt { content: '\f196'; } /* '' */
.icon-file-image { content: '\f1c5'; } /* '' */
.icon-share { content: '\f1e0'; } /* '' */
.icon-newspaper { content: '\f1ea'; } /* '' */
.icon-chart-area { content: '\f1fe'; } /* '' */
.icon-chart-pie { content: '\f200'; } /* '' */
.icon-chart-line { content: '\f201'; } /* '' */
.icon-toggle-off { content: '\f204'; } /* '' */
.icon-toggle-on { content: '\f205'; } /* '' */
.icon-map-o { content: '\f278'; } /* '' */
.icon-map { content: '\f279'; } /* '' */
.icon-address-card { content: '\f2bb'; } /* '' */
.icon-address-card-o { content: '\f2bc'; } /* '' */












.tx_find {
  /* search form */
  /* result list */
  /* facets */
  /* page browser list view */
  /* result count */
  /* page browser single item view */
  /* field list on single item view */
}
.tx_find .clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.tx_find .hidden {
  display: none;
}
.tx_find .deleteFromFacetList {
  /* visibility: hidden; */
  display: none !important;
}
.tx_find li.deleteFromFacetList {
  /* visibility: hidden; */
  display: none !important;
}
.tx_find article.detail {
  clear: both;
}
.tx_find em.highlight {
  /* font-weight: bold; */
  color: black;
  padding: 3px 1px 3px 0;;
  background-color: #ffff70;
}
.tx_find form {
  position: relative;
  line-height: 150%;
}
.tx_find form .formFields {
  float: left;
}
.tx_find form .fieldContainer {
  float: left;
  clear: left;
}
.tx_find form .fieldContainer input {
  display: block;
  margin-left: 188px;
  /* width: 216px; */
  margin-bottom: 2px;
  padding: 2px;
  border-color: #b3b3b3 #d2d2d2 #d2d2d2 #b3b3b3;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  background: #f3f5f9;
}
.tx_find form .fieldContainer.fieldType-Text input {
    width: 216px;
}
.tx_find form .fieldContainer.fieldType-Range input {
    width: 100px;
    display: inline;
    margin-left: 18px;
}
.tx_find form .fieldContainer.fieldType-Text.field-default input {
  float: left;
  width: 400px;
  height: 19px;
  margin: 0px 6px 2px 0px;
  padding: 4px;
  font-size: 120%;
}
.tx_find form .fieldContainer input.noleftmargin {
    margin-left: 0;
}
.tx_find form .field-default label {
  display: none;
}
.tx_find form .field-default output {
  display: none;
}
.tx_find form .field-default outputImg {
  display: none;
}
.tx_find form .field-default input {
  float: left;
  width: 400px;
  height: 19px;
  margin: 0px 6px 2px 0px;
  padding: 4px;
  font-size: 133%;
}
.tx_find form .field-default capts {
  display: none;
}
.tx_find form capts {
  clear: both;
  display: block;
  float: left;
  width: 600px;
  text-align: left;
  margin-left: 20px;
  font-size: 150%;
  color: #222222;
  font-family: "Times New Roman",Times,serif;
}
.tx_find form label {
  /* clear: both; */
  display: block;
  float: left;
  width: 170px;
  text-align: right;
  color: #333333;
  margin: 2px 0;
}
.tx_find form output {
  display: block;
  /* float: left; */
  text-align: left;
  margin: 0 0 0 185px;
  padding: 2px;
}
.tx_find form output .innerPara {
  display: block;
  margin: 0 0 2px 0;
}
.tx_find form output i {
  font-style:italics;
  color:#999999;
}
.tx_find form output .titelabstand {
  margin-bottom:0.6em;
  display:block;
}
.tx_find form output .titellabel {
  color: #999;
  font-weight:bold;
}
.tx_find form output .titelabstand .titellabel {
  color: #999;
  font-weight:bold;
}
.tx_find form output li {
  margin-left:0.1em;
}
.tx_find form outputImg {
  display: block;
  margin: 0;
  padding: 0;
}
.tx_find form .controls {
  float: left;
  bottom: 0px;
  margin-left: -6px;
}
.tx_find form .fieldType-search input:-moz-placeholder {
  color: #999;
}
.tx_find form .submit {
  display: block;
  float: left;
  height: 30px;
  background: url(../Images/button_shade_large.png) repeat-x scroll 0 100% #f3f6fb;
  border-style: solid;
  border-width: 1px;
  border-color: #d4d4d4 #b4b4b4 #b4b4b4 #d4d4d4;
  border-radius: 3px 3px 3px 3px;
  border-right: 1px solid #b4b4b4;
  color: #555555;
  font-weight: bold;
  line-height: 100%;
  padding: 3px 5px;
  margin: -1px 0 0 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
}
.tx_find form .submit:active {
  background-image: url(../Images/button_shade_large_click.png);
  background-color: #e7e9ed;
}
.tx_find form a.extendedSearch {
  line-height: 30px;
  margin-left: 0.5em;
}
.tx_find form .field-mode-extended {
  display: none;
}
.tx_find form .sortOrder, .tx_find form .resultCountPicker {
  float: right;
  margin: 5px 0 0 0.5em;
}
.tx_find form .sortOrder label, .tx_find form .resultCountPicker label {
  width: auto;
}
.tx_find form .sortOrder select, .tx_find form .resultCountPicker select {
  position: relative;
  top: 2px;
  margin-left: 3px;
}
.tx_find form.search-extended .field-mode-extended {
  display: block;
}
.tx_find .results {
  clear: left;
  padding-top: 2em;
}
.tx_find .results .navigation {
  margin-bottom: 2em;
  clear: both;
}
.tx_find .results ol.resultList {
  margin: 0 250px 0 0;
  padding-left: 3em;
}
.tx_find .results ol.resultList h1 {
  margin: 0;
  font-size: 133%;
  line-height: 133%;
}
.tx_find .results ol.resultList li:target {
  background: #eeeeff;
  border-radius: 7px;
  transition: background .5s ease-in-out;
}
.tx_find .facets {
  float: right;
  clear: right;
  width: 230px;
  padding-left: 10px;
  border-left: 1px solid lightgray;
}
.tx_find article.facet, .tx_find .facet-type-Tabs {
  margin-bottom: 2em;
}
.tx_find article.facet h1, .tx_find .facet-type-Tabs h1 {
  margin: 0;
  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
.tx_find article.facet .facetSearch, .tx_find .facet-type-Tabs .facetSearch {
  margin: 1em 0 0 0;
  max-width: 230px;
}
.tx_find article.facet ol, .tx_find .facet-type-Tabs ol {
  list-style-type: none;
  margin: 1em 0 0 0;
  padding-left: 0;
  line-height: 150%;
}
.tx_find article.facet ol.autocomplete, .tx_find .facet-type-Tabs ol.autocomplete {
  margin: 0.5em 0 0 0;
}
.tx_find article.facet .facetList li, .tx_find .facet-type-Tabs .facetList li, .tx_find article.facet .facetList .facet-type-Tabs ol li.facetActive, .tx_find .facet-type-Tabs ol article.facet .facetList li.facetActive, .tx_find .facet-type-Tabs .facetList ol li.facetActive, .tx_find .facet-type-Tabs ol .facetList li.facetActive {
  margin: 0 0 0 2px;
  /* padding-left: 1em; */
  /* text-indent: -1em; */
}
.tx_find article.facet a, .tx_find .facet-type-Tabs a {
  display: block;
}
.tx_find article.facet .facetCount, .tx_find .facet-type-Tabs .facetCount {
  color: #666666;
  font-size: 80%;
}
.tx_find article.facet .facetActive, .tx_find .facet-type-Tabs .facetActive {
  display: block;
  /*background: url("../../templates/yaml/navigation/images/shiny_buttons/background_active_red.png") repeat-x scroll right bottom #272727;*/
  background-color: #4579B3;
  border-radius: 5px;
  /*border: 1px solid #bb0000;*/
  line-height: 150%;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}
.tx_find article.facet .facetList .facetActive, .tx_find .facet-type-Tabs .facetList .facetActive {
  padding: 0;
  text-indent: 0;
  margin-bottom: 0.25em;
}
.tx_find article.facet .facetActive a, .tx_find .facet-type-Tabs .facetActive a {
  padding-left: 0.2em;
  color: white;
}
.tx_find article.facet .facetActive a, .tx_find .facet-type-Tabs .facetActive a {
  margin-right: 0.3em;
  margin-left: 0.1em;
}
.tx_find article.facet .facetShowAll a, .tx_find .facet-type-Tabs .facetShowAll a {
  font-style: italic;
  color: #666666;
}
.tx_find article.facet .facetHideHidden a, .tx_find .facet-type-Tabs .facetHideHidden a {
  font-style: italic;
  color: #666666;
}
.tx_find article.facet .facetShowAll a:hover, .tx_find .facet-type-Tabs .facetShowAll a:hover {
  color: black;
}
.tx_find article.facet .facetHideHidden a:hover, .tx_find .facet-type-Tabs .facetHideHidden a:hover {
  color: black;
}
.tx_find article.facet .facetHistogram-container .facetActive, .tx_find .facet-type-Tabs .facetHistogram-container .facetActive {
  margin-bottom: 0.5em;
}
.tx_find article.facet .histogram, .tx_find .facet-type-Tabs .histogram {
  position: relative;
  left: -13px;
}
.tx_find article.facet .flot-x-axis .flot-tick-label:first-child, .tx_find .facet-type-Tabs .flot-x-axis .flot-tick-label:first-child {
  left: 13px!important;
}
.tx_find .facet-type-Tabs h1 {
  display: none;
}
.tx_find .facet-type-Tabs ol {
  border-bottom: 1px solid #bbbbbb;
}
.tx_find .facet-type-Tabs ol li, .tx_find .facet-type-Tabs ol li.facetActive {
  display: inline-block;
  margin: 0;
  border-radius: 10px 10px 0 0;
  border: 0px none;
}
.tx_find .facet-type-Tabs ol li a, .tx_find .facet-type-Tabs ol li.facetActive a {
  padding: 1em 0.5em 0em 0.5em;
  display: inline-block;
}
.tx_find .facet-type-Tabs ol li.facetActive, .tx_find .facet-type-Tabs ol li.facetActive {
  background: #263476;
  color: white;
}
.tx_find .facet-type-Tabs ol li.facetActive .facetCount, .tx_find .facet-type-Tabs ol li.facetActive .facetCount {
  color: #dddddd;
}
.tx_find .listPager {
  margin-right: 220px;
  text-align: center;
}
.tx_find .listPager * {
  margin: 0;
  padding: 0;
}
.tx_find .listPager ol {
  display: inline;
  list-style-type: none;
}
.tx_find .listPager ol li, .tx_find .listPager .facet-type-Tabs ol li.facetActive, .tx_find .facet-type-Tabs .listPager ol li.facetActive {
  display: inline;
}
.tx_find .listPager ol li a, .tx_find .listPager .facet-type-Tabs ol li.facetActive a, .tx_find .facet-type-Tabs .listPager ol li.facetActive a {
  padding: 0.4em;
}
.tx_find .listPager .current {
  font-weight: bold;
  color: black;
}
.tx_find .listPager .resultCount {
  margin-bottom: 2em;
}
.tx_find .resultCount {
  float: right;
  width: 200px;
  text-align: right;
}
.tx_find .queryAndPager {
  margin: 1em 0 2em 0;
}
.tx_find .queryAndPager .query {
  display: none;
}
.tx_find .queryAndPager .resultPager {
  display: block;
  float: right;
}
.tx_find .queryAndPager .resultPager .pager {
  color: #bbbbbb;
}
.tx_find .queryAndPager .resultPager .pager .icon-right-dir,
.tx_find .queryAndPager .resultPager .pager .icon-left-dir {
  position: relative;
  top: 1px;
  width: auto;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 133%;
}
.tx_find .queryAndPager .resultPager .pager [class^="icon-"]:hover,
.tx_find .queryAndPager .resultPager .pager [class*=" icon-"]:hover {
  text-decoration: none;
}
.tx_find .detail h1 {
  margin-bottom: 1em;
}
.tx_find dl {
  margin: 0;
}
.tx_find dt {
  font-weight: bold;
}
.tx_find dd {
  margin: 0.2em 0 1em 2em;
}
.tx_find dd ul {
  margin: 0;
}
#tx_find-caption {
  clear: both;
  display: block;
  /* float: left; */
  color: #222222;
  font-family: "Times New Roman",Times,serif;
  border: 0 0 0 1px;
  border-color: #d2d2d2;
  border-style: solid;
  border-width: 0 0 1px 0;
  background-color: #f2f2f2;
  width: 100%;
  margin: 30px 0 6px;
  padding: 5px 0 22px;
}
#tx_find_SST-caption {
  clear: both;
  display: block;
  /* float: left; */
  color: #222222;
  font-family: "Times New Roman",Times,serif;
  border: 0 0 0 1px;
  border-color: #d2d2d2;
  border-style: solid;
  border-width: 0 0 1px 0;
  background-color: #f2f2f2;
  width: 100%;
  margin: 0 0 6px 0;
  padding: 5px 0 22px;
}

#tx_find-caption-recordInfo {
  clear: both;
  display: block;
  /* float: left; */
  color: #222222;
  font-family: "Times New Roman",Times,serif;
  /* border: 0 0 0 1px; */
  /* border-color: #EEEEEE; */
  /* border-style: solid; */
  /* border-width: 0 0 1px 0; */
  background-color: #FFFFFF;
  width: 100%;
  /* margin: 30px 0 6px; */
  padding: 5px 0 22px;
}

#tx_find-digiImg {
  clear: both;
  float: right;
  width: 120px;
  padding: 0px 0px 0px 10px;
}

#tx_find-digiImg img {
  border: 1px;
  border-color: #d2d2d2;
  border-style: solid;
}

#tx_find-digiImg a:visited {
  color: #4579b3;
}

#tx_find-digiImg_followup {
  clear: both;
  float: right;
  width: 102px;
  z-index: -9999;
  opacity: 0;
  position: absolute;
}

.tx_find form .field-default img {
  display: none;
}

.tx_find form img {
  max-width: 100px;
}

#tx_find-fieldsLeft {
  /* clear: both; */
  /* float: left; */
  max-width: 66em;
}

#tx_find-fieldsLeftZss {
  /* clear: both; */
  /* float: left; */
  max-width: 79.5em;
  padding: 0px 5px;
}

#tx_find-main {
  clear: both;
  display: block;
  /* margin: 10px 0 70px; */
  /* padding: 10px 0 70px; */
}

#tx_find-histogram-tooltip {
  display: none;
  position: absolute;
  background: #fff;
  z-index: 99999;
}
.results.resultcount-0 .pager {
  display: none;
}

.liResults {
  margin-bottom: 1.5em;
}

.pResults {
  margin: 0;
}



/*** Magnific Popup Overrides ***/

.white-popup-block {
  max-width: 800px;
}

.facetHistogram-container-mfp {
  background-color: #fff;
  width: 800px;
  height: 550px;
  margin: auto;
  padding: 15px;
}

.facetHistogram-container-mfp > .histogram {
  width: 800px !important;
  height: 470px !important;
}

.facetHistogram-container-mfp > button {
  position: relative !important;
  left: 96.5% !important;
  top: -93% !important;
}



/*** Language Menu Overrides ***/

.flag a {
  height: 13px !important;
  width: 20px !important;
  padding: 0 !important;
}

.tx-srlanguagemenu .CUR a.flag::before, .tx-srlanguagemenu .CUR a.linked-language::before {
  content: '' !important;
  padding: 0 !important;
  height: 0 !important;
  width: 0 !important;
}

.tx-srlanguagemenu .CUR a, .tx-srlanguagemenu .NO a, .tx-srlanguagemenu .INACT a {
  padding: 0 !important;
  margin: 0 !important;
}

.tx-srlanguagemenu .CUR, .tx-srlanguagemenu .NO, .tx-srlanguagemenu .INACT {
  padding: 0 !important;
  margin: 0 5px !important;
}

.tx-srlanguagemenu img {
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  margin: 0 !important;
}

.tx-srlanguagemenu img:hover {
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(123, 182, 249, 1);
  -moz-box-shadow: 0px 0px 2px 2px rgba(123, 182, 249, 1);
  box-shadow: 0px 0px 2px 2px rgba(123, 182, 249, 1);
}



/*** ws flex slider Style Overrides ***/

.flexslider {
  border: 0 !important;
  overflow: visible !important;
}

ul.slides > li {
  border: 0 !important;
  margin-left: 0 !important;
  overflow: hidden !important;
}

.tx-ws-flexslider .caption-text {
  position: absolute !important;
  width: 300px !important;
  top: 161px !important;
  left: 0px !important;
  background: rgba(80,80,80,0.7) !important;
  color: #fff !important;
  font-style: normal !important;
  font-variant-ligatures: normal !important;
  font-variant-caps: normal !important;
  font-variant-numeric: normal !important;
  font-variant-east-asian: normal !important;
  font-weight: bold !important;
  font-stretch: normal !important;
  font-size: 10px !important;
  line-height: 15px !important;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif !important;
  text-transform: uppercase !important;
  padding: 16px 8px 200px 8px !important;
  z-index: 9 !important;
}

.flex-control-nav, .flex-control-paging, .flex-direction-nav, .flex-pauseplay {
  display: none !important;
}



/*** jQuery Chosen Style Overrides ***/

.chosen-container {
  display: block !important;
}



/*** tiny accordion Style Overrides ***/

ul.tinyaccordion {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
  background: none !important;
}

ul.tinyaccordion li {
  background: none !important;
  padding-left: 1em !important;
  margin-left: 0px !important;
}

ul.tinyaccordion h4 {
  display: block !important;
  cursor: pointer !important;
  position: relative !important;
  margin: 2px 0 0 0 !important;
  width: 160px !important;
  white-space: nowrap !important;
  padding: 0em 1em 0em 0em !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 100% !important;
  font-weight: normal !important;
  color: #4579b3 !important;
  outline: none !important;
  border: none !important;
  background: none !important;
}

ul.tinyaccordion h4:before {
  display: inline-block !important;
  font-weight: normal !important;
  font-family: fontello !important;
  content: '\e80c' !important;
  cursor: pointer !important;
  text-decoration: none !important;
  padding: 0 0.8em 0 0 !important;
}

ul.tinyaccordion h4.acc-selected {
  background: none !important;
}

ul.tinyaccordion h4.acc-selected:before {
  display: inline-block !important;
  font-weight: normal !important;
  font-family: fontello !important;
  content: '\e80f' !important;
  cursor: pointer !important;
  text-decoration: none !important;
  padding: 0 0.8em 0 0 !important;
}

ul.tinyaccordion h4:hover {
  color: #182e7a !important;
  text-decoration: underline !important;
}

ul.tinyaccordion .acc-section {
  overflow: hidden !important;
}

ul.tinyaccordion .acc-section > div.csc-frame-default {
  padding: 1em 0 0 1.65em !important;
}

ul.tinyaccordion .csc-default, ul.tinyaccordion ul.tinyaccordion, ul.tinyaccordion ul.tinyaccordion .news-single-item {
  padding: 0 0 10px 21px;
}

ul.tinyaccordion li .csc-header:first-child {
  display: none !important;
}

.tx-tinyaccordion-pi1 {
  outline: none !important;
  padding: 8px 0 18px 0 !important;
}

.tx-tinyaccordion-pi1 .accordion-section .csc-frame-default {
  padding: 0 0 10px 21px !important;
}



/*** Accordion for Records with MAK Abvz/Advz ***/

.toggle {
  clear: both;
  background: none repeat scroll 0 0 rgba(250, 250, 250, 1);
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  border-top: 1px solid rgba(232, 232, 232, 1);
  margin-bottom: 5px;
}

.formAcc {
  .tx_find form;
  clear: both;
  padding-top: 2px;
}

.formZssFields {
  .tx_find form;
  clear: both;
}

.accordion {
  margin-top: 0px;
  clear: both;
}

.content {
  width: 100%;
  clear: both;
}

.content > input[type="checkbox"] {
  display: none;
}

.deal-breaker {
  background: red;
  height: 2000px;
}

.content > .formAcc .labelAcc:before {
  font-family: fontello;
  content: '\e80c';
  cursor: pointer;
  color: #4579b3;
  margin: -3px 2px;
  padding: 3px 0;
}

.formAcc .labelAcc:hover:before {
  font-family: fontello;
  content: '\e80c';
  cursor: pointer;
  color: #182e7a;
  margin: -3px 2px;
  padding: 3px 0;
}

input:checked + .formAcc .labelAcc:before {
  font-family: fontello;
  content: '\e80f';
  color: #182e7a;
  margin: -3px 2px;
  padding: 3px 0;
}

.content > .formAcc .labelAcc {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #4579b3;
  margin: -3px 0;
  padding: 3px 0;
}

.formAcc .labelAcc:hover {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #182e7a;
  margin: -3px 0;
  padding: 3px 0;
}

.formAcc .labelAcc:hover .labelAccText {
  text-decoration: underline;
}

input:checked + .formAcc .labelAcc {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #182e7a;
  margin: -3px 0;
  padding: 3px 0;
}

input + .formAcc + .toggle {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.1s ease;
  display: none;
}

input:checked + .formAcc + .toggle {
  height: auto;
  opacity: 1;
  display: inherit;
}

input + .toggle > *:first-child {
  /* margin-top: -100%; */
  opacity: 0;
  transition: all 0.1s ease;
  display: none;
}

input:checked + .toggle > *:first-child {
  margin-top: 0em;
  display: inherit;
}



/*** Container Styles for jQuery.flot for Records with MAK Abvz/Advz ***/

.systemstellen-visualisierung-container {
  /* clear: both; */
  box-sizing: border-box;
  width: 100%;
  height: 485px;
  padding: 15px 15px 110px 15px;
  /* height: 500px; */
  /* padding: 15px 15px 120px 15px; */
  /* margin: 15px auto 30px auto; */
  margin: 35px auto 35px auto;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.systemstellen-visualisierung-placeholder {
  clear: both;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}

.chartType {
  margin-top: 10px;
  margin-bottom: 2px;
}

.erschienen-erschlossen-visualisierung-container {
  /* clear: both; */
  box-sizing: border-box;
  width: 100%;
  height: 140px;
  padding: 15px 15px 35px 15px;
  /* margin: 15px auto 30px auto; */
  margin: 35px auto 55px auto;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.erschienen-erschlossen-visualisierung-placeholder {
  clear: both;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}
.legend table {
  border-spacing: 5px;
}

.legend td {
  border: none;
}

.legend tr:hover td {
  background: none;
}

.legend tbody {
  /* vertical-align: top; */
}

.legendColorBox {
  padding: 0px 0px 2px 15px;
}

.legendLabel {
  padding: 0px 0x 0px 3px;
}

.plotTitle {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: -27px 0 0 -7px;
  padding: 2px 15px;
  position: absolute;
  /* font-weight: bold; */
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

#slider_range .ui-slider-range {
  background: #99bce5 none repeat scroll 0 0 !important;
  opacity: 0.8 !important;
}
#slider_range .ui-slider-handle.ui-corner-all.ui-state-default {
  background: #4579b3 !important;
  border: 1px solid #182e7a !important;
}
#slider_range .ui-slider-handle.ui-corner-all.ui-state-default.ui-state-hover {
  background: #99bce5 !important;
  border: 1px solid #182e7a !important;
}
#slider_range .ui-slider-handle.ui-corner-all.ui-state-default.ui-state-hover.ui-state-active.ui-state-focus {
  background: #182e7a !important;
  border: 1px solid #182e7a !important;
}

#slider_year1 .ui-slider-handle.ui-corner-all.ui-state-default {
  background: #4579B3 !important;
  border: 1px solid #182e7a !important;
}
#slider_year1 .ui-slider-handle.ui-corner-all.ui-state-default.ui-state-hover {
  background: #99bce5 !important;
  border: 1px solid #182e7a !important;
}
#slider_year1 .ui-slider-handle.ui-corner-all.ui-state-default.ui-state-hover.ui-state-active.ui-state-focus {
  background: #182e7a !important;
  border: 1px solid #182e7a !important;
}

#slider_year21 .ui-slider-handle.ui-corner-all.ui-state-default {
  background: #409628 !important;
  border: 1px solid #265a18 !important;
}
#slider_year21 .ui-slider-handle.ui-corner-all.ui-state-default.ui-state-hover {
  background: #9fca93 !important;
  border: 1px solid #265a18 !important;
}
#slider_year21 .ui-slider-handle.ui-corner-all.ui-state-default.ui-state-hover.ui-state-active.ui-state-focus {
  background: #265a18 !important;
  border: 1px solid #265a18 !important;
}
#slider_year22 .ui-slider-handle.ui-corner-all.ui-state-default {
  background: #C0504D !important;
  border: 1px solid #73302e !important;
}
#slider_year22 .ui-slider-handle.ui-corner-all.ui-state-default.ui-state-hover {
  background: #dfa7a6 !important;
  border: 1px solid #73302e !important;
}
#slider_year22 .ui-slider-handle.ui-corner-all.ui-state-default.ui-state-hover.ui-state-active.ui-state-focus {
  background: #73302e !important;
  border: 1px solid #73302e !important;
}

.valueLabels {
  font-size:70%;
  color:#252525;
}
div.valueLabelLight {
  opacity:0.5;
  background-color: white;
  border:none;
  position:absolute;
}
div.valueLabel {
  position:absolute;
  border:none;
}
#placeholder3 div.valueLabelLight {
  display:none;
}
#placeholder3 div.valueLabel {
  transform:rotate(-90deg);
}
.classificationTreeNotation {
  font-style:italics;
  color:#999999;
}



/*** Piwik Opt-Out Style ***/

.piwik-optout {
  width: 100%;
  min-height: 150px;
  height: 170px;
  padding: 20px 0px;
  border: none;
  box-sizing: border-box;
}



/*** Icons in Results List ***/
.contains-projectLogo {
  width: 18px;
  height: 18px;
  margin: 0px -3px -3px 0px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.contains-digiImgLink.icon-doc-text {
  content: '\f0f6';
  color: #666666;
  text-decoration: none;
  font-size: 130%;
}
.contains-zssProfile.icon-newspaper {
  content: '\f1ea';
  color: #666666;
  text-decoration: none;
}



/*** Back-To-Top Link ***/

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 25px;
  padding: 1em;
  width: 90px;
}

.back-to-top a {
  opacity: .6;
  width: 90px;
  display: block;
  text-align: center;
  font: 8px/100% Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  text-decoration: none;
  color: #ddd;

  /* transition */
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.back-to-top a:hover {
  opacity: 1;
  color: #ddd;
  outline: 0 !important;
}

/* arrow icon (span tag) */
.back-to-top span {
  width: 50px;
  height: 50px;
  display: block;
  margin-bottom: 6px;
  margin-left: 20px;
  background: #555 url(../Images/up-arrow.png) no-repeat center center;

  /* rounded corners */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  /* transition */
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.back-to-top a:hover span {
  opacity: 1;
  background-color: #2e2a28 !important;
  /* background-color: transparent; */
  outline: 0 !important;
}
.back-to-top a:focus {
  outline: 0 !important;
}
.back-to-top a:active:focus {
  outline: 0 !important;
}


/*button.infoShort {
  border: none;
  width: 10px;
  height: 10px;
  background-image: url("/fileadmin/templates/images/infoIcon_filled_neutral.png");
}
button.infoShort:hover, img.infoShort:focus, img.infoShort:active {
  border: none;
  width: 10px;
  height: 10px;
  background-image: url("/fileadmin/templates/images/infoIcon_filled_hover.png");
}*/

.inputSelectList {
  display: block;
  margin-left: 188px;
  width: 107px;
  margin-bottom: 2px;
  color: #333333;
  background: #f3f5f9;
}



/*** New Link Style Overrides ***/
/**
 * Commented out due to too little acceptance among project staff.
 * The code is kept in case it could be useful for responsive design.
 */

/*
a.icon-right-dir,
a.icon-left-dir,
a.backToResults,
a.extendedSearch,
ol.listPager a,
a.internal,
a.external-link-new-window,
a.mfp-inline-566,
.tooltipstered,
.tooltip-close,
.tooltipster-content a,
.zoomContent-popup-link,
a.detail-page-internal,
.detail-page-internal-noShadow,
.detail-page-internal-noShadow li,
ul.tinyaccordion h4,
ul.tinyaccordion h4.acc-selected,
.facetAdd,
a.mail,
.rootline a,
.labelAcc {
  -webkit-transition: background .1s ease-in-out;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  transition: background .1s ease-in-out;
  padding: 1px 0;
  -webkit-box-shadow: inset 0 -4px 0 #cee2f1;
  -moz-box-shadow: inset 0 -4px 0 #cee2f1;
  box-shadow: inset 0 -4px 0 #cee2f1;
  color: #242f47;
}

a.icon-right-dir:active, a.icon-right-dir:hover,
a.icon-left-dir:active, a.icon-left-dir:hover,
a.backToResults:active, a.backToResults:hover,
a.extendedSearch:active, a.extendedSearch:hover,
ol.listPager a:active, ol.listPager a:hover,
a.internal:active, a.internal:hover,
a.external-link-new-window:active, a.external-link-new-window:hover,
a.mfp-inline-566:active, a.mfp-inline-566:hover,
.tooltipstered:active, .tooltipstered:hover,
.tooltipster-content a:active, .tooltipster-content a:hover,
.zoomContent-popup-link:active, .zoomContent-popup-link:hover,
.tooltip-close:active, .tooltip-close:hover,
a.detail-page-internal:active, a.detail-page-internal:hover,
.detail-page-internal-noShadow:active, .detail-page-internal-noShadow:hover,
.detail-page-internal-noShadow li:active, .detail-page-internal-noShadow li:hover,
ul.tinyaccordion h4:active, ul.tinyaccordion h4:hover,
ul.tinyaccordion h4.acc-selected:active, ul.tinyaccordion h4.acc-selected:hover,
.facetAdd:active, .facetAdd:hover,
a.mail:active, a.mail:hover,
.rootline a:active, .rootline a:hover,
.labelAcc:active, .labelAcc.hover {
  background-color: #cee2f1;
  -ms-background-position-x: 0%;
  background-position-x: 0%;
  -ms-background-position-y: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
  text-decoration: none !important;
  color: #242f47;
}

a.icon-right-dir:active, a.icon-right-dir:hover,
a.icon-left-dir:active, a.icon-left-dir:hover,
a.backToResults:active, a.backToResults:hover,
a.extendedSearch:active, a.extendedSearch:hover,
ol.listPager a:active, ol.listPager a:hover,
a.external-link-new-window:active, a.external-link-new-window:hover,
a.mfp-inline-566:active, a.mfp-inline-566:hover,
.tooltipstered:active, .tooltipstered:hover,
.tooltipster-content a:active, .tooltipster-content a:hover,
.zoomContent-popup-link:active, .zoomContent-popup-link:hover,
.tooltip-close:active, .tooltip-close:hover,
a.detail-page-internal:active, a.detail-page-internal:hover,
.detail-page-internal-noShadow:active, .detail-page-internal-noShadow:hover,
.detail-page-internal-noShadow li:active, .detail-page-internal-noShadow li:hover,
ul.tinyaccordion h4:active, ul.tinyaccordion h4:hover,
ul.tinyaccordion h4.acc-selected:active, ul.tinyaccordion h4.acc-selected:hover,
.facetAdd:active, .facetAdd:hover,
a.mail:active, a.mail:hover,
.rootline a:active, .rootline a:hover,
.labelAcc:active, .labelAcc.hover {
  background-color: #cee2f1 !important;
  color: #242f47 !important;
}

a.nextResultLink,
a.previousResultLink,
a.icon-right-dir,
a.icon-left-dir,
ol.listPager a,
a.backToResults,
a.extendedSearch,
a.mfp-inline-566,
.tooltipstered,
.tooltip-close,
.tooltipster-content a,
.zoomContent-popup-link,
.detail-page-internal-noShadow,
.detail-page-internal-noShadow li,
ul.tinyaccordion h4,
ul.tinyaccordion h4.acc-selected,
.facetAdd,
.rootline a,
.labelAcc {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color:#4579b3 !important;
}

ol.listPager li.gap a,
ol.listPager li.current a {
  background: none !important;
  color:#4579b3 !important;
}

.facetActive:hover a {
  text-decoration: underline !important;
}

.facetRemove {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background: none !important;
  color: #fff !important;
}
*/
