<!-- skip link navigation -->
<ul id="skiplinks">
	<li><a class="skip" href="#nav">Skip to navigation (Press Enter).</a></li>
	<li><a class="skip" href="#main">Skip to main content (Press Enter).</a></li>
</ul>

<div class="page_margins" id="top">
	<div class="page">
		<f:render partial="Header" />

		<f:render partial="Navigation" />

		<div class="rootline">
			<f:cObject typoscriptObjectPath="lib.rootline"/>
		</div>

		<div id="main">
			<f:render section="Main"/>
		</div>

		<f:render partial="Footer" />
	</div>

</div>
<script type="text/javascript">
window.alert("Hallo Welt!");
</script>
<script src="http://www.gelehrte-journale.de/typo3conf/ext/tmpl_gjz/Resources/Public/JavaScript/totop.js" type="text/javascript" />