<!-- skip link navigation -->
<ul id="skiplinks">
	<li><a class="skip" href="#nav">Skip to navigation (Press Enter).</a></li>
	<li><a class="skip" href="#main">Skip to main content (Press Enter).</a></li>
</ul>

<div class="page_margins" id="top">
	<div class="page">
		<f:render partial="Header" />

		<f:render partial="Navigation" />

		<div class="rootline">
			<f:cObject typoscriptObjectPath="lib.rootline"/>
		</div>

		<div id="main">
			<f:render section="Main"/>
		</div>

		<f:render partial="Footer" />
	</div>

</div>

<script type="text/javascript">
//Skript für To-Top-Button
$(document).ready(function(){

	// Der Button wird mit JavaScript erzeugt und vor dem Ende des body eingebunden.
	var back_to_top_button = ['<p class="back-to-top"><a href="#top" alt="Nach oben scrollen"><span></span>Nach oben</a></p>'].join("");
	$("body").append(back_to_top_button)

	// Der Button wird ausgeblendet
	$(".back-to-top").hide();

	// Funktion für das Scroll-Verhalten
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 400) { // Wenn 100 Pixel gescrolled wurde
				$('.back-to-top').fadeIn();
			} else {
				$('.back-to-top').fadeOut();
			}
		});

		$('.back-to-top').click(function () { // Klick auf den Button
			$('body,html').animate({
				scrollTop: 0
			}, 800);
			document.getElementById("top").focus();
			return false;
		});
	});

});
</script>