{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<f:format.raw>
<f:if condition="{s:data.isArray(subject:'{s:data.valueForKey(array:document.fields, key:field)}')}">
	<f:then>
		{groupPrefix->f:format.raw()}
		<f:for each="{s:data.valueForKey(array:document.fields, key:field)}" as="value" iteration="iterator">
			{groupItemPrefix->f:format.raw()}{fieldPrefix->f:format.raw()}
				<f:alias map="{
					fieldContent:'{s:data.valueForKey(array:document.fields, key:field)}'
				}">
					<f:alias map="{
						bibPrefixContent:'{g:BibPrefix(array:fieldContent, key:0)}'
					}">
						{bibPrefixContent}
					</f:alias>
				</f:alias>
			{fieldSuffix->f:format.raw()}{f:if(condition:"{iterator.isLast}==0", then:" ; ")}{groupItemSuffix->f:format.raw()}
		</f:for>
		{groupSuffix->f:format.raw()}
	</f:then>
	<f:else>
		{fieldPrefix->f:format.raw()}
			<f:alias map="{
				fieldContent:'{s:data.valueForKey(array:document.fields, key:field)}'
			}">
				<f:alias map="{
					bibPrefixContent:'{g:BibPrefix(array:fieldContent, key:0)}'
				}">
					{bibPrefixContent}
				</f:alias>
			</f:alias>
		{fieldSuffix->f:format.raw()}
	</f:else>
</f:if>
</f:format.raw>
