{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<f:if condition="{s:data.isArray(subject:'{s:data.valueForKey(array:document.fields, key:field)}')}">
	<f:then>
		<f:alias map="{
			fieldContent:'{s:data.valueForKey(array:document.fields, key:field)}'
		}">
			<f:alias map="{
				bibSuffixContent:'{g:BibSuffix(array:fieldContent, key:0)}',
				contentNull:'---',
				bibSuffixVerbundFormat:'{s:data.valueForKey(array:document.fields.d034Isa, key:0)}',
				bibSuffixVerbundUmfang:'{s:data.valueForKey(array:document.fields.d034Dsa, key:0)}',
				bibSuffixVerbundIllus:'{s:data.valueForKey(array:document.fields.d034Msa, key:0)}'
			}">
				<f:if condition="{bibSuffixContent}=={contentNull}">
					<f:then>
						<f:if condition="{s:logic.or(conditions:'{0:document.d034I, 1:document.d034D, 2:document.d034M}')}">
									<br /><span class="titellabel">[Verbundangabe]</span>&nbsp;
									<f:if condition="{bibSuffixVerbundFormat}">
										<f:then>
											{bibSuffixVerbundFormat}
											<f:if condition="{bibSuffixVerbundUmfang}">
												<f:then>
													,&nbsp;{bibSuffixVerbundUmfang}
													<f:if condition="{bibSuffixVerbundIllus}">
														,&nbsp;{bibSuffixVerbundIllus}
													</f:if>
												</f:then>
												<f:else>
													<f:if condition="{bibSuffixVerbundIllus}">
														,&nbsp;{bibSuffixVerbundIllus}
													</f:if>
												</f:else>
											</f:if>
										</f:then>
										<f:else>
											<f:if condition="{bibSuffixVerbundUmfang}">
												<f:then>
													{bibSuffixVerbundUmfang}
													<f:if condition="{bibSuffixVerbundIllus}">
														,&nbsp;{bibSuffixVerbundIllus}
													</f:if>
												</f:then>
												<f:else>
													<f:if condition="{bibSuffixVerbundIllus}">
														{bibSuffixVerbundIllus}
													</f:if>
												</f:else>
											</f:if>
										</f:else>
									</f:if>
						</f:if>
					</f:then>
					<f:else>
								{bibSuffixContent}
								<f:if condition="{s:logic.or(conditions:'{0:document.d034I, 1:document.d034D, 2:document.d034M}')}">
									<br /><span class="titellabel">[Verbundangabe]</span>&nbsp;
									<f:if condition="{bibSuffixVerbundFormat}">
										<f:then>
											{bibSuffixVerbundFormat}
											<f:if condition="{bibSuffixVerbundUmfang}">
												<f:then>
													,&nbsp;{bibSuffixVerbundUmfang}
													<f:if condition="{bibSuffixVerbundIllus}">
														,&nbsp;{bibSuffixVerbundIllus}
													</f:if>
												</f:then>
												<f:else>
													<f:if condition="{bibSuffixVerbundIllus}">
														,&nbsp;{bibSuffixVerbundIllus}
													</f:if>
												</f:else>
											</f:if>
										</f:then>
										<f:else>
											<f:if condition="{bibSuffixVerbundUmfang}">
												<f:then>
													{bibSuffixVerbundUmfang}
													<f:if condition="{bibSuffixVerbundIllus}">
														,&nbsp;{bibSuffixVerbundIllus}
													</f:if>
												</f:then>
												<f:else>
													<f:if condition="{bibSuffixVerbundIllus}">
														{bibSuffixVerbundIllus}
													</f:if>
												</f:else>
											</f:if>
										</f:else>
									</f:if>
								</f:if>
					</f:else>
				</f:if>
			</f:alias>
		</f:alias>
	</f:then>
	<f:else>
		<f:alias map="{
			fieldContent:'{s:data.valueForKey(array:document.fields, key:field)}'
		}">
			<f:alias map="{
				bibSuffixContent:'{g:BibSuffix(array:fieldContent, key:0)}',
				contentNull:'---',
				bibSuffixVerbundFormat:'{s:data.valueForKey(array:document.fields.d034Isa, key:0)}',
				bibSuffixVerbundUmfang:'{s:data.valueForKey(array:document.fields.d034Dsa, key:0)}',
				bibSuffixVerbundIllus:'{s:data.valueForKey(array:document.fields.d034Msa, key:0)}'
			}">
				<f:if condition="{bibSuffixContent}=={contentNull}">
					<f:then>
						<f:if condition="{s:logic.or(conditions:'{0:document.d034I, 1:document.d034D, 2:document.d034M}')}">
									<br /><span class="titellabel">[Verbundangabe]</span>&nbsp;
									<f:if condition="{bibSuffixVerbundFormat}">
										<f:then>
											{bibSuffixVerbundFormat}
											<f:if condition="{bibSuffixVerbundUmfang}">
												<f:then>
													,&nbsp;{bibSuffixVerbundUmfang}
													<f:if condition="{bibSuffixVerbundIllus}">
														,&nbsp;{bibSuffixVerbundIllus}
													</f:if>
												</f:then>
												<f:else>
													<f:if condition="{bibSuffixVerbundIllus}">
														,&nbsp;{bibSuffixVerbundIllus}
													</f:if>
												</f:else>
											</f:if>
										</f:then>
										<f:else>
											<f:if condition="{bibSuffixVerbundUmfang}">
												<f:then>
													{bibSuffixVerbundUmfang}
													<f:if condition="{bibSuffixVerbundIllus}">
														,&nbsp;{bibSuffixVerbundIllus}
													</f:if>
												</f:then>
												<f:else>
													<f:if condition="{bibSuffixVerbundIllus}">
														{bibSuffixVerbundIllus}
													</f:if>
												</f:else>
											</f:if>
										</f:else>
									</f:if>
						</f:if>
					</f:then>
					<f:else>
								{bibSuffixContent}
								<f:if condition="{s:logic.or(conditions:'{0:document.d034I, 1:document.d034D, 2:document.d034M}')}">
									<br /><span class="titellabel">[Verbundangabe]</span>&nbsp;
									<f:if condition="{bibSuffixVerbundFormat}">
										<f:then>
											{bibSuffixVerbundFormat}
											<f:if condition="{bibSuffixVerbundUmfang}">
												<f:then>
													,&nbsp;{bibSuffixVerbundUmfang}
													<f:if condition="{bibSuffixVerbundIllus}">
														,&nbsp;{bibSuffixVerbundIllus}
													</f:if>
												</f:then>
												<f:else>
													<f:if condition="{bibSuffixVerbundIllus}">
														,&nbsp;{bibSuffixVerbundIllus}
													</f:if>
												</f:else>
											</f:if>
										</f:then>
										<f:else>
											<f:if condition="{bibSuffixVerbundUmfang}">
												<f:then>
													{bibSuffixVerbundUmfang}
													<f:if condition="{bibSuffixVerbundIllus}">
														,&nbsp;{bibSuffixVerbundIllus}
													</f:if>
												</f:then>
												<f:else>
													<f:if condition="{bibSuffixVerbundIllus}">
														{bibSuffixVerbundIllus}
													</f:if>
												</f:else>
											</f:if>
										</f:else>
									</f:if>
								</f:if>
					</f:else>
				</f:if>
			</f:alias>
		</f:alias>
	</f:else>
</f:if>