{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<f:format.raw>
<f:if condition="{s:data.isArray(subject:'{s:data.valueForKey(array:document.fields, key:field)}')}">
	<f:then>
		{groupPrefix->f:format.raw()}
		<f:for each="{s:data.valueForKey(array:document.fields, key:field2)}" as="value" iteration="iterator">
			{groupItemPrefix->f:format.raw()}{fieldPrefix->f:format.raw()}
				<f:alias map="{
					fieldName:'{f:translate(key:\"LLL:{settings.languageRootPath}locallang-fields.xml:field.{field}\", default:field)}',
					fieldContent:'{s:data.valueForKey(array:document.fields, key:field)}',
					fieldName2:'{f:translate(key:\"LLL:{settings.languageRootPath}locallang-fields.xml:field.{field2}\", default:field2)}',
					fieldContent2:'{s:data.valueForKey(array:document.fields, key:field2)}'
				}">
					<f:if condition="{s:data.isArray(subject:fieldContent)}">
						<f:then>
							<f:alias map="{
								i: iterator.index
							}">
								<f:alias map="{
									linkCondition:'{g:linkCondition(array:fieldContent2, key:i)}',
									artikelDigiTrue:'artikelDigi',
									artikelDigiBandTrue:'artikelDigiBand',
									artikelDigiIlluTrue:'artikelDigiIllu'
								}">
									<f:if condition="{linkCondition} == {artikelDigiTrue}">
										<f:then>
											<form>
												<outputImg>
													<f:alias map="{
														digiImg:'{g:digitalImage(array:fieldContent, key:i)}'
													}">
														<div id="tx_find-digiImg" class="tx_find-digiImg">
															<a rel="shadowbox[digiImg];width:550" title="Artikel-Digitalisat" href={digiImg}>
																<img src={digiImg} alt="Artikel-Digitalisat" />
															</a>
															
															
															<f:comment>
															<div id="tx_find-digiImg_followup" class="tx_find-digiImg_followup">
																<a rel="shadowbox[digiImg];width:550" title="Artikel-Digitalisat" href={digiImg}>
																	<img src={digiImg} alt="Artikel-Digitalisat" />
																</a>
																<a rel="shadowbox[digiImg];width:550" title="Artikel-Digitalisat" href={digiImg}>
																	<img src={digiImg} alt="Artikel-Digitalisat" />
																</a>
															</div>
															</f:comment>
															
															
														</div>
													</f:alias>
													<br />
												</outputImg>
											</form>
										</f:then>
										<f:else>
											<f:if condition="{linkCondition} == {artikelDigiBandTrue}">
												<f:then>
													<form>
														<outputImg>
															<f:alias map="{
																digiImg:'{g:digitalImage(array:fieldContent, key:i)}'
															}">
																<div id="tx_find-digiImg" class="tx_find-digiImg">
																	<a rel="shadowbox[digiImg];width:550" title="Artikel-Digitalisat" href={digiImg}>
																		<img src={digiImg} alt="Artikel-Digitalisat" />
																	</a>
																</div>
															</f:alias>
															<br />
														</outputImg>
													</form>
												</f:then>
												<f:else>
													<f:if condition="{linkCondition} == {artikelDigiIlluTrue}">
														<f:then>
															<form>
																<outputImg>
																	<f:alias map="{
																		digiImg:'{g:digitalImage(array:fieldContent, key:i)}'
																	}">
																		<div id="tx_find-digiImg" class="tx_find-digiImg">
																			<a rel="shadowbox[digiImg];width:550" title="Artikel-Digitalisat" href={digiImg}>
																				<img src={digiImg} alt="Artikel-Digitalisat" />
																			</a>
																		</div>
																	</f:alias>
																	<br />
																</outputImg>
															</form>
														</f:then>
													</f:if>
												</f:else>
											</f:if>
										</f:else>
									</f:if>
								</f:alias>
							</f:alias>
						</f:then>
						<f:else>
							<f:alias map="{
								i: iterator.index
							}">
								<f:alias map="{
									linkCondition:'{g:linkCondition(array:fieldContent2, key:i)}',
									artikelDigiTrue:'artikelDigi',
									artikelDigiBandTrue:'artikelDigiBand',
									artikelDigiIlluTrue:'artikelDigiIllu'
								}">
									<f:if condition="{linkCondition} == {artikelDigiTrue}">
										<f:then>
											<form>
												<outputImg>
													<f:alias map="{
														digiImg:'{g:digitalImage(array:fieldContent, key:i)}'
													}">
														<div id="tx_find-digiImg" class="tx_find-digiImg">
															<a rel="shadowbox[digiImg];width:550" title="Artikel-Digitalisat" href={digiImg}>
																<img src={digiImg} alt="Artikel-Digitalisat" />
															</a>
														</div>
													</f:alias>
													<br />
												</outputImg>
											</form>
										</f:then>
										<f:else>
											<f:if condition="{linkCondition} == {artikelDigiBandTrue}">
												<f:then>
													<form>
														<outputImg>
															<f:alias map="{
																digiImg:'{g:digitalImage(array:fieldContent, key:i)}'
															}">
																<div id="tx_find-digiImg" class="tx_find-digiImg">
																	<a rel="shadowbox[digiImg];width:550" title="Artikel-Digitalisat" href={digiImg}>
																		<img src={digiImg} alt="Artikel-Digitalisat" />
																	</a>
																</div>
															</f:alias>
															<br />
														</outputImg>
													</form>
												</f:then>
												<f:else>
													<f:if condition="{linkCondition} == {artikelDigiIlluTrue}">
														<f:then>
															<form>
																<outputImg>
																	<f:alias map="{
																		digiImg:'{g:digitalImage(array:fieldContent, key:i)}'
																	}">
																		<div id="tx_find-digiImg" class="tx_find-digiImg">
																			<a rel="shadowbox[digiImg];width:550" title="Artikel-Digitalisat" href={digiImg}>
																				<img src={digiImg} alt="Artikel-Digitalisat" />
																			</a>
																		</div>
																	</f:alias>
																	<br />
																</outputImg>
															</form>
														</f:then>
													</f:if>
												</f:else>
											</f:if>
										</f:else>
									</f:if>
								</f:alias>
							</f:alias>
						</f:else>
					</f:if>
				</f:alias>
			{fieldSuffix->f:format.raw()}{f:if(condition:"{iterator.isLast}==0", then:separator)}{groupItemSuffix->f:format.raw()}
		</f:for>
		{groupSuffix->f:format.raw()}
	</f:then>
	<f:else>
		{fieldPrefix->f:format.raw()}
			<f:alias map="{
				fieldName:'{f:translate(key:\"LLL:{settings.languageRootPath}locallang-fields.xml:field.{field}\", default:field)}',
				fieldContent:'{s:data.valueForKey(array:document.fields, key:field)}',
				fieldName2:'{f:translate(key:\"LLL:{settings.languageRootPath}locallang-fields.xml:field.{field2}\", default:field2)}',
				fieldContent2:'{s:data.valueForKey(array:document.fields, key:field2)}'
			}">
				<f:if condition="{s:data.isArray(subject:fieldContent)}">
					<f:then>
						<f:alias map="{
							i: iterator.index
						}">
							<f:alias map="{
								linkCondition:'{g:linkCondition(array:fieldContent2, key:i)}',
								artikelDigiTrue:'artikelDigi',
								artikelDigiBandTrue:'artikelDigiBand',
								artikelDigiIlluTrue:'artikelDigiIllu'
							}">
								<f:if condition="{linkCondition} == {artikelDigiTrue}">
									<f:then>
										<form>
											<outputImg>
												<f:alias map="{
													digiImg:'{g:digitalImage(array:fieldContent, key:i)}'
												}">
													<div id="tx_find-digiImg" class="tx_find-digiImg">
														<a rel="shadowbox[digiImg];width:550" title="Artikel-Digitalisat" href={digiImg}>
															<img src={digiImg} alt="Artikel-Digitalisat" />
														</a>
													</div>
												</f:alias>
												<br />
											</outputImg>
										</form>
									</f:then>
									<f:else>
										<f:if condition="{linkCondition} == {artikelDigiBandTrue}">
											<f:then>
												<form>
													<outputImg>
														<f:alias map="{
															digiImg:'{g:digitalImage(array:fieldContent, key:i)}'
														}">
															<div id="tx_find-digiImg" class="tx_find-digiImg">
																<a rel="shadowbox[digiImg];width:550" title="Artikel-Digitalisat" href={digiImg}>
																	<img src={digiImg} alt="Artikel-Digitalisat" />
																</a>
															</div>
														</f:alias>
														<br />
													</outputImg>
												</form>
											</f:then>
											<f:else>
												<f:if condition="{linkCondition} == {artikelDigiIlluTrue}">
													<f:then>
														<form>
															<outputImg>
																<f:alias map="{
																	digiImg:'{g:digitalImage(array:fieldContent, key:i)}'
																}">
																	<div id="tx_find-digiImg" class="tx_find-digiImg">
																		<a rel="shadowbox[digiImg];width:550" title="Artikel-Digitalisat" href={digiImg}>
																			<img src={digiImg} alt="Artikel-Digitalisat" />
																		</a>
																	</div>
																</f:alias>
																<br />
															</outputImg>
														</form>
													</f:then>
												</f:if>
											</f:else>
										</f:if>
									</f:else>
								</f:if>
							</f:alias>
						</f:alias>
					</f:then>
					<f:else>
						<f:alias map="{
							i: iterator.index
						}">
							<f:alias map="{
								linkCondition:'{g:linkCondition(array:fieldContent2, key:i)}',
								artikelDigiTrue:'artikelDigi',
								artikelDigiBandTrue:'artikelDigiBand',
								artikelDigiIlluTrue:'artikelDigiIllu'
							}">
								<f:if condition="{linkCondition} == {artikelDigiTrue}">
									<f:then>
										<form>
											<outputImg>
												<f:alias map="{
													digiImg:'{g:digitalImage(array:fieldContent, key:i)}'
												}">
													<div id="tx_find-digiImg" class="tx_find-digiImg">
														<a rel="shadowbox[digiImg];width:550" title="Artikel-Digitalisat" href={digiImg}>
															<img src={digiImg} alt="Artikel-Digitalisat" />
														</a>
													</div>
												</f:alias>
												<br />
											</outputImg>
										</form>
									</f:then>
									<f:else>
										<f:if condition="{linkCondition} == {artikelDigiBandTrue}">
											<f:then>
												<form>
													<outputImg>
														<f:alias map="{
															digiImg:'{g:digitalImage(array:fieldContent, key:i)}'
														}">
															<div id="tx_find-digiImg" class="tx_find-digiImg">
																<a rel="shadowbox[digiImg];width:550" title="Artikel-Digitalisat" href={digiImg}>
																	<img src={digiImg} alt="Artikel-Digitalisat" />
																</a>
															</div>
														</f:alias>
														<br />
													</outputImg>
												</form>
											</f:then>
											<f:else>
												<f:if condition="{linkCondition} == {artikelDigiIlluTrue}">
													<f:then>
														<form>
															<outputImg>
																<f:alias map="{
																	digiImg:'{g:digitalImage(array:fieldContent, key:i)}'
																}">
																	<div id="tx_find-digiImg" class="tx_find-digiImg">
																		<a rel="shadowbox[digiImg];width:550" title="Artikel-Digitalisat" href={digiImg}>
																			<img src={digiImg} alt="Artikel-Digitalisat" />
																		</a>
																	</div>
																</f:alias>
																<br />
															</outputImg>
														</form>
													</f:then>
												</f:if>
											</f:else>
										</f:if>
									</f:else>
								</f:if>
							</f:alias>
						</f:alias>
					</f:else>
				</f:if>
			</f:alias>
		{fieldSuffix->f:format.raw()}
	</f:else>
</f:if>
</f:format.raw>
