{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<f:format.raw>
<form>
	<label>
		ersetzt durch :
	</label>
	<output>
		<ul style="margin-bottom:0px;">
			<f:for each="{s:data.valueForKey(array:document.fields, key:field)}" as="value" iteration="iterator">
				<f:alias map="{
					fieldContentArr:'{s:data.valueForKey(array:document.fields, key:field)}'
				}">
					<f:alias map="{
						fieldContent:'{s:data.valueForKey(array:fieldContentArr, key:iterator.index)}'
					}">
						<li>
							{fieldContent}
						</li>
					</f:alias>
				</f:alias>
			</f:for>
		</ul>
	</output>
</form>
</f:format.raw>
