{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<f:format.raw>
<form>
	<label>
		Oberbegriff(e) :
	</label>
	<output>
		<ul style="margin-bottom:0px;">
			<f:for each="{s:data.valueForKey(array:document.fields, key:'pd041Rs4')}" as="value" iteration="iterator">
				<f:alias map="{
					fieldTypeContentArr:'{s:data.valueForKey(array:document.fields, key:\'pd041Rs4\')}',
					fieldContentArr:'{s:data.valueForKey(array:document.fields, key:\'pd041Rsa\')}'
				}">
					<f:alias map="{
						fieldTypeContent:'{s:data.valueForKey(array:fieldTypeContentArr, key:iterator.index)}',
						OBTrue:'obal',
						fieldContent:'{s:data.valueForKey(array:fieldContentArr, key:iterator.index)}',
						prefix1:'startseite/',
						prefix2:'id/',
						ppn:'{s:data.valueForKey(array:document.fields.pd041Rs9, key:iterator.index)}',
						suffix:'/#tx_find'
					}">
						<f:if condition="{fieldTypeContent}=={OBTrue}">
							<li>
								<f:alias map="{
									target:'{prefix1}{prefix2}{ppn}{suffix}'
								}">
									<a href="{target}">{fieldContent}</a>
								</f:alias>
							</li>
						</f:if>
					</f:alias>
				</f:alias>
			</f:for>
		</ul>
	</output>
</form>
</f:format.raw>
