{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<f:format.raw>
<f:if condition="{s:data.isArray(subject:'{s:data.valueForKey(array:document.fields, key:field1)}')}">
	<f:if condition="{f:count(subject:'{s:data.valueForKey(array:document.fields, key:field1)}')} != 1">
		<f:then>
			<label>
				Körperschaften :
			</label>
			<output>
				<ul style="margin-bottom:0px;">
					{groupPrefix->f:format.raw()}
					<f:for each="{s:data.valueForKey(array:document.fields, key:field1)}" as="value" iteration="iterator">
						{groupItemPrefix->f:format.raw()}{fieldPrefix->f:format.raw()}
							<f:alias map="{
								field1ContentArr:'{s:data.valueForKey(array:document.fields, key:field1)}',
								field2ContentArr:'{s:data.valueForKey(array:document.fields, key:field2)}',
								field3ContentArr:'{s:data.valueForKey(array:document.fields, key:field3)}',
								field4ContentArr:'{s:data.valueForKey(array:document.fields, key:field4)}'
							}">
								<f:alias map="{
									field1Content:'{s:data.valueForKey(array:field1ContentArr, key:iterator.index)}',
									field2Content:'{s:data.valueForKey(array:field2ContentArr, key:iterator.index)}',
									field3Content:'{s:data.valueForKey(array:field3ContentArr, key:iterator.index)}',
									field4Content:'{s:data.valueForKey(array:field4ContentArr, key:iterator.index)}'
								}">
									<li>
										<f:if condition="{field1Content}">
											<f:then>
												{field1Content}
											</f:then>
											<f:else>
												<f:if condition="{field2Content}">
													<f:then>
														{field2Content}
													</f:then>
													<f:else>
														<f:if condition="{field3Content}">
															<f:then>
																{field3Content}
															</f:then>
														</f:if>
													</f:else>
												</f:if>
											</f:else>
										</f:if>
										<f:if condition="{field4Content}">
											<span style="color:#999999;">
												<i>
													(<f:for each="{g:rolesArray(array:document.fields, key:field4)}" as="valueRole" iteration="iteratorRole"><f:translate key="LLL:{settings.languageRootPath}locallang-roles.xml:facet.role.{valueRole}" default="{valueRole}"/>{f:if(condition:"{iteratorRole.isLast}==0", then:", ")}</f:for>)
												</i>
											</span>
										</f:if>
									</li>
								</f:alias>
							</f:alias>
						{fieldSuffix->f:format.raw()}{f:if(condition:"{iterator.isLast}==0", then:separator)}{groupItemSuffix->f:format.raw()}
					</f:for>
					{groupSuffix->f:format.raw()}
				</ul>
			</output>
		</f:then>
		<f:else>
			<label>
				Körperschaft :
			</label>
			<output>
				<f:alias map="{
					field1ContentArr:'{s:data.valueForKey(array:document.fields, key:field1)}',
					field2ContentArr:'{s:data.valueForKey(array:document.fields, key:field2)}',
					field3ContentArr:'{s:data.valueForKey(array:document.fields, key:field3)}',
					field4ContentArr:'{s:data.valueForKey(array:document.fields, key:field4)}'
				}">
					<f:alias map="{
						field1Content:'{s:data.valueForKey(array:field1ContentArr, key:0)}',
						field2Content:'{s:data.valueForKey(array:field2ContentArr, key:0)}',
						field3Content:'{s:data.valueForKey(array:field3ContentArr, key:0)}',
						field4Content:'{s:data.valueForKey(array:field4ContentArr, key:0)}'
					}">
						<f:if condition="{field1Content}">
							<f:then>
								{field1Content}
							</f:then>
							<f:else>
								<f:if condition="{field2Content}">
									<f:then>
										{field2Content}
									</f:then>
									<f:else>
										<f:if condition="{field3Content}">
											<f:then>
												{field3Content}
											</f:then>
										</f:if>
									</f:else>
								</f:if>
							</f:else>
						</f:if>
						<f:if condition="{field4Content}">
							<span style="color:#999999;">
								<i>
									(<f:for each="{g:rolesArray(array:document.fields, key:field4)}" as="valueRole" iteration="iteratorRole"><f:translate key="LLL:{settings.languageRootPath}locallang-roles.xml:facet.role.{valueRole}" default="{valueRole}"/>{f:if(condition:"{iteratorRole.isLast}==0", then:", ")}</f:for>)
								</i>
							</span>
						</f:if>
					</f:alias>
				</f:alias>
			</output>
		</f:else>
	</f:if>
</f:if>
</f:format.raw>
