{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<f:format.raw>
<f:if condition="{{s:logic.or(conditions:'{0:document.fields.field1, 1:document.fields.field2, 2:document.fields.field3, 3:document.fields.field4, 4:document.fields.field5}')}}">
	<f:alias map="{
		field1Content:'{s:data.valueForKey(array:document.fields, key:field1)}',
		field2Content:'{s:data.valueForKey(array:document.fields, key:field2)}',
		field3Content:'{s:data.valueForKey(array:document.fields, key:field3)}',
		field4Content:'{s:data.valueForKey(array:document.fields, key:field4)}',
		field5Content:'{s:data.valueForKey(array:document.fields, key:field5)}'
	}">
		<g:strreplace search=" " replace="&nbsp;">
			<f:if condition="{field1Content.0}">
				<f:then>
					{field1Content.0}<f:if condition="{field5Content.0}">&nbsp;(d.i.&nbsp;{field5Content.0})</f:if>
				</f:then>
				<f:else>
					<f:if condition="{field2Content.0}">
						{field2Content.0}<f:if condition="{field3Content.0}">,&nbsp;{field3Content.0}</f:if>
					</f:if>
				</f:else>
			</f:if>
		</g:strreplace>
		<f:if condition="{field4Content.0}">
			<span style="color:#999999;">
				<i>
					<g:strreplace search="erm." replace="ermittelter">
					<g:strreplace search="mutmaßl." replace="mutmaßlicher">
					<g:strreplace search="angebl." replace="angeblicher">
					<g:strreplace search="Verf." replace="Verfasser">
					<g:strreplace search="Hrsg." replace="Herausgeber">
					<g:strreplace search="Ill." replace="Illustrator">
					<g:strreplace search="Übers." replace="Übersetzer">
					<g:strreplace search="Bearb." replace="Bearbeiter">
					<g:strreplace search="Vorr." replace="Verfasser des Vorwortes">
					<g:strreplace search="Resp." replace="Respondent">
					<g:strreplace search="Komp." replace="Komponist">
						<g:strreplace search=" " replace="&nbsp;">
							(<f:for each="{g:rolesArray(array:document.fields, key:field4)}" as="valueRole" iteration="iteratorRole"><f:translate key="LLL:{settings.languageRootPath}locallang-roles.xml:facet.role.{valueRole}" default="{valueRole}"/>{f:if(condition:"{iteratorRole.isLast}==0", then:", ")}</f:for>)
						</g:strreplace>
					</g:strreplace>
					</g:strreplace>
					</g:strreplace>
					</g:strreplace>
					</g:strreplace>
					</g:strreplace>
					</g:strreplace>
					</g:strreplace>
					</g:strreplace>
					</g:strreplace>
					</g:strreplace>
				</i>
			</span>
		</f:if>
	</f:alias>
</f:if>
</f:format.raw>
