{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

{groupPrefix->f:format.raw()}
<f:for each="{s:data.valueForKey(array:document.fields, key:field4)}" as="value" iteration="iterator">
	{groupItemPrefix->f:format.raw()}{fieldPrefix->f:format.raw()}
	<f:if condition="{{s:logic.or(conditions:'{0:document.fields.field1, 1:document.fields.field2, 2:document.fields.field3, 3:document.fields.field4, 4:document.fields.field5}')}}">
		<f:alias map="{
			field1ContentArr:'{s:data.valueForKey(array:document.fields, key:field1)}',
			field2ContentArr:'{s:data.valueForKey(array:document.fields, key:field2)}',
			field3ContentArr:'{s:data.valueForKey(array:document.fields, key:field3)}',
			field4ContentArr:'{s:data.valueForKey(array:document.fields, key:field4)}',
			field5ContentArr:'{s:data.valueForKey(array:document.fields, key:field5)}'
		}">
			<f:alias map="{
				field1Content:'{s:data.valueForKey(array:field1ContentArr, key:iterator.index)}',
				field2Content:'{s:data.valueForKey(array:field2ContentArr, key:iterator.index)}',
				field3Content:'{s:data.valueForKey(array:field3ContentArr, key:iterator.index)}',
				field4Content:'{s:data.valueForKey(array:field4ContentArr, key:iterator.index)}',
				field5Content:'{s:data.valueForKey(array:field5ContentArr, key:iterator.index)}'
			}">
				<li>
					<g:strreplace search=" " replace="&#8239;">
						<f:if condition="{field1Content}">
							<f:then>
								{field1Content}<f:if condition="{field5Content}">&#8239;(d.i.&#8239;{field5Content})</f:if>
							</f:then>
							<f:else>
								<f:if condition="{field2Content}">
									{field2Content}<f:if condition="{field3Content}">,&#8239;{field3Content}</f:if>
								</f:if>
							</f:else>
						</f:if>
					</g:strreplace>
					<f:if condition="{field4Content}">
						<span style="color:#999999;">
							<i>
								<g:strreplace search=" " replace="&#8239;">
									({field4Content})
								</g:strreplace>
							</i>
						</span>
					</f:if>
				</li>
			</f:alias>
		</f:alias>
	</f:if>
	{fieldSuffix->f:format.raw()}{f:if(condition:"{iterator.isLast}==0", then:"")}{groupItemSuffix->f:format.raw()}
</f:for>
{groupSuffix->f:format.raw()}