{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<ul style="margin-bottom:0px; list-style-type: none; margin-left:-1px;">
	<f:for each="{s:data.valueForKey(array:document.fields, key:field1)}" as="value1" iteration="iterator1">
		<f:alias map="{
			fieldContent:'{s:data.valueForKey(array:document.fields, key:field1)}'
		}">
			<f:alias map="{
				fieldContentSpec:'{s:data.valueForKey(array:fieldContent, key:iterator1.index)}'
			}">
				<f:alias map="{
					transl:'{f:translate(key:\'LLL:{settings.languageRootPath}locallang.xml:{fieldContentSpec}\')}'
				}">
					<f:if condition="{transl}">
						<f:then>
							<li style="padding:0px 0px 0px 0px;">
								{transl}
							</li>
						</f:then>
						<f:else>
							<li style="padding:0px 0px 0px 0px;">
								{fieldContentSpec}
							</li>
						</f:else>
					</f:if>
				</f:alias>
			</f:alias>
		</f:alias>
	</f:for>
	<f:for each="{s:data.valueForKey(array:document.fields, key:field2)}" as="value2" iteration="iterator2">
		<f:alias map="{
			fieldContent:'{s:data.valueForKey(array:document.fields, key:field2)}'
		}">
			<f:alias map="{
				fieldContentSpec:'{s:data.valueForKey(array:fieldContent, key:iterator2.index)}'
			}">
				<f:alias map="{
					transl:'{f:translate(key:\'LLL:{settings.languageRootPath}locallang.xml:{fieldContentSpec}\')}'
				}">
					<f:if condition="{transl}">
						<f:then>
							<li style="padding:0px 0px 0px 0px;">
								{transl}<i>&nbsp;(Intermediärsprache)</i>
							</li>
						</f:then>
						<f:else>
							<li style="padding:0px 0px 0px 0px;">
								{fieldContentSpec}<i>&nbsp;(Intermediärsprache)</i>
							</li>
						</f:else>
					</f:if>
				</f:alias>
			</f:alias>
		</f:alias>
	</f:for>
	<f:for each="{s:data.valueForKey(array:document.fields, key:field3)}" as="value3" iteration="iterator3">
		<f:alias map="{
			fieldContent:'{s:data.valueForKey(array:document.fields, key:field3)}'
		}">
			<f:alias map="{
				fieldContentSpec:'{s:data.valueForKey(array:fieldContent, key:iterator3.index)}'
			}">
				<f:alias map="{
					transl:'{f:translate(key:\'LLL:{settings.languageRootPath}locallang.xml:{fieldContentSpec}\')}'
				}">
					<f:if condition="{transl}">
						<f:then>
							<li style="padding:0px 0px 0px 0px;">
								{transl}<i>&nbsp;(Originalsprache)</i>
							</li>
						</f:then>
						<f:else>
							<li style="padding:0px 0px 0px 0px;">
								{fieldContentSpec}<i>&nbsp;(Originalsprache)</i>
							</li>
						</f:else>
					</f:if>
				</f:alias>
			</f:alias>
		</f:alias>
	</f:for>
</ul>

