{namespace s=Subugoe\Find\ViewHelpers}
{namespace g=Gjz18\TmplGjz\ViewHelpers}

<f:if condition="{s:data.valueForKey(array:document.fields, key:field0)}">
  <f:alias map="{
    counter3060:'{f:count(subject:document.fields.d028L)}'
  }">
    <f:if condition="{counter3060} > 1">
      <f:then>
        {groupPrefix->f:format.raw()}
        <f:if condition="{prefixString}">
          <span class="prefix-{field}">{prefixString}</span>
        </f:if>
        <f:for each="{s:data.valueForKey(array:document.fields, key:field0)}" as="value" iteration="iterator">
          {groupItemPrefix->f:format.raw()}{fieldPrefix->f:format.raw()}
          <g:strreplace search="Widmungsempfänger" replace="">
            <g:strreplace search="WidmungsempfängerIn" replace="">
              <g:strreplace search="dte" replace="">
                <g:strreplace search="(-gen-f-)" replace="">
                  {s:data.valueForKey(array:document.fields.d028L, key:iterator.index)}
                </g:strreplace>
              </g:strreplace>
            </g:strreplace>
          </g:strreplace><i>(Widmungsempfänger)</i>
          {fieldSuffix->f:format.raw()}{f:if(condition:"{iterator.isLast}==0", then:separator)}{groupItemSuffix->f:format.raw()}
        </f:for>
        {groupSuffix->f:format.raw()}
      </f:then>
      <f:else>
        {fieldPrefix->f:format.raw()}
        <f:if condition="{prefixString}">
          <span class="prefix-{field}">{prefixString}</span>
        </f:if>
        <f:if condition="{s:logic.or(conditions:'{0:document.fields.field1, 1:document.fields.field2, 2:document.fields.field3, 3:document.fields.field4, 4:document.fields.field5, 5:document.fields.field6}')}">
          <f:alias map="{
            field1Content:'{s:data.valueForKey(array:document.fields.d028Lsa, key:0)}',
            field2Content:'{s:data.valueForKey(array:document.fields.d028Lsd, key:0)}',
            field3Content:'{s:data.valueForKey(array:document.fields.d028Lsc, key:0)}',
            field4Content:'{s:data.valueForKey(array:document.fields.d028Lsl, key:0)}',
            field5Content:'{s:data.valueForKey(array:document.fields.d028LsB, key:0)}',
            field6Content:'{s:data.valueForKey(array:document.fields.d028LsP, key:0)}',
            field7Content:'{s:data.valueForKey(array:document.fields.d028Lsf, key:0)}'
          }">
            <f:if condition="{field1Content}">
              <f:then>
                {field1Content}
                <f:if condition="{s:logic.or(conditions:'{0:field2Content, 1:field3Content}')}">
                  ,
                </f:if>
                <f:if condition="{field2Content}">
                  {field2Content}
                </f:if>
                <f:if condition="{field3Content}">
                  {field3Content}
                </f:if>
              </f:then>
              <f:else>
                <f:if condition="{field2Content}">
                  <f:then>
                    {field2Content}
                    <f:if condition="{field3Content}">
                      {field3Content}
                    </f:if>
                  </f:then>
                  <f:else>
                    <f:if condition="{field3Content}">
                      <f:then>
                        {field3Content}
                      </f:then>
                      <f:else>
                        <f:if condition="{field6Content}">
                          {field6Content}
                        </f:if>
                      </f:else>
                    </f:if>
                  </f:else>
                </f:if>
              </f:else>
            </f:if>
            <f:if condition="{s:logic.and(conditions:'{0:field4Content, 1:field7Content}')}">
              <f:then>
                ({field4Content}; {field7Content})
              </f:then>
              <f:else>
                <f:if condition="{field4Content}">
                  ({field4Content})
                </f:if>
                <f:if condition="{field7Content}">
                  ({field7Content})
                </f:if>
              </f:else>
            </f:if>
            <f:if condition="{field5Content}">
              <i>(<f:translate key="LLL:{settings.languageRootPath}locallang-roles.xml:facet.role.{field5Content}" default="{field5Content}"/>)</i>
            </f:if>
          </f:alias>
        </f:if>
        {fieldSuffix->f:format.raw()}
      </f:else>
    </f:if>
  </f:alias>
</f:if>