<f:format.raw>
<div id="footer" role="contentinfo">
	&copy; 2011-<span><f:format.date format="Y">NOW</f:format.date></span>&nbsp;&nbsp;GJZ18<br/>Layout based on
	<a href="http://www.yaml.de/" target="_blank" title="www.yaml.de | Yet Another Multicolumn Layout">YAML</a><br/>

	<div id="footernav" role="contentinfo">
		<f:cObject typoscriptObjectPath="lib.footernav" /><br/>
		Tel.:&nbsp;<a href="tel:+49-551-39-21554" title="Anruf bei GJZ18">+49 (0) 551 39-21554</a>&nbsp; | &nbsp;E-Mail: <a href="javascript:linkTo_UnCryptMailto('ocknvq,ilb3:Biyfi0fg');" title="E-Mail an GJZ18">gjz18 (at) gwdg.de</a>
	</div>
</div>
</f:format.raw>
