<f:layout name="Start" />

<f:section name="Main">
	<div class="page_margins_home">
	  <div class="page_home">
	    <!-- begin: main content area #main -->
	    <div id="main_home">

	      <!-- Subtemplate: 2 Spalten mit 33/50 Teilung -->
	      <div class="subcolumns_home">
	        <div class="c33l_home">
	          <div class="subcl_home">
	            <!-- Inhalt linker Block -->
	            <!--<h1><img src="images/LOGO_header.png" style="margin-bottom:-35px;"></h1>-->
	      <a href="startseite/" title="Gelehrte Journale und Zeitungen: Startseite | Home | Accueil" id="gjz-logo-home">Gelehrte Journale und Zeitungen: Startseite</a>
	          </div>
	        </div>

	        <div class="c50r_home">
	          <div class="subcr_home">
	            <!-- Inhalt rechter Block -->
	            <h1>Gelehrte Journale und Zeitungen<br/>der Aufklärung</h1>
	      <div id="home_nav" role="contentinfo">
	        <br/><br/>
	        <span class="homeNavi">
				<a href="/startseite/" class="homeLink" title="Gelehrte Journale und Zeitungen: Startseite">deutsch</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="/en/home/" class="homeLink" title="Scholarly journals: Home">english</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="/fr/accueil/" class="homeLink" title="Périodiques savants de l'époque de l'Aufklärung: Accueil">français</a>
	        </span>
	      </div>
	          </div>
	        </div>
	      </div><!-- Ende 25/75 -->

	    </div>
	    <!-- end: #main -->
	  </div>

	  <div class="slider_home">
		  <f:cObject typoscriptObjectPath="lib.content" />

	  </div>

	</div>
</f:section>