<!-- Subtemplate: 2 Spalten mit 50/50 Teilung -->
<div class="subcolumns">
	<div class="c50l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c50r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div><!-- Ende 50/50 -->     <!-- Subtemplate: 2 Spalten mit 33/66 Teilung -->
<div class="subcolumns">
	<div class="c33l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c66r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div><!-- Ende 33/66 -->   <!-- Subtemplate: 2 Spalten mit 66/33 Teilung -->
<div class="subcolumns">
	<div class="c66l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c33r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div><!-- Ende 66/33 -->   <!-- Subtemplate: 2 Spalten mit 25/75 Teilung -->
<div class="subcolumns">
	<div class="c25l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c75r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div><!-- Ende 25/75 -->     <!-- Subtemplate: 2 Spalten mit 75/25 Teilung -->
<div class="subcolumns">
	<div class="c75l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c25r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div><!-- Ende 75/25 -->     <!-- Subtemplate: 2 Spalten mit 62/38 Teilung Goldener Schnitt -->
<div class="subcolumns">
	<div class="c62l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c38r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div><!-- Ende 62/38 -->     <!-- Subtemplate: 2 Spalten mit 38/62 Teilung Goldener Schnitt -->
<div class="subcolumns">
	<div class="c38l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c62r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div><!-- Ende 38/62 -->     <!-- Subtemplate: 3 Spalten mit 33/33/33 Teilung -->
<div class="subcolumns">
	<div class="c33l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c33l">
		<div class="subc">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c33r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div><!-- Ende 33/33/33 -->   <!-- Subtemplate: 3 Spalten mit 25/50/25 Teilung -->
<div class="subcolumns">
	<div class="c25l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c50l">
		<div class="subc">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c25r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div><!-- Ende 25/50/25 -->     <!-- ab YAML 3.1 Defintion von gleich hohen Container mittels der Klasse equalize -->   <!-- Subtemplate: 2 Spalten mit 50/50 Teilung -->
<div class="subcolumns equalize">
	<div class="c50l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c50r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div>     <!-- Subtemplate: 2 Spalten mit 33/66 Teilung -->
<div class="subcolumns equalize">
	<div class="c33l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c66r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div>   <!-- Subtemplate: 2 Spalten mit 66/33 Teilung -->
<div class="subcolumns equalize">
	<div class="c66l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c33r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div>   <!-- Subtemplate: 2 Spalten mit 25/75 Teilung -->
<div class="subcolumns equalize">
	<div class="c25l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c75r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div>     <!-- Subtemplate: 2 Spalten mit 75/25 Teilung -->
<div class="subcolumns equalize">
	<div class="c75l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c25r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div>     <!-- Subtemplate: 2 Spalten mit 62/38 Teilung Goldener Schnitt -->
<div class="subcolumns equalize">
	<div class="c62l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c38r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div>     <!-- Subtemplate: 2 Spalten mit 38/62 Teilung Goldener Schnitt -->
<div class="subcolumns equalize">
	<div class="c38l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c62r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div>     <!-- Subtemplate: 3 Spalten mit 33/33/33 Teilung -->
<div class="subcolumns equalize">
	<div class="c33l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c33l">
		<div class="subc">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c33r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div>   <!-- Subtemplate: 3 Spalten mit 25/50/25 Teilung -->
<div class="subcolumns equalize">
	<div class="c25l">
		<div class="subcl">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c50l">
		<div class="subc">       <!-- Inhalt linker Block -->       ...</div>
	</div>
	<div class="c25r">
		<div class="subcr">       <!-- Inhalt rechter Block -->       ...</div>
	</div>
</div>